services:

  db:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    platform: linux/amd64
    environment:
      MYSQL_ROOT_PASSWORD: uchome

  adminer:
    image: adminer
    platform: linux/amd64
    restart: always
    ports:
      - 8081:8080

  uchome:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    depends_on:
      - db
    ports:
      - 80:80
    expose:
      - 80
    volumes:
      - /Users/nkthanh/code/zingme/data/uchome.com/admin/UploadFiles/:/var/www/admin/UploadFiles/:rw
      - ./www/home/config.php:/var/www/home/config.php

      - ./www/home/fish.php:/var/www/home/fish.php
      - ./www/home/fish:/var/www/home/fish:rw
      - ./www/home/qqfarm.php:/var/www/home/qqfarm.php
      - ./www/home/qqfarm:/var/www/home/qqfarm:rw
    environment:
      - HTTPS_METHOD=noredirect
    env_file:
      - .env
