services:

  db:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    platform: linux/amd64
    # network_mode: bridge
    environment:
      MYSQL_ROOT_PASSWORD: uchome

  adminer:
    image: adminer
    # network_mode: bridge
    platform: linux/amd64
    restart: always
    ports:
      - 8081:8080

  uchome:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: uchome
    # network_mode: bridge
    platform: linux/amd64
    depends_on:
      - db
    ports:
      - 8080:80
    expose:
      - 80
    volumes:
#      - ./data/uchome-install:/var/www/install:rw
      - /Users/nkthanh/code/zingme/data/uchome.com/admin/UploadFiles/:/var/www/admin/UploadFiles/:rw
      # Mount config so DB host/password changes take effect without rebuilding image (rw so installer can write)
      - ./www/home/config.php:/var/www/home/config.php
    environment:
      - HTTPS_METHOD=noredirect
    env_file:
      - .env
