<!--{template header}-->
<!--{template cp_header}-->

<script type="text/javascript">
	function updateavatar() {
		window.location.reload();
	}
</script>
<form method="post" action="cp.php?ac=avatar&ref" class="c_form">
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Ảnh đại diện hiện tại</h2>
			<p>Nếu bạn chưa thiết lập ảnh đại diện, hệ thống sẽ hiển thị ảnh mặc định. Bạn cần tải lên một bức ảnh mới để làm ảnh đại diện cá nhân.</p>
		</caption>
		<tr>
			<td>
				<!--{avatar($space[uid],big)}-->
			</td>
		</tr>
	</table>

	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Thiết lập ảnh đại diện mới</h2>
			<p>Vui lòng chọn một ảnh mới để tải lên và chỉnh sửa.</p>
		</caption>
		<tr>
			<td>$uc_avatarflash</td>
		</tr>
		<tr>
			<td>Gợi ý: Sau khi lưu ảnh đại diện, bạn có thể cần làm mới trang này (nhấn phím F5) để xem hiệu quả của ảnh mới nhất.</td>
		</tr>
	</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
<!--{template footer}-->
