<!--{template header}-->

<!--{if empty($topic) && in_array($op,array("edit", "pic", "thread", "members", "comment", "invite", "eventinvite"))}-->
<!--//管理页页头//-->
<style type="text/css">
	.poster_pre{
		max-width: 80px; max-height: 104px;}
	.poster{
		max-width: 200px; max-height: 260px;}
</style>
<div id="mainarea">
    <h2 class="title"><img src="image/app/event.gif" />Hoạt động <!--{if $eventid}-->- <a href="space.php?do=event&id=$event[eventid]">$event[title]</a><!--{/if}--></h2>
    <div class="tabs_header">
        <ul class="tabs">
			<!--{if $eventid}-->
				<!--{if $allowmanage}-->
	            <li $menus[edit]><a href="cp.php?ac=event&op=edit&id=$eventid"><span>Sửa hoạt động</span></a></li>
				<!--{/if}-->
				<!--{if $_SGLOBAL[supe_userevent][status] > 1 && ($_SGLOBAL[supe_userevent][status] >= 3 || $event[allowinvite])}-->
				<li $menus[invite]><a href="cp.php?ac=event&op=invite&id=$eventid"><span>Mời bạn bè</span></a></li>
				<!--{/if}-->
				<!--{if  $_SGLOBAL[supe_userevent][status] >= 3}-->
				<li $menus[members]><a href="cp.php?ac=event&op=members&id=$eventid"><span>Quản lý thành viên</span></a></li>
				<!--{/if}-->
				<!--{if $allowmanage}-->
				<li $menus[pic]><a href="cp.php?ac=event&op=pic&id=$eventid"><span>Quản lý ảnh</span></a></li>
					<!--{if $event[tagid]}-->
				<li $menus[thread]><a href="cp.php?ac=event&op=thread&id=$eventid"><span>Quản lý thảo luận</span></a></li>
					<!--{/if}-->
				<!--{/if}-->
			<!--{else}-->
				<!--{if "eventinvite"==$op}-->
				<li class="active"><a href="cp.php?ac=event&op=eventinvite"><span>Mời tham gia</span></a></li>
				<!--{else}-->
				<li class="active"><a href="cp.php?ac=event"><span>Tạo hoạt động</span></a></li>
				<!--{/if}-->
			<!--{/if}-->
			<li><a href="space.php?do=event&id=$eventid"><span>Quay lại trang chủ</span></a></li>
        </ul>
        <!--{if $menus[members]}-->
        <form action="cp.php" method="get" id="searchform" name="searchform">
		<div style="margin: 0pt 6px 5px 0pt; float: right;">
		<table cellspacing="0" cellpadding="0">
		<tbody>
		<tr>
		<td style="padding: 0pt;"><input type="text" style="border-right: medium none; width: 160px;" tabindex="1" class="t_input" onfocus="if(this.value=='Tìm thành viên')this.value='';" value="Tìm thành viên" name="key" id="key"/></td>
		<td style="padding: 0pt;"><a href="javascript:$('searchform').submit();"><img alt="Tìm kiếm" src="image/search_btn.gif"/></a></td>
		</tr>
		</tbody>
		</table>
		</div>
		<input type="hidden" value="event" name="ac"/>
		<input type="hidden" value="$eventid" name="id"/>
		<input type="hidden" value="members" name="op"/>
		<input type="hidden" value="$_GET[status]" name="status"/>
		<input type="hidden" value="<!--{eval echo formhash();}-->" name="formhash"/>
		</form>
        <!--{/if}-->
    </div>
<!--{/if}-->

<!--{if "join"==$op}-->
	<!--{if $event[allowfellow] || $event[template]}-->
	<div>
		<h1>Điền thông tin đăng ký</h1>
		<form action="cp.php?ac=event&op=join&id=$event[eventid]" method="post" style="padding: 5px 10px;">
			<!--{if $event[allowfellow]}-->
			<p>
				<span>Số người đi cùng</span>
				<input name="fellow" type="text" size="4" value="<!--{if  empty($_SGLOBAL[supe_userevent][fellow])}-->0<!--{else}-->$_SGLOBAL[supe_userevent][fellow]<!--{/if}-->" />
				<span class="tiptext">（Nếu dẫn theo bạn bè, vui lòng ghi rõ số người）</span>
			</p>
			<!--{/if}-->
			<!--{if $event[template]}-->
			<p>
				<span>Thông tin đăng ký</span><span class="tiptext">（Vui lòng điền theo mẫu của người tạo hoạt động）</span><br />
				<textarea name="template" rows="4" style="width: 320px;"><!--{if  empty($_SGLOBAL[supe_userevent][template])}-->$event[template]<!--{else}-->$_SGLOBAL[supe_userevent][template]<!--{/if}--></textarea>
			</p>
			<!--{/if}-->
			<p class="btn_line"><br />
				<input type="submit" class="submit" name="joinsubmit" value="Hoàn tất" />
				<input type="button" class="button" value="Hủy" onclick="hideMenu()" />
			</p>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
	<!--{else}-->
	<div>
		<form method="post" name="eventform" action="cp.php?ac=event&op=join&id=$eventid">
			<h1>Bạn chắc chắn muốn <!--{if $event[verify]}-->đăng ký<!--{else}-->tham gia<!--{/if}--> hoạt động này chứ?</h1>
			<p class="btn_line"><br />
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="submit" name="joinsubmit" value="Xác nhận" class="submit" />
				<input type="button" name="btnclose" value="Hủy" onclick="hideMenu();" class="button" />
			</p>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
	<!--{/if}-->
<!--{elseif $op == "follow"}-->
	<div>
		<form method="post" name="eventform" action="cp.php?ac=event&op=follow&id=$eventid">
			<h1>Bạn chắc chắn muốn theo dõi hoạt động này chứ?</h1>
			<p class="btn_line"><br />
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
				<input type="submit" name="followsubmit" value="Theo dõi" class="submit" />
				<input type="button" name="btnclose" value="Hủy" onclick="hideMenu();" class="button" />
			</p>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->">
		</form>
	</div>
<!--{elseif $op == "cancelfollow"}-->
	<div>
		<form method="post" name="eventform" action="cp.php?ac=event&op=cancelfollow&id=$eventid">
			<h1>Bạn chắc chắn muốn bỏ theo dõi hoạt động này chứ?</h1>
			<p class="btn_line"><br />
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="submit" name="cancelfollowsubmit" value="Đồng ý" class="submit" />
				<input type="button" name="btnclose" value="Hủy" onclick="hideMenu();" class="button" />
			</p>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
<!--{elseif $op == "quit"}-->
	<div>
		<form method="post" name="eventform" action="cp.php?ac=event&op=quit&id=$eventid">
			<h1>Bạn chắc chắn muốn rời khỏi hoạt động này chứ?</h1>
			<p class="btn_line"><br />
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="submit" name="quitsubmit" value="Đồng ý" class="submit" />
				<input type="button" name="btnclose" value="Hủy" onclick="hideMenu();" class="button" />
			</p>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
<!--{elseif $op == "delete"}-->
	<div>
		<form method="post" name="eventform" action="cp.php?ac=event&op=delete&id=$eventid">
			<h1>Bạn chắc chắn muốn hủy hoạt động này chứ?</h1>
			<p>Hủy hoạt động sẽ xóa toàn bộ thông tin liên quan.<br />Thao tác này không thể hoàn tác!</p>
			<p class="btn_line"><br />
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="submit" name="deletesubmit" value="Hoàn tất" class="submit" />
				<input type="button" name="btnclose" value="Hủy" onclick="hideMenu();" class="button" />
			</p>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
<!--{elseif $op == "member"}-->
	<div id="memberevent">
		<div><a class="float_del" title="Đóng" href="javascript:hideMenu();">Đóng</a></div>
		<br clear="both" />
		<form method="post" name="eventform" id="eventmember_$uid" action="cp.php?ac=event&op=member&id=$eventid">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
			<input type="hidden" name="uid" value="$userevent[uid]">
			<p>
				Đặt thành:
				<select name="status">
					<option value="2">Thành viên thường</option>
					<!--{if $_SGLOBAL[supe_uid]==$event[uid]}-->
					<option value="3">Người tổ chức</option>
					<!--{/if}-->
					<!--{if $event[verify]}-->
					<option value="0">Chờ duyệt</option>
					<!--{/if}-->
					<option value="-1">Mời ra khỏi hoạt động</option>
				</select> &nbsp;
				<input type="submit" name="membersubmit" value="Gửi" class="submit" />
			</p>
		</form>
	</div>
<!--{elseif $op == "print"}-->
	<div>
		<div><a class="float_del" title="Đóng" href="javascript:hideMenu();">Đóng</a></div>
		<br clear="both" />
		<form method="post" target="_blank" name="eventform" action="cp.php?ac=event&op=print&id=$eventid">
			<h2>Cài đặt in ấn</h2>
			<p>Nội dung: 
				<input type="checkbox" id="ckavatarbig" name="avatarsmall" checked="checked" /> <lable for="ckavatarsmall">Ảnh đại diện</lable>
				<input type="checkbox" id="ckusername" name="username" checked="checked" /> <lable for="ckusername">Họ tên</lable>
				<!--{if $event[allowfellow]}-->
				<input type="checkbox" id="ckfellow" name="fellow" checked="checked" /> <lable for="ckfellow">Số người đi cùng</lable>
				<!--{/if}-->
				<!--{if $event[template]}-->
				<input type="checkbox" id="cktemplate" name="template" checked="checked" /> <lable for="cktemplate">Thông tin đăng ký</lable>
				<!--{/if}-->
			</p>
			<p>Tùy chọn:
				<input type="checkbox" id="ckadmin" name="admin" /> <lable for="ckadmin">Bao gồm người tổ chức</lable>
			</p>
			<p class="btn_line">
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="submit" name="printsubmit" value="Xác nhận" class="submit" />
				<input type="button" name="btnclose" value="Hủy" onclick="hideMenu();" class="button" />
			</p>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
<!--{elseif $op == "close"}-->
	<div>
		<form method="post" name="eventform" action="cp.php?ac=event&op=close&id=$eventid">
			<h1>Bạn chắc chắn muốn đóng hoạt động này chứ?</h1>
			<p>Sau khi đóng, hoạt động này sẽ chỉ cho phép xem thông tin.</p>
			<p class="btn_line"><br />
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="submit" name="closesubmit" value="Đồng ý" class="submit" />
				<input type="button" name="btnclose" value="Hủy" onclick="hideMenu();" class="button" />
			</p>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
<!--{elseif $op == "open"}-->
	<div>
		<form method="post" name="eventform" action="cp.php?ac=event&op=open&id=$eventid">
			<h1>Bạn có chắc chắn muốn mở lại hoạt động không?</h1>
			<p class="btn_line"><br />
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="submit" name="opensubmit" value="Đồng ý" class="submit" />
				<input type="button" name="btnclose" value="Hủy" onclick="hideMenu();" class="button" />
			</p>
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
<!--{elseif $op == "calendar"}-->	
	<div class="calendar">
		<div id="calendar_pre" class="floatleft"><a href="#" onclick="showcalendar('$premonth'); this.blur(); return false;">&lt;&lt;</a></div>
		<div id="calendar_next" class="floatright"><a href="#" onclick="showcalendar('$nextmonth'); this.blur(); return false;">&gt;&gt;</a></div>
		<span id="thecalendar_year">$year</span> Năm <span id="thecalendar_month">$month</span> Tháng
		<ul>
			<li class="calendarli calendarweek">CN</li>
			<li class="calendarli calendarweek">T2</li>
			<li class="calendarli calendarweek">T3</li>
			<li class="calendarli calendarweek">T4</li>
			<li class="calendarli calendarweek">T5</li>
			<li class="calendarli calendarweek">T6</li>
			<li class="calendarli calendarweek">T7</li>	
			<!--{eval echo str_repeat('<li class="calendarblank">&nbsp;</li>', $week)}-->
			<!--{loop $days $key $value}-->		
				<!--{if $value[count]}-->		
			<li class="calendarli $value[class]" onmouseover="$('day_$key').style.display='block';" onmouseout="$('day_$key').style.display='none';">
				<a href="$url&date=$year-$month-$key">$key</a>
				<div class="dayevents" id="day_$key" style="display:none;">
					<ul class="news_list">
					<!--{loop $value[events] $event}-->
						<li class="dayeventsli"><a href="space.php?do=event&id=$event[eventid]">$event[title]</a></li>
					<!--{/loop}-->
					</ul>
				</div>
			</li>
				<!--{else}-->
			<li class="calendarli">$key</li>
				<!--{/if}-->
			<!--{/loop}-->
		</ol>
	</div>
<!--{elseif $op == "invite"}-->
	<!--{if $event[grade] == -2}-->
	<div id="content">
		<p>Bạn không thể gửi lời mời vì hoạt động này đã đóng.</p>
	</div>
	<!--{elseif $event[grade] <= 0}-->	
	<div id="content">
		<p>Bạn không thể gửi lời mời vì hoạt động chưa được phê duyệt.</p>
	</div>
	<!--{elseif $_SGLOBAL[timestamp] > $event[deadline]}-->
	<div id="content">
		<p>Bạn không thể gửi lời mời vì đã hết hạn đăng ký.</p>
	</div>
	<!--{elseif $event[limitnum]>0 && $event[limitnum]<=$event[membernum]}-->
	<div id="content">
		<p>Bạn không thể gửi lời mời vì số người tham gia đã đủ.</p>
	</div>
	<!--{else}-->
	<div id="content" style="width: 640px;">
		<form id="edit_form" name="edit_form" class="c_form" method="post" action="cp.php?ac=event&op=invite&id=$event[eventid]&group=$_GET[group]&page=$page">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
			<div class="h_status">
				Bạn có thể gửi lời mời đến những bạn bè chưa gia nhập hoạt động này.
			</div>
			<div class="h_status">
				<!--{if $list}-->
				<ul class="avatar_list">
				<!--{loop $list $value}-->
					<li><div class="avatar48"><a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}"><!--{avatar($value[fuid],small)}--></a></div>
						<p>
						<a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}">{$_SN[$value[fuid]]}</a>
						</p>
						<p><!--{if empty($joins[$value[fuid]])}--><input type="hidden" name="names[]" value="$value[fusername]"><input type="checkbox" name="ids[]" value="$value[fuid]">Chọn<!--{else}-->Đã mời<!--{/if}--></p>
					</li>
				<!--{/loop}-->
				</ul>
				<div class="page">$multi</div>
				<!--{else}-->
				<div class="c_form">Chưa có bạn bè nào.</div>
				<!--{/if}-->
			</div>
			<p>
				<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')"><label for="chkall">Chọn tất cả</label> &nbsp;
				<input type="hidden" name="invitesubmit" value="1" />
				<input type="submit" name="bnt_invitesubmit" value="Mời" class="submit" />
			</p>
		</form>
	</div>
	<div id="sidebar" style="width: 150px;">
		<div class="cat">
			<h3>Phân loại bạn bè</h3>
			<ul class="post_list line_list">
				<li<!--{if $_GET[group]==-1}--> class="current"<!--{/if}-->><a href="cp.php?ac=event&id=$eventid&op=invite&group=-1">Tất cả bạn bè</a></li>
				<!--{loop $groups $key $value}-->
				<li<!--{if $_GET[group]==$key}--> class="current"<!--{/if}-->><a href="cp.php?ac=event&id=$eventid&op=invite&group=$key">$value</a></li>
				<!--{/loop}-->
			</ul>
		</div>
	</div>
	<!--{/if}-->
<!--{elseif $op == "members"}-->
	<div id="content" style="width: 640px;">
		<form id="edit_form" name="edit_form" class="c_form" method="post" action="cp.php?ac=event&op=members&status=$_GET[status]&id=$event[eventid]">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />	
			<div class="h_status">
				Chọn người dùng tương ứng để thay đổi trạng thái tham gia.
				<!--{if $event[limitnum]}--><span style="color:#f00">Còn lại <!--{eval echo $event[limitnum]-$event[membernum]}--> vị trí thành viên</span><!--{/if}-->
			</div>	
			<div class="h_status">
				<!--{if $list}-->
				<table >
					<tbody>
					<!--{loop $list $value}-->
					<tr>
						<td width="40"><input type="checkbox" name="ids[]" value="$value[uid]"></td>
						<td width="80">
							<div><a href="space.php?uid=$value[uid]" target="_blank"><!--{avatar($value[uid],small)}--></a></div>
							<p><a href="space.php?uid=$value[uid]">$_SN[$value[uid]]</a></p>
						</td>
						<td>
							<!--{if $event[allowfellow]}--><h2>Số người đi cùng: <!--{eval echo intval($value[fellow])}--></h2><!--{/if}-->
							<!--{if $event[template]}-->
							<h2>Thông tin đăng ký: </h2>
							<p><!--{eval echo nl2br(htmlspecialchars($value[template]))}--></p>
							<!--{/if}-->
						</td>
					</tr>
					<!--{/loop}-->
					</tbody>
				</table>
				<div class="page">$multi</div>
				<!--{else}-->
				<div class="c_form">Chưa có thành viên nào.</div>
				<!--{/if}-->
			</div>
			<p>
				<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')"><label for="chkall">Chọn tất cả</label> &nbsp;
				Đặt thành:
				<select name="status">
					<option value="2">Thành viên thường</option>
					<!--{if $_SGLOBAL[supe_uid]==$event[uid]}-->
					<option value="3">Người tổ chức</option>
					<!--{/if}-->
					<!--{if $event[verify]}-->
					<option value="0">Chờ duyệt</option>
					<!--{/if}-->
					<option value="-1">Mời ra khỏi hoạt động</option>
				</select>
				<input type="submit" name="memberssubmit" value="Gửi" class="submit" />
			</p>
		</form>
	</div>
	
	<div id="sidebar" style="width: 150px;">
		<div class="cat">
			<h3>Trạng thái thành viên</h3>
			<ul class="post_list line_list">
				<li<!--{if $_GET[status]==0}--> class="current"<!--{/if}-->><a href="cp.php?ac=event&op=members&id=$eventid&status=0">Chờ duyệt</a></li>
				<li<!--{if $_GET[status]==2}--> class="current"<!--{/if}-->><a href="cp.php?ac=event&op=members&id=$eventid&status=2">Thành viên thường</a></li>
				<li<!--{if $_GET[status]==3}--> class="current"<!--{/if}-->><a href="cp.php?ac=event&op=members&id=$eventid&status=3">Người tổ chức</a></li>
			</ul>
		</div>
	</div>
<!--{elseif $op == "thread"}-->
	<div id="d_edit_form">
		<form id="edit_form" name="edit_form" class="c_form" method="post" action="cp.php?ac=event&op=thread&id=$event[eventid]" onsubmit="return confirm('Thao tác này không thể hoàn tác, bạn chắc chắn chứ?')">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
			<!--{if $threadlist}-->
			<div class="topic_list">
				<table cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<td width="30">Chọn</td>
							<td class="subject">Chủ đề</td>
							<td class="author">Tác giả (Phản hồi/Xem)</td>
							<td class="lastpost">Cập nhật cuối</td>
						</tr>
					</thead>
					<tbody>
						<!--{loop $threadlist $key $value}-->
						<tr <!--{if $key%2==1}-->class="alt"<!--{/if}-->>
							<td>
								<input type="checkbox" name="ids[]" value="$value[tid]" />
							</td>
							<td class="subject">
							<a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]&eventid=$eventid">$value[subject]</a>
							</td>
							<td class="author"><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a><br><em>$value[replynum]/$value[viewnum]</em></td>
							<td class="lastpost"><a href="space.php?uid=$value[lastauthorid]" title="{$_SN[$value[lastauthorid]]}">{$_SN[$value[lastauthorid]]}</a><br><!--{date('m-d H:i',$value[lastpost],1)}--></td>
						</tr>
						<!--{/loop}-->
					</tbody>
				</table>
				<p>
					<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')"><label for="chkall">Chọn tất cả</label> &nbsp;
					<input type="submit" name="delthreadsubmit" value="Xóa" class="submit" />
				</p>
			</div>
			<!--{else}-->
			<div class="c_form" style="text-align:center;">Chưa có chủ đề nào.</div>
			<!--{/if}-->
		</form>
	</div>
		
<!--{elseif $op == 'edithot'}-->

<h1>Điều chỉnh độ nóng</h1>
<a href="javascript:hideMenu();" class="float_del" title="Đóng">Đóng</a>
<div class="popupmenu_inner">
	<form method="post" action="cp.php?ac=event&op=edithot&id=$eventid">
		<p class="btn_line">
			Độ nóng mới: <input type="text" name="hot" value="$event[hot]" size="5"> 
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
			<input type="hidden" name="hotsubmit" value="true" />
			<input type="submit" name="btnsubmit" value="Xác nhận" class="submit" />
		</p>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{elseif $op == "pic"}-->
	<div id="d_edit_form">
		<form id="edit_form" name="edit_form" class="c_form" method="post" action="cp.php?ac=event&op=pic&id=$event[eventid]" onsubmit="return confirm('Thao tác này không thể hoàn tác, bạn chắc chắn chứ?')">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
			<div id="album" class="article">
				<!--{if sizeof($photolist) > 0}-->
				<table width="100%" cellspacing="6" cellpadding="0" class="photo_list">
					<tbody>
						<tr>
						<!--{loop $photolist $key $value}-->
							<td>
								<a href="space.php?do=event&id=$eventid&view=pic&picid=$value[picid]"><img src="$value[pic]" alt="$value[title]" /></a>
								<br />
								<input type="checkbox" value="$value[picid]" name="ids[]"/>Chọn
							</td>
							<!--{if $key%4==3}--></tr><tr><!--{/if}-->
						<!--{/loop}-->
						</tr>
					</tbody>
				</table>
				<div class="page">$multi</div>
				<p>
					<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')"><label for="chkall">Chọn tất cả</label> &nbsp;
					<input type="submit" name="deletepicsubmit" value="Xóa đã chọn" class="submit" />
				</p>
				<!--{else}-->
				<p align="center">Chưa có ảnh nào</p>
				<!--{/if}-->
				</div>
		</form>
	</div>
<!--{elseif $op == "eventinvite"}-->
	<div class="h_status">
		Bạn bè mời bạn tham gia hoạt động sau:
		<!--{if !empty($eventinvites)}-->
			<span class="pipe">|</span>
			<a href="cp.php?ac=event&op=eventinvite&&r=1"><span>Bỏ qua tất cả</span></a>
		<!--{/if}-->
	</div>
	
	<div class="c_form">
		<!--{if !empty($eventinvites)}-->
		<table cellspacing="4" cellpadding="4" class="formtable">
		<!--{loop $eventinvites $value}-->
		<tr>
			<td width="100px">
				<div>
					<a href="space.php?do=event&id=$value[eventid]" target="_blank">
						<img src="$value[pic]" alt="$value[title]" class="poster_pre">
					</a>
				</div>
			</td>
			<td class="h_status">
				<p><a href="space.php?do=event&id=$value[eventid]" target="_blank" style="font-size:14px;font-weight:bold;">
				$value[title]</a></p>
						<br>Thời gian: <!--{eval echo sgmdate("d/m G:i", $value[starttime])}--> - <!--{eval echo sgmdate("d/m G:i", $value[endtime])}-->
							<!--{if $value[endtime]<$_SGLOBAL[timestamp]}-->
							<span class="event_state"> Đã kết thúc</span>
							<!--{elseif $value[deadline]<$_SGLOBAL[timestamp]}-->
							<span class="event_state"> Hết hạn đăng ký</span>
							<!--{/if}-->
				<br>Địa điểm: $value[province] - $value[city] $value[location]
				<br>Người tạo: <a href="space.php?uid=$value[uid]">$_SN[$value[uid]]</a>
				<div id="eventinvite_$value[eventid]" style="padding:0.5em 0 0.5em 0;">
					Mời bạn bè: <a href="space.php?uid=$value[uid]" target="_blank">{$_SN[$value[uid]]}</a>
					<br>Thời gian mời: <!--{eval echo sgmdate('Y-m-d H:i', $value[invitetime], 1)}-->
					<p style="padding:1em 0 0 0;">
						<a id="a_accept" href="cp.php?ac=event&op=acceptinvite&id=$value[eventid]" class="submit" onclick="ajaxget(this.href, 'eventinvite_$value[eventid]'); return false;">Chấp nhận</a>
						<a href="cp.php?ac=event&op=eventinvite&id=$value[eventid]&r=1" class="button">Bỏ qua</a>
					</p>
				</div>
			</td>
		</tr>
		<!--{/loop}-->
		</table>
		<!--{else}-->
		Tạm thời không có lời mời nào.
		<!--{/if}-->
	</div>
<!--{else}-->

	<!--{if $topic}-->
		<!--{template cp_topic_menu}-->
	<!--{/if}-->

	<div class="c_form">
		<form id="edit_form" name="edit_form" method="post" enctype="multipart/form-data" action="cp.php?ac=event&op=edit&id=$eventid">
			<table class="infotable" width="100%" cellspacing="4" cellpadding="4">				
				<tbody>					
					<tr>
						<th>Tên hoạt động *</th>
						<td>
							<input class="t_input" id="title" name="title" value="$event[title]" size="56" type="text" maxlength="80">
						</td>
					</tr>
					<tr>
						<th>Thành phố *</th>
						<td id="citybox">
							<script type="text/javascript" src="source/script_city.js" charset="$_SC[charset]"></script>
                            <script type="text/javascript" charset="$_SC[charset]">
								showprovince('province', 'city', '$event[province]', 'citybox');
                                showcity('city', '$event[city]', 'province', 'citybox');
                            </script>
						</td>
					</tr>
					<tr>
						<th>Địa điểm</th>
						<td>
							<input class="t_input" id="location" name="location" value="$event[location]" size="56" type="text" maxlength="80">
						</td>
					</tr>
					<tr>
						<th>Thời gian *</th>
						<td>
							<script type="text/javascript" src="source/script_calendar.js" charset="$_SC[charset]"></script>
							<input type="text" name="starttime" id="starttime" value="<!--{eval echo sgmdate('Y-m-d H:i', $event[starttime])}-->"  onclick="showcalendar(event,this,1,'<!--{eval echo sgmdate('Y-m-d H:i', $_SGLOBAL[timestamp])}-->', '<!--{eval echo sgmdate('Y-m-d H:i', $_SGLOBAL[timestamp] + 3600 * 24 * 60)}-->')" />
						 Đến
							<input type="text" name="endtime" id="endtime" value="<!--{eval echo sgmdate('Y-m-d H:i', $event[endtime])}-->"  onclick="showcalendar(event,this,1,'<!--{eval echo sgmdate('Y-m-d H:i', $_SGLOBAL[timestamp])}-->', '<!--{eval echo sgmdate('Y-m-d H:i', $_SGLOBAL[timestamp] + 3600 * 24 * 60)}-->')" />
						</td>
					</tr>
					<tr>
						<th>Hạn đăng ký *</th>
						<td>
							<input type="text" name="deadline" id="deadline" value="<!--{eval echo sgmdate('Y-m-d H:i', $event[deadline])}-->"  onclick="showcalendar(event,this,1,'<!--{eval echo sgmdate('Y-m-d H:i', $_SGLOBAL[timestamp])}-->', '<!--{eval echo sgmdate('Y-m-d H:i', $_SGLOBAL[timestamp] + 3600 * 24 * 60)}-->')" />
						</td>
					</tr>
					<tr>
						<th width="100" style="vertical-align: top;">Phân loại *</th>
						<td>
							<select name="classid" id="classid" onchange="reset_eventclass(this.value)">
								<option value="-1">
									Vui lòng chọn phân loại
								</option>
								<!--{loop $_SGLOBAL[eventclass] $key $value}-->
								<option value="$key" <!--{if $event[classid] == $key}--> selected<!--{/if}--> >$value[classname]</option>
								<!--{/loop}-->
							</select>
							<div id="classid_info"></div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
						<a id="doodleBox" href="magic.php?mid=doodle&showid=blog_doodle&target=uchome-ttHtmlEditor&from=editor" style="display:none"></a>
						<textarea class="userData" name="detail" id="uchome-ttHtmlEditor" style="height:100%;width:100%;display:none;border:0px">$event[detail]</textarea>
						<iframe src="editor.php?charset=$_SC[charset]&allowhtml=0&doodle=<!--{if isset($_SGLOBAL[magic][doodle])}-->1<!--{/if}-->" name="uchome-ifrHtmlEditor" id="uchome-ifrHtmlEditor" scrolling="no" border="0" frameborder="0" style="width:100%;border: 1px solid #C5C5C5;" height="400"></iframe></td>
					</tr>
					<tr>
						<th style="vertical-align: top;">Poster</th>
						<td>
							<input type="file" name="poster" /> Ảnh sẽ được tải lên album mặc định của bạn.<br />
							<input type="checkbox" id="sharepic" name="sharepic" value="1" />
							<label for="sharepic">Đồng thời chia sẻ poster vào album hoạt động</label>
						</td>
					</tr>
					<!--{if $mtags}-->
					<tr>
						<th>Liên kết nhóm</th>
						<td>
							<select name="tagid">
							<option value="">Chọn nhóm liên kết</option>
							<!--{loop $mtags $value}-->
							<option value="$value[tagid]" <!--{if $value[tagid]==$event[tagid]}-->selected<!--{/if}--> >$value[tagname]</option>
							<!--{/loop}-->
							</select>
							Phải là nhóm do bạn tạo, sau khi liên kết các thảo luận hoạt động sẽ đồng bộ vào nhóm đó.
						</td>
					</tr>
					<!--{/if}-->
				</tbody>
			</table>
			<table class="infotable" width="100%" cellspacing="4" cellpadding="4">
				<tbody>
				<tr>
					<td colspan="2">
						<a id="toggle_advanced" href="#" onclick="toggle_advanced(); this.blur(); return false;">
						Mở thiết lập nâng cao</a>						
					</td>
				</tr>
				</tbody>
			</table>
			<table id="advanced_info" class="infotable" width="100%" cellspacing="4" cellpadding="4" style="display:none">
				<tbody>
					<tr>
						<th width="100">Số người</th>
						<td>
							<input name="limitnum" value="$event[limitnum]" id="limitnum" type="text" size="4" maxlength="8">
                            <span class="tiptext">
                                Giới hạn số người tham gia, đặt là 0 nếu không giới hạn.
                            </span>
						</td>
					</tr>
					<tr>
						<th width="100" style="vertical-align: top;">Quyền riêng tư</th>
						<td>
							<select name="public" id="public">
								<option <!--{if $event[public]==2}-->selected="selected"<!--{/if}--> value="2">Công khai, mọi người đều thấy và tham gia được</option>
								<option <!--{if $event[public]==1}-->selected="selected"<!--{/if}--> value="1">Bán công khai, mọi người thấy nhưng cần mời mới tham gia được</option>
								<option <!--{if $event[public]==0}-->selected="selected"<!--{/if}--> value="0">Riêng tư, chỉ những người được mời mới thấy</option>
							</select>
						</td>
					</tr>
					<tr>
						<th width="100" style="vertical-align: top;">Tùy chọn</th>
						<td>
							<input name="allowinvite" id="allowinvite" value="1" type="checkbox"<!--{if $event[allowinvite]}--> checked="checked"<!--{/if}-->>
                            <label for="allowinvite">
                                Cho phép người tham gia mời bạn bè, người được mời không cần phê duyệt
                            </label>
                            <br>
							<input name="allowpic" id="allowpic" value="1" type="checkbox"<!--{if $event[allowpic]}--> checked="checked"<!--{/if}-->>
                            <label for="allowpic">
                                Cho phép người tham gia chia sẻ ảnh hoạt động
                            </label>
                            <br>
							<input name="allowpost" id="allowpost" value="1" type="checkbox"<!--{if $event[allowpost]}--> checked="checked"<!--{/if}-->>
                            <label for="allowpost">
                                Cho phép mọi người gửi lời nhắn
                            </label>
                            <br>
                            <input name="verify" id="verify" value="1" type="checkbox"<!--{if $event[verify]}--> checked="checked"<!--{/if}-->>
                            <label for="verify">
                                Tham gia hoạt động cần phê duyệt
                            </label>
							<br>
                            <input name="allowfellow" id="allowfellow" value="1" type="checkbox"<!--{if $event[allowfellow]}--> checked="checked"<!--{/if}-->>
                            <label for="allowfellow">
                                Cho phép người tham gia dẫn theo bạn bè, số người đi cùng sẽ tính vào giới hạn số người tham gia.
                            </label>
						</td>
					</tr>
					<tr>
						<th width="100" style="vertical-align: top;">Thông tin đăng ký</th>
						<td>
							Nếu yêu cầu người tham gia điền thông tin thêm (tối đa 255 ký tự), bạn có thể đưa ra một mẫu tại đây. Để trống nếu không yêu cầu.<br />
                            <textarea id="template" name="template" rows="4" cols="72">$event[template]</textarea>
						</td>
					</tr>
					</tr>
				</tbody>
			</table>
			<!--{if checkperm('seccode')}-->
			<table class="infotable" width="100%" cellspacing="4" cellpadding="4">
				<tbody>
				<!--{if $_SCONFIG['questionmode']}-->
				<tr>
					<th width="100" style="vertical-align: top;">Vui lòng trả lời câu hỏi bảo mật</th>
					<td>
						<p><!--{eval question();}--></p>
						<input type="text" id="seccode" name="seccode" value="" size="15" class="t_input" />
					</td>
				</tr>
				<!--{else}-->
				<tr>
					<th width="100" style="vertical-align: top;">Vui lòng nhập mã bảo mật</th>
					<td>
						<script type="text/javascript" charset="$_SC[charset]">seccode();</script>
						<p>Vui lòng nhập 4 ký tự trên, nếu không rõ vui lòng <a href="javascript:updateseccode()">thay đổi hình ảnh</a></p>
						<input type="text" id="seccode" name="seccode" value="" size="15" class="t_input" />
					</td>
				</tr>
				<!--{/if}-->
				</tbody>
			</table>
			<!--{/if}-->
			<table class="infotable" width="100%" cellspacing="4" cellpadding="4">
				<tbody>
					<!--{if empty($eventid)}-->
					<tr>
						<th width="100">Tùy chọn động thái</th>
						<td>
							<input type="checkbox" name="makefeed" id="makefeed" value="1"<!--{if ckprivacy('event', 1)}--> checked<!--{/if}-->> Tạo động thái (<a href="cp.php?ac=privacy#feed" target="_blank">Thay đổi thiết lập mặc định</a>)
						</td>
					</tr>
					<!--{/if}-->
					<tr>
						<th width="100">&nbsp;</th>
						<td>
							<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
                            <input type="hidden" name="topicid" value="$topicid" />
                            <input type="hidden" name="eventsubmit" value="1" />
                            <input class="submit" value="<!--{if $_GET[id]}-->Lưu<!--{else}-->Gửi<!--{/if}-->" type="button" onclick="check_eventpost()"/>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>

	<script type="text/javascript" src="image/editor/editor_function.js" charset="$_SC[charset]"></script>
	<script type="text/javascript" charset="$_SC[charset]">
		//Phân loại hoạt động
		var eventclass = [];
		<!--{loop $_SGLOBAL[eventclass] $key $value}-->
		eventclass["$key"] = {};
		<!--{loop $value $k $v}-->
			eventclass["$key"]["$k"] = '<!--{eval echo str_replace(array("\r\n","\r","\n"), "<br>", $v)}-->';
		<!--{/loop}-->
		<!--{/loop}-->
		function reset_eventclass(classid){
			var selclass = eventclass[classid];
			var o = $("uchome-ifrHtmlEditor").contentWindow.document.getElementById("HtmlEditor").contentWindow.document.body;
			var append =false;// Có thêm không?
			if(selclass && selclass['template'] && (trim(o.innerHTML.replace(/<br[ \/]*>|<div><\/div>/img, '')) == "" || confirm("Thêm mẫu phân loại của người quản trị vào phần giới thiệu hoạt động?"))){
				append = true;
			}
			if (append){
				o.innerHTML = selclass['template'] + "<br/>" + o.innerHTML;				
				$("classid_info").innerHTML = "Vui lòng tham khảo mẫu của người quản trị để điền giới thiệu hoạt động";				
			}
		}
		
		//Mở thiết lập nâng cao
		function toggle_advanced(){
			var el = $("advanced_info");
			if (el.style.display == "none"){
				el.style.display = "";
				$("toggle_advanced").innerHTML = "Ẩn thiết lập nâng cao";
			} else {
				el.style.display = "none";
				$("toggle_advanced").innerHTML = "Mở thiết lập nâng cao";
			}
		}
		
		//Kiểm tra gửi tin
		function check_eventpost(){			
			// Phân loại hoạt động
			if (parseInt($("classid").value) < 0){
				alert("Vui lòng chọn phân loại hoạt động.");
				$("classid").focus();
				return false;
			}	
			// Tiêu đề
			var val = trim($("title").value);
			if ( val == "" ){
				alert("Tiêu đề không được để trống!");
				$("title").focus();
				return false;
			} else if (val.replace(/[^\x00-\xff]/g, "**").length > 80){
				alert("Tiêu đề quá dài, vui lòng giới hạn trong 80 ký tự!");
				$("title").focus();
				return false;
			}	
			// Địa điểm tổ chức
			if($('city').value == ""){
				alert("Vui lòng chọn thành phố tổ chức.");
				$("city").focus();
				return false;
			}			
			// Thời gian đăng ký, bắt đầu - kết thúc
			var deadline = parsedate($("deadline").value).getTime();
			var starttime = parsedate($("starttime").value).getTime();
			var endtime = parsedate($("endtime").value).getTime();
			<!--{if !$eventid}-->
			var nowtime = new Date().getTime();
			if (starttime < nowtime){
				alert("Thời gian bắt đầu không được sớm hơn hiện tại.");
				$("starttime").focus();
				return false;
			}
			<!--{/if}-->
			if (endtime - deadline < 0){
				alert("Hạn đăng ký không được muộn hơn thời gian kết thúc.");
				$("deadline").focus();
				return false;
			}
			if (endtime - starttime < 0){
				alert("Thời gian kết thúc không được sớm hơn thời gian bắt đầu.");
				$("endtime").focus();
				return false;
			}
			if (endtime - starttime > 60 * 24 * 3600 * 1000){
				alert("Thời gian diễn ra hoạt động không được quá 60 ngày.");
				$("endtime").focus();
				return false;
			}
			// Giới hạn số người
			if (! /^[0-9]{1,8}$/.test($("limitnum").value)){
				alert("Số lượng người nhập không chính xác.");
				$("limitnum").focus();
				return false;
			}
			
		    var makefeed = $('makefeed');
		    if(makefeed) {
		    	if(makefeed.checked == false) {
		    		if(!confirm("Nhắc nhở: Bạn có chắc chắn không tạo động thái cho lần đăng này không?\nCó động thái, bạn bè mới có thể thấy cập nhật của bạn kịp thời.")) {
		    			return false;
		    		}
		    	}
		    }
		    
		    // Đồng bộ nội dung trình soạn thảo
			edit_save();
			// Mô tả hoạt động, mặc định có thể có <br/> hoặc <div></div>, cần loại bỏ trước khi kiểm tra
			val = trim($("uchome-ttHtmlEditor").value.replace(/<br[ \/]*>|<div><\/div>/img,''));
			if (val == ""){
				alert("Mô tả hoạt động không được để trống.");
				return false;
			}						
			// Mã xác nhận
			if($('seccode')) {
				var code = $('seccode').value;
				var x = new Ajax();
				x.get('cp.php?ac=common&op=seccode&code=' + code, function(s){
					s = trim(s);
					if(s.indexOf('succeed') == -1) {
						alert(s);
						$('seccode').focus();
		           		return false;
					} else {
						$("edit_form").submit();
					}
				});
		    } else {
		    	$("edit_form").submit();
		    }
		}
	</script>
<!--{/if}-->
<!--{if in_array($op,array("edit", "pic", "thread", "members", "comment", "invite", "eventinvite"))}-->
<!--// Kết thúc trang quản lý //-->
</div>
<!--{/if}-->
<!--{template footer}-->