<!--{template header}-->
<!--{if $_GET['op'] == 'resend'}-->

<h1>Gửi lại email</h1>
<a href="javascript:hideMenu();" class="float_del" title="Đóng">Đóng</a>
<div class="popupmenu_inner" id="__resendform_{$id}">
<form method="post" id="resendform_{$id}" name="resendform_{$id}" action="cp.php?ac=invite&op=resend&id=$id">
	<p>Bạn chắc chắn muốn gửi lại email mời chứ?</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="resendsubmit" value="true" />
		<button name="resendsubmit_btn" type="button" class="submit" value="true" onclick="ajaxpost('resendform_{$id}', 'resend_mail', 2000)">Gửi lại</button>
		<!--{else}-->
		<button name="resendsubmit" type="submit" class="submit" value="true">Xác nhận</button>
		<!--{/if}-->
	</p>
	
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{elseif $_GET['op'] == 'delete'}-->

<h1>Xóa bản ghi</h1>
<a href="javascript:hideMenu();" class="float_del" title="Đóng">Đóng</a>
<div class="popupmenu_inner" id="__deleteform_{$id}">
<form method="post" id="deleteform_{$id}" name="deleteform_{$id}" action="cp.php?ac=invite&op=delete&id=$id">
	<p>Bạn chắc chắn muốn xóa bản ghi mời này chứ?</p>
	<p>Sau khi xóa bản ghi mời này, bạn bè của bạn sẽ không thể đăng ký làm bạn qua<br/>liên kết mời cũ được nữa!</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="deletesubmit" value="true" />
		<button name="deletesubmit_btn" type="button" class="submit" value="true" onclick="ajaxpost('deleteform_{$id}', 'resend_mail', 2000)">Xóa</button>
		<!--{else}-->
		<button name="deletesubmit" type="submit" class="submit" value="true">Xóa</button>
		<!--{/if}-->
	</p>
	
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>

<!--{else}-->

<h2 class="title"><img src="image/icon/friend.gif">Bạn bè</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=friend"><span>Danh sách bạn bè</span></a></li>
		<li><a href="cp.php?ac=friend&op=search"><span>Tìm bạn bè</span></a></li>
		<li><a href="cp.php?ac=friend&op=find"><span>Người có thể quen</span></a></li>
		<li class="active"><a href="cp.php?ac=invite"><span>Mời bạn bè</span></a></li>
		<li><a href="cp.php?ac=friend&op=request"><span>Yêu cầu kết bạn</span></a></li>
		<li><a href="space.php?do=top"><span>Bảng xếp hạng</span></a></li>
	</ul>
</div>

<div id="content">	
	<form method="post" action="cp.php?ac=invite&appid=$appid&ref" class="c_form">
		<!--{if $get_invite}-->
		<div class="c_mgs"><div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
			Mỗi khi mời thành công một người bạn, bạn sẽ nhận được <strong>$get_invite</strong> điểm thưởng. Hãy hành động ngay!
		</div></div></div></div></div>
		<!--{/if}-->
		<table cellspacing="0" cellpadding="0" class="formtable" width="100%">
			<caption>
				<h2><!--{if $appid}-->Mời bạn bè cùng chơi $appinfo[appname]<!--{else}-->Liên kết mời bạn bè của tôi<!--{/if}--></h2>
				<p>
				<div class="composer_header">
					<!--{if $appid}-->
					<div class="ar_r_t"><div class="ar_l_t"><div class="ar_r_b"><div class="ar_l_b"><img src="http://appicon.manyou.com/logos/{$appid}" alt="{$appinfo[appname]}" /></div></div></div></div>
					<!--{/if}-->
					<p>
						Bạn có thể gửi liên kết dưới đây cho bạn bè qua các công cụ như Zalo, Messenger, Email,... để mời họ tham gia.
						<table cellspacing="0" cellpadding="0" >
						<!--{if $reward['credit']}-->
							<!--{if $list_str}-->
							<tr>
								<td>Mỗi dòng một liên kết mời, mỗi liên kết chỉ sử dụng được một lần.<br/><textarea name="invite_urls" rows="4" style="width:98%;">$list_str</textarea></td>
							</tr>
							<!--{else}-->
							<tr><td>Chưa có mã mời nào.</td></tr>
							<!--{/if}-->
							<tr>
								<td><img src="image/credit.gif" align="absmiddle"> Mỗi mã mời sẽ <strong>khấu trừ $reward[credit] điểm</strong>, hiện bạn đang có <a href="cp.php?ac=credit">$space[credit]</a> điểm.</td>
							</tr>
							<tr class="notice">
								<td>Nhận mã mời (còn có thể nhận thêm $maxinvitenum mã): <input type="text" name="invitenum" value="1" size="5" class="t_input" /> <input type="submit" name="invitesubmit" value="Nhận" class="submit" /></td>
							</tr>
						<!--{else}-->
							<tr><td style="font-size:14px;font-weight:bold;"><a onclick="javascript:setCopy('$mailvar[4]');return false;" href="$mailvar[4]">$mailvar[4]</a></td></tr>
						<!--{/if}-->
						</table>
					</p>
				</div>
				
				</p>
			</caption>
			
			
		</table>
		
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
	<script type="text/javascript" src="http://widgets.manyou.com/misc/scripts/ab.js" charset="utf-8"></script>
	<form method="post" action="cp.php?ac=invite&type=mail&appid=$appid&ref" class="c_form">
		<table cellspacing="0" cellpadding="0" class="formtable" width="100%">
			<caption>
				<h2>Gửi email mời đến bạn bè <!--{if $appid}-->cùng chơi $appinfo[appname]<!--{/if}--></h2>
				<p>Mời bạn bè bằng cách gửi email.<br>Nhiều email cách nhau bằng dấu ",".</p>
				<!--{if $pay[invite]}-->
				<p>
					<img src="image/credit.gif" align="absmiddle"> Gửi mỗi email sẽ <strong>khấu trừ $pay[invite] điểm</strong>, hiện bạn đang có <a href="cp.php?ac=credit">$space[credit]</a> điểm.
				</p>
				<!--{/if}-->
			</caption>
			<tr>
				<td>
					
					<div class="r_option"><a href="#"  onclick="MYABC.showChooser('email', '{$uri}api/getmaillist.htm', null, false, false, null); return false"><img src="http://widgets.manyou.com/misc/images/ab/ab_button.gif" style="margin: 5px 0 0;" alt="Thêm từ danh bạ" /></a></div><div><br />Địa chỉ email của bạn bè</div>
					<textarea name="email" id="email" rows="5" style="width:99%;"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					Lời nhắn gửi đến bạn bè<br/>
					<input type="text" name="saymsg" id="saymsg" onkeyup="showPreview(this.value, 'sayPreview')" class="t_input" style="width:98%;">
				</td>
			</tr>
			<tr>
				<td><input type="submit" name="emailinvite" value="Mời" class="submit"></td>
			</tr>
			<tr>
				<td>
					<div class="title" style="margin: 10px 0;">Xem trước thư mời</div>
					<div class="c_mgs"><div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
						<table border="0">
						<tr>
						<td valign="top">$mailvar[0]</td>
						<td valign="top">
						<!--{if $appid}-->
						<h3>Hi, mình là {$mailvar[1]}, đang chơi {$appinfo[appname]} trên {$mailvar[2]}, mời bạn cùng tham gia chơi cho vui.</h3><br>
						<!--{else}-->
						<h3>Hi, mình là {$mailvar[1]}, mình vừa tạo trang cá nhân trên {$mailvar[2]}, mời bạn cùng tham gia và kết bạn với mình nha.</h3><br>
						Hãy kết bạn với mình nhé, bạn có thể xem trang cá nhân của mình để cập nhật tình hình, chia sẻ ảnh và giữ liên lạc với mình thường xuyên hơn.<br>
						<!--{/if}-->
						<br>
						Lời nhắn mời:<br>
						<span id="sayPreview">{$mailvar[3]}</span>
						<br><br>
						<strong>Vui lòng nhấn vào liên kết sau để chấp nhận lời mời kết bạn <!--{if $appid}-->cùng chơi $appinfo[appname]<!--{/if}-->: </strong><br>
						{$mailvar[4]}<br>
						<br>
						<strong>Nếu bạn đã có tài khoản trên {$mailvar[2]}, hãy nhấn vào liên kết sau để xem trang cá nhân của mình: </strong><br>
						{$mailvar[5]}<br>
						</td></tr></table>
					</div></div></div></div></div>
				</td>
			</tr>
		</table>
		
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<div id="sidebar">
		
		<div class="sidebox">
			<h2 class="title">Bạn bè đã mời</h2>
			<!--{if count($flist) < 24}-->
			<ul class="avatar_list">
				<!--{loop $flist $key $value}-->
				<li>
					<div class="avatar48"><a href="space.php?uid=$value[fuid]&do=doing"><!--{avatar($value[fuid],small)}--></a></div>
					<p><a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}">{$_SN[$value[fuid]]}</a></p>
				</li>
				<!--{/loop}-->
			</ul>
			<!--{else}-->
			<div>
			<!--{eval $mod='';}-->
			<!--{loop $flist $key $value}-->
			$mod<a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}">{$_SN[$value[fuid]]}</a>
			<!--{eval $mod='、';}-->
			<!--{/loop}-->
			</div>
			<!--{/if}-->
		</div>

		<!--{if $maillist}-->
		<div class="sidebox">
			<h2 class="title">Email bạn bè chưa mời thành công</h2>
			<ul class="sendmail">
				<!--{loop $maillist $key $value}-->
				<li id="sendmail_$value[id]_li">
					<a href="cp.php?ac=invite&op=resend&id=$value[id]" id="mail_invite_$value[id]" class="c_resend" onclick="ajaxmenu(event, this.id)" title="Gửi lại">Gửi lại</a>
					<a href="javascript:;" title="Liên kết" class="c_link" onclick="javascript:setCopy('$value[url]');return false;">Liên kết</a>
					<a href="cp.php?ac=invite&op=delete&id=$value[id]" id="del_invite_$value[id]" class="c_delete" onclick="ajaxmenu(event, this.id)" title="Xóa">Xóa</a>
					$value[email]
				</li>
				<!--{/loop}-->
			</ul>
		</div>
		<!--{/if}-->
</div>

<!--{/if}-->
<!--{template footer}-->
