<!--{template header}-->

<h2 class="title"><img src="image/app/blog.gif" />Blog</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="cp.php?ac=blog"><span>Viết blog mới</span></a></li>
		<li class="active"><a href="cp.php?ac=import"><span>Nhập Blog</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=blog&view=me"><span>Quay lại Blog của tôi</span></a></li>
	</ul>
</div>

<!--{if $results}-->

<form method="post" action="cp.php?ac=import" class="c_form">
<table cellspacing="0" cellpadding="0" class="formtable">
<caption>
	<h2><!--{if $incount}-->Kết quả nhập<!--{else}-->Chọn Blog muốn nhập<!--{/if}--></h2>
	<!--{if $paycredit}-->
	<p>Sử dụng tính năng này cần trả điểm: $paycredit (Số điểm hiện tại của bạn <a href="cp.php?ac=credit">$space[credit]</a>)</p>
	<!--{/if}-->
</caption>

<!--{loop $results $key $value}-->
<tr>
	<td><!--{if !$incount}--><input type="checkbox" name="ids[]" value="$key"><!--{/if}--> <!--{if $value[blogid]}--><a href="space.php?uid=$space[uid]&do=blog&id=$value[blogid]" target="_blank">$value[title]</a><!--{else}-->$value[title]<!--{/if}--></td>
	<td>$value[dateCreated]</td>
	<!--{if $incount}--><td>$value[status]</td><!--{/if}-->
</tr>
<!--{/loop}-->

<!--{if !$incount}-->
<tr>
	<td colspan="3">
	<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')">Chọn tất cả
	<input type="submit" name="import2submit" value="Nhập" class="submit" />
	<input type="submit" name="resubmit" value="Đặt lại" class="submit" />
	</td>
</tr>
<!--{/if}-->

</table>

<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>

<!--{else}-->

<form method="post" action="cp.php?ac=import" class="c_form">
<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>Nhập Blog</h2>
		<p>Trang này hỗ trợ MetaWeblog API theo tiêu chuẩn XML-RPC<br />
		Địa chỉ là: {$siteurl}xmlrpc.php<br />
		Thông qua giao diện này, bạn có thể dễ dàng chuyển hàng loạt các bài blog từ các trang web khác sang trang cá nhân hiện tại;<br />
		Điều này yêu cầu trang web gốc của bạn cũng phải cung cấp giao diện API theo tiêu chuẩn XMLRPC, chi tiết vui lòng tham khảo quản trị viên của trang web đó.
		</p>
	</caption>
	<!--{if $paycredit}-->
	<tr><th width="120">Cần điểm</th><td>Sử dụng tính năng này cần trả thêm điểm: $paycredit (Số điểm hiện tại của bạn <a href="cp.php?ac=credit">$space[credit]</a>)</td></tr>
	<!--{/if}-->
	<tr><th width="120">Địa chỉ API của trang web gốc</th><td><input type="text" class="t_input" name="url" value="http://" size="40" />
		<br />Thông thường là một liên kết URL tương tự như http://u.discuz.net/xmlrpc.php
		</td></tr>
	<tr><th>Tên đăng nhập tại trang gốc</th><td><input type="text" class="t_input" name="username" value="" /></td></tr>
	<tr><th>Mật khẩu tại trang gốc</th><td><input type="password" class="t_input" name="password" value="" /></td></tr>
	<tr><th>Số lượng blog lấy mỗi lần</th><td><!--{eval echo $_SCONFIG['importnum'];}--></td></tr>
	<tr><th>&nbsp;</th><td><input type="submit" name="importsubmit" value="Gửi" class="submit" /></td></tr>
</table>

<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
	

<!--{/if}-->

<!--{template footer}-->