<!--{template header}-->

<!--{if $op == "buy"}-->

	<h1>Mua đạo cụ</h1>
	<a class="float_del" title="Đóng" href="javascript:hideMenu();">Đóng</a>
	<div class="toolly" id="__magicbuy_$mid">
	<!--{if $ac=='magic'}-->	
		<form id="magicbuy_$mid" action="cp.php?ac=magic&mid=$mid&op=buy" method="post">
	<!--{else}-->		
		<form id="magicbuy_$mid" action="magic.php?mid=$mid&op=buy&idtype=$idtype&id=$id{$extra}" method="post">
	<!--{/if}-->
			<div class="magic_img">
				<img src="image/magic/{$mid}.gif" alt="$magic[name]" />
			</div>
			<div class="magic_info">
				<h3>$magic[name]</h3>
				<p class="gray">$magic[description]</p>
				<!--{if $magic[experience]}-->
				<p>Tăng kinh nghiệm: <span>$magic[experience]</span></p>
				<!--{/if}-->
				<p>
					Giá đơn vị: <span>$magic[charge]</span> Điểm
					<!--{if $discount > 0}-->
					（Hưởng ưu đãi giảm giá $discount % <span>$charge</span> Điểm ）
					<!--{elseif $discount < 0}-->
					（Hưởng chiết khấu <span>Miễn phí</span> ）
					<!--{/if}-->				
				</p>
				<p>Kho hiện có: <span>$magicstore[storage]</span> cái</p>
				<p>Số lượng mua: <input class="t_input" type="text" name="buynum" value="1" style="width:40px;" /> cái（Hiện tại có thể mua tối đa $magicstore[maxbuy] cái）</p>
				<!--{if $coupon[count]}-->
				<p>Dùng phiếu giảm giá: <input class="t_input" type="text" name="coupon" value="0" style="width:40px;" /> tờ（mỗi tờ trị giá 100 điểm, bạn có {$coupon[count]} tờ）</p>
				<!--{/if}-->
				<p class="btn_line">
					<input type="hidden" name="formhash" value="<!--{eval echo formhash()}-->" />
					<input type="hidden" name="refer" value="$_SGLOBAL[refer]"/>
					<input type="hidden" name="buysubmit" value="1" />
				<!--{if $_SGLOBAL[inajax]}-->
					<!--{if $ac=='magic'}-->
					<input type="button" class="submit" id="buysubmit_btn" value="Mua" onclick="ajaxpost('magicbuy_$mid', 'magicBought', 2000)" />
					<!--{else}-->
					<input type="button" class="submit" id="buysubmit_btn" value="Mua" onclick="ajaxpost('magicbuy_$mid')" />
					<!--{/if}-->
				<!--{else}-->
					<input type="submit" class="submit" id="buysubmit_btn" value="Mua">
				<!--{/if}-->
				</p>
			</div>
		</form>
	</div>

<!--{elseif $op == "present"}-->

	<h1>Tặng đạo cụ</h1>
	<a class="float_del" title="Đóng" href="javascript:hideMenu();">Đóng</a>
	<div class="popupmenu_inner" id="__magicpresent_$mid">
		<form id="magicpresent_$mid" action="cp.php?ac=magic&mid=$mid" method="post">
			<p>
				Đạo cụ muốn tặng: $magic[name]
			</p>
			<p>
				Tên đăng nhập bạn bè: 
				<input type="text" name="fusername" />
			</p>
			<p class="btn_line">
				<input type="hidden" name="formhash" value="<!--{eval echo formhash()}-->" />
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]"/>
				<input type="hidden" name="presentsubmit" value="1" />
				<!--{if $_SGLOBAL[inajax]}-->
				<input type="button" class="submit" name="presentsubmit_btn" value="Tặng" onclick="ajaxpost('magicpresent_$mid', 'magicPresent', 2000)" />
				<!--{else}-->
				<input type="submit" class="submit" name="presentsubmit_btn" value="Tặng">
				<!--{/if}-->
			</p>
		</form>
	</div>
<!--{elseif $op == "showusage"}-->

	<h1>Hình ví dụ sử dụng đạo cụ</h1>
	<a class="float_del" title="Đóng" href="javascript:hideMenu();">Đóng</a>
	<div class="popupmenu_inner">
		<img src="image/magic/usage/{$mid}.gif" />		
	</div>
	
<!--{elseif $op == 'appear'}-->

	<h1>Khôi phục trạng thái trực tuyến</h1>
	<a class="float_del" title="Đóng" href="javascript:hideMenu();">Đóng</a>
	<div class="popupmenu_inner" id="__appearform">
	<form action="cp.php?ac=magic&op=$op" method="post" id="appearform">
		<p>
			Bạn chắc chắn muốn hủy hiệu ứng ẩn danh và khôi phục trạng thái trực tuyến chứ?
		</p>
		<p class="btn_line">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash()}-->" />
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]"/>
			<input type="hidden" name="appearsubmit" value="1" />
			<input type="submit" class="submit" value="Xác nhận" />
		</p>
	</form>
	</div>

<!--{elseif $op == 'retrieve'}-->

	<h1>Thu hồi bao lì xì</h1>
	<a class="float_del" title="Đóng" href="javascript:hideMenu();">Đóng</a>
	<div class="popupmenu_inner" id="__retrieveform">
	<form action="cp.php?ac=magic&op=$op" method="post" id="retrieveform">
		<p>
			Bao lì xì hiện còn $leftcredit điểm, bạn chắc chắn muốn thu hồi chứ?
		</p>
		<p class="btn_line">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash()}-->" />
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]"/>
			<input type="hidden" name="retrievesubmit" value="1" />
			<input type="submit" class="submit" value="Xác nhận" />
		</p>
	</form>
	</div>

<!--{elseif in_array($op, array('cancelsuperstar', 'cancelflicker', 'cancelcolor', 'cancelframe', 'cancelbgimage'))}-->

	<h1>Hủy hiệu ứng đạo cụ</h1>
	<a class="float_del" title="Đóng" href="javascript:hideMenu();">Đóng</a>
	<div class="popupmenu_inner" id="__cancelform">
	<form action="cp.php?ac=magic&op=$op&id=$_GET[id]&idtype=$_GET[idtype]" method="post" id="cancelform">
		<p>
			Bạn chắc chắn muốn hủy hiệu ứng của đạo cụ $_SGLOBAL[magic][$mid] chứ?
		</p>
		<p class="btn_line">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash()}-->" />
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]"/>
			<input type="hidden" name="cancelsubmit" value="1" />
			<input type="submit" class="submit" value="Xác nhận" />
		</p>
	</form>
	</div>
	
<!--{else}-->

	<h2 class="title"><img src="image/icon/magic.gif">Trung tâm đạo cụ</h2>
	<div class="tabs_header">
		<ul class="tabs">
			<li$actives[store]><a href="cp.php?ac=magic&view=store"><span>Cửa hàng đạo cụ</span></a></li>
			<li$actives[me]><a href="cp.php?ac=magic&view=me"><span>Đạo cụ của tôi</span></a></li>
			<li$actives[log]><a href="cp.php?ac=magic&view=log"><span>Lịch sử đạo cụ</span></a></li>
		</ul>
	</div>

	<div style="float:none;">

	<!--{if $_GET['view'] == "me"}-->
			
		<!--{if $mid}-->
		<p class="notice">
			Hiện tại chỉ hiển thị đạo cụ liên quan đến thao tác của bạn, 
			<a href="cp.php?ac=magic&view=$_GET[view]">nhấn vào đây để xem toàn bộ đạo cụ</a>
		</p>
		<p>&nbsp;</p>
		<!--{/if}-->

		<!--{if $list}-->
		<ul id="magiclist" class="magic_list">
		<!--{loop $list $key=>$value}-->
			<li id="magic_$key">
				<div class="magic_img">
					<img src="image/magic/{$key}.gif" alt="$magics[$key][name]" />
				</div>
				<div class="magic_info">
					<h3>$magics[$key][name]</h3>
					<p class="gray">
					$magics[$key][description]
					</p>
					<p>
						<a id="a_present_$key" href="cp.php?ac=magic&op=present&mid=$key" onclick="ajaxmenu(event, this.id, 1)" class="m_button<!--{if $key=='license'}--> m_off<!--{/if}-->">Tặng</a>
						Sở hữu <span id="magiccount_$key">$value[count]</span> cái
					</p>
				</div>
			</li>
		<!--{/loop}-->
		</ul>
		<!--{else}-->
		<p>Bạn chưa mua đạo cụ nào, <a href="cp.php?ac=magic&view=store">đến cửa hàng đạo cụ xem sao</a></p>
		<!--{/if}-->
	<!--{elseif $_GET['view'] == 'log'}-->

		<div class="h_status">
		Xem: 
		<a $types[in] href="cp.php?ac=magic&view=$_GET['view']&type=in">Lịch sử nhận</a>
		<span class="pipe">|</span>
		<a $types[present] href="cp.php?ac=magic&view=$_GET['view']&type=present">Lịch sử tặng</a>
		<span class="pipe">|</span>
		<a $types[out] href="cp.php?ac=magic&view=$_GET['view']&type=out">Lịch sử dùng</a>
		</div>

		<!--{if $_GET[type] == 'in'}-->
			<!--{if $list}-->
			<ul class="line_list">
				<!--{loop $list $value}-->
				<li>
					
					<!--{if $value[type] == '3'}-->
					Nhận khi lên cấp
					<!--{elseif $value[type] == '2'}-->
					Đã nhận được
					<!--{if $value[fromid]}-->
					<a href="space.php?uid=$value[fromid]" target="_blank">$_SN[$value[fromid]]</a>
					<!--{else}-->
					Quản trị viên
					<!--{/if}-->
					đã tặng
					<!--{else}-->
					Đã mua
					<!--{/if}-->
					<a href="cp.php?ac=magic&view=store&mid=$value[mid]" target="_blank">
						$_SGLOBAL[magic][$value[mid]]
					</a>
					$value[count]
					cái
					<span class="gray">(<!--{eval echo sgmdate('m-d H:i', $value[dateline], true)}-->)</span>
				</li>
				<!--{/loop}-->
			</ul>
			<div class="page">$multi</div>
			<!--{else}-->
			<p>Bạn không có lịch sử nhận đạo cụ nào gần đây</p>
			<!--{/if}-->
		<!--{elseif $_GET[type] == 'present'}-->
			<!--{if $list}-->
			<ul class="line_list">
				<!--{loop $list $value}-->
				<li>
					Đến
					<a href="space.php?uid=$value[uid]">$_SN[$value[uid]]</a>
					đã tặng
					<a href="cp.php?ac=magic&view=store&mid=$value[mid]" target="_blank">
						$_SGLOBAL[magic][$value[mid]]
					</a>
					<span class="gray">(<!--{eval echo sgmdate('m-d H:i', $value[dateline], true)}-->)</span>
				</li>
				<!--{/loop}-->
			</ul>
			<div class="page">$multi</div>
			<!--{else}-->
			<p>Bạn không có lịch sử tặng đạo cụ cho người khác gần đây</p>
			<!--{/if}-->		
		<!--{else}-->
			<!--{if $list}-->
			<ul class="line_list">
				<!--{loop $list $value}-->
				<li>
					Đã dùng
					<a href="cp.php?ac=magic&view=store&mid=$value[mid]" target="_blank">
						$_SGLOBAL[magic][$value[mid]]
					</a>
					$value[count] lần
				<!--{if $value['mid'] == 'invisible'}-->
					; &nbsp;Thời gian hết hạn: <!--{eval echo sgmdate('m-d H:i', $value[expire])}-->
				<!--{elseif $value['mid'] == 'gift'}-->
					; &nbsp;Số điểm còn lại: $value[data][left]
				<!--{elseif $value['mid'] == 'superstar'}-->
					; &nbsp;Thời gian hết hạn: <!--{eval echo sgmdate('m-d H:i', $value[expire])}-->
				<!--{/if}-->
					<span class="gray">(<!--{eval echo sgmdate('m-d H:i', $value[dateline], true)}-->)</span>
				</li>
				<!--{/loop}-->
			</ul>
			<div class="page">$multi</div>
			<!--{else}-->
			<p>Bạn không có lịch sử dùng đạo cụ nào gần đây</p>
			<!--{/if}-->
		<!--{/if}-->

	<!--{else}-->
		<div class="h_status">
		Sắp xếp: 
		<a $orders['default'] href="cp.php?ac=magic&view=$view&order=defalut">Mặc định</a>
		<span class="pipe">|</span>
		<a $orders['hot'] href="cp.php?ac=magic&view=$view&order=hot">Hot</a>
		</div>

		<!--{if $mid}-->
		<p class="notice">
			Hiện tại chỉ hiển thị đạo cụ liên quan đến thao tác của bạn, 
			<a href="cp.php?ac=magic&view=$_GET[view]">nhấn vào đây để xem toàn bộ đạo cụ</a>
		</p>
		<p>&nbsp;</p>
		<!--{/if}-->

		<ul id="magiclist" class="magic_list">
		<!--{loop $list $key=>$value}-->
			<li id="magic_$key">
				<div class="magic_img">
					<a id="a_i_buy_$key" href="cp.php?ac=magic&op=buy&mid=$key" onclick="ajaxmenu(event, this.id, 1)">
					<img src="image/magic/{$key}.gif" alt="$magics[$key][name]" />
					</a>
				</div>
				<div class="magic_info">
					<h3>
						$magics[$key][name]
						<!--{if $_GET[order] == 'hot'}-->
						<small class="gray" style="margin-left:10px;">Đã bán $value[sellcount] cái</small>
						<!--{/if}-->
					</h3>
					<p class="gray">$magics[$key][description]</p>
					<p>
						<!--{if in_array($space[groupid], $magics[$key][forbiddengid]) || in_array($mid, $blacklist)}-->
						<a id="a_buy_$key" href="cp.php?ac=magic&op=buy&mid=$key" onclick="ajaxmenu(event, this.id, 1)" class="m_button m_off">Không thể mua</a><span>$magics[$key][charge]</span> Điểm/cái
						<!--{else}-->
						<a id="a_buy_$key" href="cp.php?ac=magic&op=buy&mid=$key" onclick="ajaxmenu(event, this.id, 1)" class="m_button">Mua</a><span>$magics[$key][charge]</span> Điểm/cái
						<!--{/if}-->
					</p>
				</div>
			</li>
		<!--{/loop}-->
		</ul>
	<!--{/if}-->

	</div><!--//<div id="content" style="float:none;width:690px;">//-->
	<script type="text/javascript">
	<!--
	function magicBought(id, result) {
		var ids = explode('_', id);
		var mid = ids[1];
		if($('a_buy_'+mid)) {
			$('a_buy_'+mid).innerHTML = 'Tiếp tục mua';
		}
	}
	function magicPresent(id, result) {
		var ids = explode('_', id);
		var mid = ids[1];
		if($('a_present_'+mid)) {
			$('a_present_'+mid).innerHTML = 'Tiếp tục tặng';
		}
		if($('magiccount_'+mid)) {
			$('magiccount_'+mid).innerHTML = parseInt($('magiccount_'+mid).innerHTML) - 1;
		}
	}
	-->
	</script>

<!--{/if}-->

<!--{template footer}-->