<!--{template header}-->
<!--{template cp_header}-->

<div class="l_status c_form">
	<a href="cp.php?ac=privacy"$cat_actives[base]>Thiết lập riêng tư</a><span class="pipe">|</span>
	<a href="cp.php?ac=privacy&op=view"$cat_actives[view]>Lọc động thái</a>
</div>


<form method="post" action="cp.php?ac=privacy" class="c_form">

<!--{if empty($_GET['op'])}-->
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Thiết lập riêng tư cá nhân</h2>
			<p>Bạn có thể hoàn toàn kiểm soát ai có thể nhìn thấy nội dung trên trang cá nhân của bạn</p>
		</caption>
		<tr>
			<th width="150">Trang cá nhân</th>
			<td><select name="privacy[view][index]">
				<option value="0"$sels[view][index][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][index][1]>Chỉ bạn bè</option>
				<option value="2"$sels[view][index][2]>Chỉ mình tôi</option>
				</select></td>
		</tr>
		<tr>
			<th>Danh sách bạn bè</th>
			<td><select name="privacy[view][friend]">
				<option value="0"$sels[view][friend][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][friend][1]>Chỉ bạn bè</option>
				<option value="2"$sels[view][friend][2]>Chỉ mình tôi</option>
				</select></td>
		</tr>
		<tr>
			<th>Lưu bút</th>
			<td><select name="privacy[view][wall]">
				<option value="0"$sels[view][wall][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][wall][1]>Chỉ bạn bè</option>
				<option value="2"$sels[view][wall][2]>Chỉ mình tôi</option>
				</select></td>
		</tr>
		<tr>
			<th>Động thái cá nhân</th>
			<td><select name="privacy[view][feed]">
				<option value="0"$sels[view][feed][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][feed][1]>Chỉ bạn bè</option>
				</select></td>
		</tr>
		<tr>
			<th>Ghi chép</th>
			<td><select name="privacy[view][doing]">
				<option value="0"$sels[view][doing][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][doing][1]>Chỉ bạn bè</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">
				Thiết lập riêng tư này chỉ có hiệu lực khi người dùng khác xem trang cá nhân của bạn;
				<br>Các mục ghi chép của bạn vẫn có thể xuất hiện trong danh sách ghi chép của toàn trang.
			</td>
		</tr>
		<tr>
			<th>Blog</th>
			<td><select name="privacy[view][blog]">
				<option value="0"$sels[view][blog][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][blog][1]>Chỉ bạn bè</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">Thiết lập riêng tư này chỉ có hiệu lực khi người dùng khác xem trang cá nhân của bạn;
				<br>Quyền xem liên quan cần được thiết lập riêng trong từng bài blog để có hiệu lực hoàn toàn.
				</td>
		</tr>
		<tr>
			<th>Album</th>
			<td><select name="privacy[view][album]">
				<option value="0"$sels[view][album][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][album][1]>Chỉ bạn bè</option>
				</select>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">Thiết lập riêng tư này chỉ có hiệu lực khi người dùng khác xem trang cá nhân của bạn;
				<br>Quyền xem liên quan cần được thiết lập riêng trong từng album để có hiệu lực hoàn toàn.</td>
		</tr>
		<tr>
			<th>Chia sẻ</th>
			<td><select name="privacy[view][share]">
				<option value="0"$sels[view][share][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][share][1]>Chỉ bạn bè</option>
				</select></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">
				Thiết lập riêng tư này chỉ có hiệu lực khi người dùng khác xem trang cá nhân của bạn;
				<br>Các mục chia sẻ của bạn vẫn có thể xuất hiện trong danh sách chia sẻ của toàn trang.
			</td>
		</tr>
		<tr>
			<th>Sự kiện</th>
			<td><select name="privacy[view][event]">
				<option value="0"$sels[view][event][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][event][1]>Chỉ bạn bè</option>
				</select></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">
				Thiết lập riêng tư này chỉ có hiệu lực khi người dùng khác xem trang cá nhân của bạn;
			</td>
		</tr>
		<tr>
			<th>Bình chọn</th>
			<td><select name="privacy[view][poll]">
				<option value="0"$sels[view][poll][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][poll][1]>Chỉ bạn bè</option>
				</select></td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td class="gray">
				Thiết lập riêng tư này chỉ có hiệu lực khi người dùng khác xem trang cá nhân của bạn;
			</td>
		</tr>
		<tr>
			<th>Nhóm</th>
			<td><select name="privacy[view][mtag]">
				<option value="0"$sels[view][mtag][0]>Tất cả người dùng</option>
				<option value="1"$sels[view][mtag][1]>Chỉ bạn bè</option>
				<option value="2"$sels[view][mtag][2]>Chỉ mình tôi</option>
				</select></td>
		</tr>
		<!--{if $_SCONFIG[videophoto] && $space[videostatus]}-->
		<tr>
			<th></th>
			<td><img src="image/videophoto.gif" align="absmiddle"> Bạn đã vượt qua xác thực video. Đối với những người dùng chưa xác thực video, bạn có thể thiết lập các quyền sau:</td>
		</tr>
		<tr>
			<th>Xem ảnh xác thực của tôi</th>
			<td><select name="privacy[view][videoviewphoto]">
				<option value="0"$sels[view][videoviewphoto][0]>Mặc định hệ thống</option>
				<option value="1"$sels[view][videoviewphoto][1]>Cho phép</option>
				<option value="2"$sels[view][videoviewphoto][2]>Cấm</option>
				</select></td>
		</tr>
		<tr>
			<th>Đăng ký kết bạn với tôi</th>
			<td><select name="privacy[view][videofriend]">
				<option value="0"$sels[view][videofriend][0]>Mặc định hệ thống</option>
				<option value="1"$sels[view][videofriend][1]>Cho phép</option>
				<option value="2"$sels[view][videofriend][2]>Cấm</option>
				</select></td>
		</tr>
		<tr>
			<th>Chào hỏi tôi</th>
			<td><select name="privacy[view][videopoke]">
				<option value="0"$sels[view][videopoke][0]>Mặc định hệ thống</option>
				<option value="1"$sels[view][videopoke][1]>Cho phép</option>
				<option value="2"$sels[view][videopoke][2]>Cấm</option>
				</select></td>
		</tr>
		<tr>
			<th>Để lại lời nhắn cho tôi</th>
			<td><select name="privacy[view][videowall]">
				<option value="0"$sels[view][videowall][0]>Mặc định hệ thống</option>
				<option value="1"$sels[view][videowall][1]>Cho phép</option>
				<option value="2"$sels[view][videowall][2]>Cấm</option>
				</select></td>
		</tr>
		<tr>
			<th>Bình luận thông tin của tôi</th>
			<td><select name="privacy[view][videocomment]">
				<option value="0"$sels[view][videocomment][0]>Mặc định hệ thống</option>
				<option value="1"$sels[view][videocomment][1]>Cho phép</option>
				<option value="2"$sels[view][videocomment][2]>Cấm</option>
				</select></td>
		</tr>
		<!--{/if}-->
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" name="privacysubmit" value="Lưu thiết lập" class="submit"></td>
		</tr>
	</table>
	
	<table cellspacing="0" cellpadding="0" class="formtable" id="feed">
		<caption>
			<h2>Thiết lập gửi thông báo động thái cá nhân</h2>
			<p>Hệ thống sẽ phản ánh các hành động của bạn vào các thông báo động thái, giúp bạn bè hiểu được các hoạt động của bạn.<br>Bạn có thể kiểm soát việc có gửi thông báo vào động thái khi các hành động sau xảy ra hay không</p>
		</caption>
		<tr>
			<th width="150">&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][doing]" value="1"$sels[feed][doing]>Ghi chép</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][blog]" value="1"$sels[feed][blog]>Viết blog</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][upload]" value="1"$sels[feed][upload]>Tải ảnh lên</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][share]" value="1"$sels[feed][share]>Thêm chia sẻ</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][poll]" value="1"$sels[feed][poll]>Tạo bình chọn</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][joinpoll]" value="1"$sels[feed][joinpoll]>Tham gia bình chọn</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][thread]" value="1"$sels[feed][thread]>Tạo thảo luận</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][post]" value="1"$sels[feed][post]>Trả lời thảo luận</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][mtag]" value="1"$sels[feed][mtag]>Tham gia nhóm</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][event]" value="1"$sels[feed][event]>Tạo sự kiện</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][join]" value="1"$sels[feed][join]>Tham gia sự kiện</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][friend]" value="1"$sels[feed][friend]>Thêm bạn bè</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][comment]" value="1"$sels[feed][comment]>Bình luận/Lưu bút</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][show]" value="1"$sels[feed][show]>Đua top xếp hạng</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][credit]" value="1"$sels[feed][credit]>Tiêu dùng tích điểm</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][invite]" value="1"$sels[feed][invite]>Mời bạn bè</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][task]" value="1"$sels[feed][task]>Hoàn thành nhiệm vụ</td>
		</tr>				
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][profile]" value="1"$sels[feed][profile]>Cập nhật hồ sơ cá nhân</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="checkbox" name="privacy[feed][click]" value="1"$sels[feed][click]>Biểu hiện cảm xúc bài blog/ảnh/thảo luận</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td><input type="submit" name="privacysubmit" value="Lưu thiết lập" class="submit"></td>
		</tr>
	</table>
	
<!--{else}-->
	<!--{eval
			$iconnames['activity'] = 'Nhật ký';
			$iconnames['album'] = 'Album';
			$iconnames['blog'] = 'Blog';
			$iconnames['comment'] = 'Bình luận';
			$iconnames['blogcomment'] = 'Bình luận Blog';
			$iconnames['clickblog'] = 'Cảm xúc Blog';
			$iconnames['clickpic'] = 'Cảm xúc ảnh';
			$iconnames['clickthread'] = 'Cảm xúc thảo luận';
			$iconnames['piccomment'] = 'Bình luận ảnh';
			$iconnames['sharecomment'] = 'Bình luận chia sẻ';
			$iconnames['debate'] = 'Tranh luận';
			$iconnames['discuz'] = 'Diễn đàn';
			$iconnames['doing'] = 'Ghi chép';
			$iconnames['friend'] = 'Bạn bè';
			$iconnames['goods'] = 'Hàng hóa';
			$iconnames['mood'] = 'Tâm trạng';
			$iconnames['mtag'] = 'Nhóm';
			$iconnames['event'] = 'Sự kiện';
			$iconnames['eventcomment'] = 'Lưu bút sự kiện';
			$iconnames['eventmember'] = 'Quản lý thành viên sự kiện';
			$iconnames['eventmemberstatus'] = 'Vai trò thành viên sự kiện';
			$iconnames['network'] = 'Dạo xem';
			$iconnames['poll'] = 'Bình chọn';
			$iconnames['post'] = 'Trả lời';
			$iconnames['profile'] = 'Cập nhật hồ sơ';
			$iconnames['reward'] = 'Thưởng';
			$iconnames['share'] = 'Chia sẻ';
			$iconnames['sharenotice'] = 'Thông báo chia sẻ';
			$iconnames['show'] = 'Bảng xếp hạng';
			$iconnames['task'] = 'Nhiệm vụ';
			$iconnames['thread'] = 'Thảo luận';
			$iconnames['post'] = 'Trả lời thảo luận';
			$iconnames['video'] = 'Video';
			$iconnames['wall'] = 'Lưu bút';
			$iconnames['credit'] = 'Tặng điểm';
			$iconnames['poll'] = 'Bình chọn';
			$iconnames['pollcomment'] = 'Bình luận bình chọn';
			$iconnames['pollinvite'] = 'Mời bình chọn';
		}-->

	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Quy tắc lọc 1: Chặn động thái của nhóm người dùng được chỉ định</h2>
			<p>Bạn có thể quyết định chặn động thái của nhóm người dùng nào, các động thái do thành viên trong nhóm đó phát sẽ bị chặn.</p>
		</caption>
		<!--{loop $groups $key $value}-->
		<tr>
			<th width="150">&nbsp;</th>
			<td><input type="checkbox" name="privacy[filter_gid][$key]" value="$key"<!--{if isset($space['privacy']['filter_gid'][$key])}--> checked<!--{/if}-->>
				$value</td>
		</tr>
		<!--{/loop}-->
		<tr>
			<th>&nbsp;</th>
			<td>
			<input type="submit" name="privacy2submit" value="Lưu thiết lập" class="submit">
			<br>Bạn có thể phân nhóm bạn bè trong <a href="space.php?do=friend">Danh sách bạn bè</a> của mình và có thể đổi tên nhóm người dùng.
			</td>
		</tr>
	</table>
	<br>
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Quy tắc lọc 2: Chặn loại động thái cụ thể của bạn bè được chỉ định</h2>
			<p>Nhấp vào biểu tượng chặn sau danh sách động thái bạn bè trên trang chủ để chặn loại động thái cụ thể của bạn bè đó.<br>Dưới đây là danh sách các bí danh loại động thái và tên bạn bè bạn đã chặn, bạn có thể chọn bỏ chặn chúng.</p>
		</caption>
		<!--{if $icons}-->
		
		<tr>
			<th width="150">&nbsp;</th>
			<td>
			<ul>
			<!--{loop $icons $key $icon}-->
			<!--{eval $uid = $uids[$key];$icon_uid="$icon|$uid";}-->
			<li>
			<!--{if is_numeric($icon)}-->
				<img src="http://appicon.manyou.com/icons/{$icon}" align="absmiddle">
			<!--{else}-->
				<img src="image/icon/{$icon}.gif" align="absmiddle">
			<!--{/if}-->
				<input type="checkbox" name="privacy[filter_icon][$icon_uid]" value="1" checked> 
				<span class="type_$icon"> <!--{if isset($iconnames[$icon])}-->$iconnames[$icon]<!--{else}-->$icon<!--{/if}--> (<!--{if $users[$uid]}--><a href="space.php?uid=$uid" target="_blank">$users[$uid]</a><!--{else}-->Tất cả bạn bè<!--{/if}-->)</span>
			</li>
			<!--{/loop}-->
			</ul>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
			<input type="submit" name="privacy2submit" value="Lưu thiết lập" class="submit">
			</td>
		</tr>
		<!--{else}-->
		<tr>
			<th width="150">&nbsp;</th>
			<td>Hiện tại chưa có loại động thái nào bị chặn</td>
		</tr>
		<!--{/if}-->
	</table>
	<br>
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Quy tắc lọc 3: Chặn loại thông báo cụ thể của bạn bè được chỉ định</h2>
			<p>Nhấp vào biểu tượng chặn sau danh sách thông báo để chặn loại thông báo cụ thể của bạn bè đó.<br>Dưới đây là danh sách các loại thông báo và tên bạn bè bạn đã chặn, bạn có thể chọn bỏ chặn chúng.</p>
		</caption>
		<!--{if $types}-->
		
		<tr>
			<th width="150">&nbsp;</th>
			<td>
				<ul>
				<!--{loop $types $key $type}-->
				<!--{eval $uid = $uids[$key];$type_uid="$type|$uid";}-->
					<li>
						<input type="checkbox" name="privacy[filter_note][$type_uid]" value="1" checked>
						<span class="type_$type"> <!--{if isset($iconnames[$type])}-->$iconnames[$type]<!--{else}-->$type<!--{/if}--> (<!--{if $users[$uid]}--><a href="space.php?uid=$uid" target="_blank">$users[$uid]</a><!--{else}-->Tất cả bạn bè<!--{/if}-->)</span>
					</li>
				<!--{/loop}-->
				</ul>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
			<input type="submit" name="privacy2submit" value="Lưu thiết lập" class="submit">
			</td>
		</tr>
		<!--{else}-->
		<tr>
			<th width="150">&nbsp;</th>
			<td>Hiện tại chưa có loại thông báo nào bị chặn</td>
		</tr>
		<!--{/if}-->
	</table>
<!--{/if}-->
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>


<!--{template footer}-->