<!--{template header}-->

<!--{template cp_header}-->
<form action="cp.php?ac=sendmail&ref" method="post" class="c_form" >
<!--{if empty($space['emailcheck']) }-->
		<table cellspacing="0" cellpadding="0" class="formtable">
			<caption>
				<h2>Trước tiên bạn cần kích hoạt email</h2>
				<p>Điền email bạn thường dùng, hệ thống sẽ gửi một email chứa liên kết kích hoạt. Hãy sao chép liên kết đó vào trình duyệt để kích hoạt email, sau đó bạn có thể thiết lập thông báo qua email.</p>
			</caption>
			<tr>
				<td><a href="cp.php?ac=profile&op=contact">Nhấn vào đây để xác thực kích hoạt email của tôi $space[email]</a></td>
			</tr>
		</table>
<!--{else}-->
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Thiết lập thông báo qua email</h2>
			<p>Hệ thống sẽ tự động gửi email nhắc nhở nếu bạn không đăng nhập vào trang web quá $_SCONFIG[sendmailday] ngày. Bạn có thể chọn chỉ nhận thông báo cho một số danh mục sau:</p>
		</caption>
		<tr>
			<td>
				<div><b>Trao đổi giữa tôi và bạn bè</b> </div>
				<div ><input type="checkbox" name="sendmail[friend_pm]" value="1" $sendmail[friend_pm]<!--{if !$sendmail}-->checked<!--{/if}--> />Gửi tin nhắn cho tôi</div>
				<div ><input type="checkbox" name="sendmail[comment_friend]" value="1" $sendmail[comment_friend]<!--{if !$sendmail}-->checked<!--{/if}--> />Để lại lời nhắn cho tôi</div>
				<div ><input type="checkbox" name="sendmail[comment_friend_reply]" value="1" $sendmail[comment_friend_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Trả lời lời nhắn của tôi</div>
				<div ><input type="checkbox" name="sendmail[poke]" value="1" $sendmail[poke]<!--{if !$sendmail}-->checked<!--{/if}--> />Chào hỏi tôi</div>
				<div ><input type="checkbox" name="sendmail[friend_add]" value="1" $sendmail[friend_add]<!--{if !$sendmail}-->checked<!--{/if}--> />Mời kết bạn</div>
				<br />
				<div><b>Blog</b></div>
				<div ><input type="checkbox" name="sendmail[blog_comment]"  value="1" $sendmail[blog_comment]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận mới trong Blog của tôi</div>
				<div ><input type="checkbox" name="sendmail[blog_comment_reply]"  value="1" $sendmail[blog_comment_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận Blog của tôi có phản hồi mới</div>
				<br />
				<div><b>Album</b></div>
				<div ><input type="checkbox" name="sendmail[photo_comment]"  value="1" $sendmail[photo_comment]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận mới cho ảnh của tôi</div>
				<div ><input type="checkbox" name="sendmail[photo_comment_reply]"  value="1" $sendmail[photo_comment_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận ảnh của tôi có phản hồi mới</div>
				<br />
				<div><b>Chia sẻ</b></div>
				<div ><input type="checkbox" name="sendmail[share_comment]"  value="1" $sendmail[share_comment]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận mới cho chia sẻ của tôi</div>
				<div ><input type="checkbox" name="sendmail[share_comment_reply]"  value="1" $sendmail[share_comment_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận chia sẻ của tôi có phản hồi mới</div>
				<br />
				<div><b>Thảo luận</b></div>
				<div ><input type="checkbox" name="sendmail[mtag_reply]"  value="1" $sendmail[mtag_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Phản hồi mới cho thảo luận của tôi</div>						
				<br />
				<div><b>Sự kiện</b></div>
				<div ><input type="checkbox" name="sendmail[event]"  value="1" $sendmail[event]<!--{if !$sendmail}-->checked<!--{/if}--> />Sự kiện tôi tổ chức có thành viên mới đang chờ phê duyệt</div>						
				<br />
				<div><b>Bình chọn</b></div>
				<div ><input type="checkbox" name="sendmail[poll_comment]"  value="1" $sendmail[poll_comment]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận mới cho bình chọn của tôi</div>
				<div ><input type="checkbox" name="sendmail[poll_comment_reply]"  value="1" $sendmail[poll_comment_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận bình chọn của tôi có phản hồi mới</div>
				<br />
				<div>Tần suất gửi email 
				<select name="sendmail[frequency]">
				<option value="0">Gửi ngay lập tức</option>
				<option value="86400" $sendmail[frequency][86400]>Gửi mỗi ngày một lần</option>
				<option value="604800" $sendmail[frequency][604800] <!--{if !$sendmail}-->selected<!--{/if}-->>Gửi mỗi tuần một lần</option>
				</select>
				</div>
				<br />
			</td>
		</tr>
		<tr><td>
			<input type="submit" name="setsendemailsubmit" value="Lưu thiết lập" class="submit" />
			<div class="gray">
				Email thông báo sẽ được gửi đến địa chỉ email hiện tại của bạn $space[email] 
				(<a href="cp.php?ac=profile&op=contact">Sửa email</a>)
			</div>
		</td></tr>
	</table>
<!--{/if}-->
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>


<!--{template footer}-->