<!--{template header}-->
<!--{if $op=='diy'}-->
<!--{template cp_header}-->
<div class="h_status"><a href="cp.php?ac=theme">Quay lại danh sách giao diện</a></div>

<div class="d_content">
	
	<form method="post" action="cp.php?ac=theme" class="c_form">
	
	<!--{if !empty($_GET['view'])}-->
	<div class="notice">Lần lưu cuối: <!--{date('H:i:s',$_SGLOBAL[timestamp])}-->, <a href="space.php" target="_blank">Xem trước trang cá nhân trong cửa sổ mới</a></div>
	<!--{/if}-->
	
	<table cellspacing="6" cellpadding="0" width="100%">
	<!--{if $allowcss}-->
	<tr>
		<td>Tự thiết kế giao diện trang cá nhân, việc này đòi hỏi bạn phải có kiến thức nhất định về CSS<br>
		Nội dung CSS:<br>
		<textarea name="css" style="width:98%;" rows="20">$space[css]</textarea></td>
	</tr>
	<!--{else}-->
	<tr>
		<td>Hiện tại bạn không thể tùy chỉnh phong cách CSS. Bạn có thể thiết lập chặn phong cách của người khác, hoặc <a href="cp.php?ac=theme">quay lại danh sách giao diện</a> để chọn giao diện hệ thống.</td>
	</tr>
	<!--{/if}-->
	<tr>
		<td>
		<input type="checkbox" name="nocss" value="1"<!--{if $space[nocss]}--> checked<!--{/if}-->> <strong>Chặn phong cách của người khác</strong>
		<br>
		Việc người khác trang trí không đúng có thể gây ra vấn đề khi xem trang cá nhân của họ. Bạn có thể chọn mục này để hiển thị hiệu ứng mặc định khi xem trang cá nhân của mọi người.
		</td>
	</tr>
	<tr>
		<td><input type="submit" name="csssubmit" id="csssubmit" value="Lưu thay đổi" class="submit" /> 
		</td>
	</tr>
	</table>
	
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{else}-->
<!--{template cp_header}-->
<div class="c_form">
	<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>Giao diện trang chủ</h2>
		<p>
			Chọn phong cách trang cá nhân bạn yêu thích.
			<!--{if checkperm('admin')}--><a href="http://u.discuz.net/theme">Với tư cách là người quản trị, bạn có thể tải thêm nhiều phong cách khác tại đây để người dùng trong trang web lựa chọn sử dụng.</a><!--{/if}-->
		</p>
	</caption>
	<tr>
	<!--{eval $i=0;}-->
	<!--{loop $themes $key $value}-->
		<td align="center">
			<div style="border: 1px solid #CCC; padding: 2px; width: 110px; ">
			<!--{if $value['dir']!='uchomediy'}-->
			<a href="space.php?theme=$value[dir]" target="_blank"><!--{if $value[pic]}--><img src="$value[pic]" alt="$value[name]" style="width: 110px; height: 120px" /><!--{else}--><img src="theme/$value[dir]/preview.jpg" alt="$value[name]" style="width: 110px; height: 120px" /><!--{/if}--></a>
			<!--{else}-->
			<a href="cp.php?ac=theme&op=diy"><img src="$value[pic]" alt="$value[name]" /></a>
			<!--{/if}-->
			</div>
			
			<div style="padding: 10px;">
				<!--{if $value['dir']=='uchomediy'}-->
				<a href="cp.php?ac=theme&op=diy"><strong>$value[name]</strong></a>
				<!--{else}-->
				<a href="space.php?theme=$value[dir]" target="_blank"><strong>$value[name]</strong></a>
				<!--{/if}-->
				<br>
				<!--{if $value['dir']=='uchomediy'}-->
				<a href="cp.php?ac=theme&op=diy">Vào giao diện thiết lập</a>
				<!--{else}-->
				<a href="space.php?theme=$value[dir]" target="_blank">Xem trước</a> | <a href="cp.php?ac=theme&op=use&dir=$value[dir]">Sử dụng</a>
				<!--{/if}-->
			</div>

		</td>
		<!--{if $i%4==3}--></tr><tr><!--{/if}-->
		<!--{eval $i++;}-->
	<!--{/loop}-->
	</tr>
	</table>
	
	<form method="post" action="cp.php?ac=theme">
	<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>Múi giờ của tôi</h2>
		<p>Nếu bạn thấy thời gian hiển thị hiện tại chênh lệch vài giờ so với thời gian địa phương của bạn, bạn cần thay đổi cài đặt múi giờ của mình.</p>
	</caption>
	<tr>
	<tr>
		<th width="120">
		Thời gian hiện tại
		</th>
		<td>
		<!--{date('Y-m-d H:i',$_SGLOBAL[timestamp])}-->
		</td>
	</tr>
	<tr>
		<th>
			Múi giờ của tôi
		</th>
		<td>
			<select name="timeoffset">
			<option value="">Sử dụng mặc định hệ thống</option>
			<option value="-12" $toselect[-12]>(GMT -12:00) Eniwetok, Kwajalein</option>
			<option value="-11" $toselect[-11]>(GMT -11:00) Midway Island, Samoa</option>
			<option value="-10" $toselect[-10]>(GMT -10:00) Hawaii</option>
			<option value="-9" $toselect[-9]>(GMT -09:00) Alaska</option>
			<option value="-8" $toselect[-8]>(GMT -08:00) Pacific Time (US &amp; Canada), Tijuana</option>
			<option value="-7" $toselect[-7]>(GMT -07:00) Mountain Time (US &amp; Canada), Arizona</option>
			<option value="-6" $toselect[-6]>(GMT -06:00) Central Time (US &amp; Canada), Mexico City</option>
			<option value="-5" $toselect[-5]>(GMT -05:00) Eastern Time (US &amp; Canada), Bogota, Lima, Quito</option>
			<option value="-4" $toselect[-4]>(GMT -04:00) Atlantic Time (Canada), Caracas, La Paz</option>
			<option value="-3.5" $toselect[-3.5]>(GMT -03:30) Newfoundland</option>
			<option value="-3" $toselect[-3]>(GMT -03:00) Brassila, Buenos Aires, Georgetown, Falkland Is</option>
			<option value="-2" $toselect[-2]>(GMT -02:00) Mid-Atlantic, Ascension Is., St. Helena</option>
			<option value="-1" $toselect[-1]>(GMT -01:00) Azores, Cape Verde Islands</option>
			<option value="0"  $toselect[0]>(GMT) Casablanca, Dublin, Edinburgh, London, Lisbon, Monrovia</option>
			<option value="1" $toselect[1]>(GMT +01:00) Amsterdam, Berlin, Brussels, Madrid, Paris, Rome</option>
			<option value="2" $toselect[2]>(GMT +02:00) Cairo, Helsinki, Kaliningrad, South Africa</option>
			<option value="3" $toselect[3]>(GMT +03:00) Baghdad, Riyadh, Moscow, Nairobi</option>
			<option value="3.5" $toselect[3.5]>(GMT +03:30) Tehran</option>
			<option value="4" $toselect[4]>(GMT +04:00) Abu Dhabi, Baku, Muscat, Tbilisi</option>
			<option value="4.5" $toselect[4.5]>(GMT +04:30) Kabul</option>
			<option value="5" $toselect[5]>(GMT +05:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
			<option value="5.5" $toselect[5.5]>(GMT +05:30) Bombay, Calcutta, Madras, New Delhi</option>
			<option value="5.75" $toselect[5.75]>(GMT +05:45) Katmandu</option>
			<option value="6" $toselect[6]>(GMT +06:00) Almaty, Colombo, Dhaka, Novosibirsk</option>
			<option value="6.5" $toselect[6.5]>(GMT +06:30) Rangoon</option>
			<option value="7" $toselect[7]>(GMT +07:00) Bangkok, Hanoi, Jakarta</option>
			<option value="8" $toselect[8]>(GMT +08:00) Beijing, Hong Kong, Perth, Singapore, Taipei</option>
			<option value="9" $toselect[9]>(GMT +09:00) Osaka, Sapporo, Seoul, Tokyo, Yakutsk</option>
			<option value="9.5" $toselect[9.5]>(GMT +09:30) Adelaide, Darwin</option>
			<option value="10" $toselect[10]>(GMT +10:00) Canberra, Guam, Melbourne, Sydney, Vladivostok</option>
			<option value="11" $toselect[11]>(GMT +11:00) Magadan, New Caledonia, Solomon Islands</option>
			<option value="12" $toselect[12]>(GMT +12:00) Auckland, Wellington, Fiji, Marshall Island</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td><input type="submit" name="timeoffsetsubmit" value="Gửi" class="submit" /></td>
	</tr>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>

<!--{/if}-->

<!--{template footer}-->