<h2 class="title">
	<img src="image/app/topic.gif" />Chủ đề hot - <a href="space.php?do=topic&topicid=$topicid">$topic[subject]</a>
</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="javascript:;"><span>Tham gia chủ đề hot</span></a></li>
		<li><a href="space.php?do=topic&topicid=$topicid"><span>Xem chủ đề hot</span></a></li>
	</ul>
	<!--{if checkperm('managetopic') || $topic['uid']==$_SGLOBAL[supe_uid]}-->
	<div class="r_option">
		<a href="cp.php?ac=topic&op=edit&topicid=$topic[topicid]">Sửa</a> | 
		<a href="cp.php?ac=topic&op=delete&topicid=$topic[topicid]" id="a_delete_$topic[topicid]" onclick="ajaxmenu(event,this.id);">Xóa</a>
		</p>
	</div>
	<!--{/if}-->
</div>

<!--{template space_topic_inc}-->