<!--{template header}-->
<!--{template cp_header}-->

<div class="c_form">

<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2><!--{if $space[videostatus]}-->Ảnh xác thực video của tôi<!--{else}-->Đăng ký xác thực video<!--{/if}--></h2>
		<p>
		<!--{if $space[videostatus]}-->
		Dưới đây là ảnh xác thực video của bạn. Nếu quản trị viên cho phép xác thực lại, bạn có thể <a href="userapp.php?id=1036584">vào lại quy trình xác thực video</a>.
		<!--{else}-->
		Bạn cần chuẩn bị camera, sau đó nhấn nút bên dưới để tiến hành xác thực video. Thông thường sau khi đã xác thực thành công, bạn sẽ không được phép xác thực lại.
		<!--{/if}-->
		</p>
	</caption>
	<tr>
		<td>
			<!--{if $space[videostatus]}-->
			<img src="$videophoto" id="avatar" alt="" width="400" />
			<!--{elseif $_SCONFIG['videophoto']}-->
			<a href="userapp.php?id=1036584&my_suffix=Lw%3D%3D"><img src="image/videophoto_btn.gif" alt=""></a>
			<!--{/if}-->
		</td>
	</tr>
</table>

<!--{if checkperm('managevideophoto')}-->
<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>Kiểm duyệt xác thực video</h2>
		<p>Bạn có thể vào nền tảng xác thực video để tự thiết lập quản lý kiểm duyệt xác thực.</p>
	</caption>
	<tr>
		<td>
			<a href="userapp.php?id=1036584" class="submit">Quản lý kiểm duyệt xác thực video</a>
		</td>
	</tr>
</table>
<!--{/if}-->
	
</div>
<!--{template footer}-->
