<!--{if !empty($uploadResponse)}-->
<uploadResponse>
	<message><!--{if $status=="success"}-->Hoàn thành<!--{else}-->$uploadfiles<!--{/if}--></message>
	<status>$status</status>
	<proid>$proid</proid>
	<albumid>$albumid</albumid>
	<picid>$picid</picid>
	<!--{if $fileurl}--><filepath>$fileurl</filepath><!--{/if}-->
</uploadResponse>
<!--{else}-->
<parameter>
	<!--{if $iscamera}-->
		<images>
			<!--{loop $dirarr $key $val}-->
			<categories name="$val[0]" directory="$val[1]">
				<!--{loop $val[2] $ikey $value}-->
					<img name="$value"/>
				<!--{/loop}-->
			</categories>
			<!--{/loop}-->
		</images>
	<!--{elseif $isdoodle}-->
		<background>
			<!--{loop $filearr $key $filename}-->
			<bg url="./image/doodle/big/{$filename}" thumb="./image/doodle/thumb/{$filename}"/>
			<!--{/loop}-->
		</background>
	<!--{elseif $isupload}-->
		<allowsExtend>
			<extend depict="All Image File(*.jpg,*.jpeg,*.gif,*.png)">*.jpg,*.gif,*.png,*.jpeg</extend>
		</allowsExtend>
	<!--{/if}-->
	<language>
			<create>Tạo</create>
			<notCreate>Hủy</notCreate>
			<albumName>Tên album</albumName>
			<createTitle>Tạo album mới</createTitle>
		<!--{if !$isdoodle}-->
			<okbtn>Tiếp tục</okbtn>
			<cancelbtn>Xem</cancelbtn>
			<!--{if $isupload}-->
				<fileName>Tên file</fileName>
				<depict>Mô tả (Nhấn để sửa)</depict>
				<size>Dung lượng</size>
				<stat>Tiến trình</stat>
				<aimAlbum>Tải lên:</aimAlbum>
				<browser>Chọn file</browser>
				<delete>Xóa</delete>
				<upload>Tải lên</upload>
				<okTitle>Tải lên hoàn tất</okTitle>
				<okMsg>Tất cả file đã được tải lên hoàn tất!</okMsg>
				<uploadTitle>Đang tải lên</uploadTitle>
				<uploadMsg1>Tổng cộng có</uploadMsg1>
				<uploadMsg2>file đang chờ tải lên, đang tải file thứ</uploadMsg2>
				<uploadMsg3></uploadMsg3>
				<bigFile>File quá lớn</bigFile>
				<uploaderror>Tải lên thất bại</uploaderror>
			<!--{elseif $iscamera}-->
				<desultory>Chụp ảnh</desultory>
				<series>Chụp liên tục</series>
				<save>Lưu</save>
				<pageup>Trang trước</pageup>
				<pagedown>Trang sau</pagedown>
				<clearbg>Xóa khung</clearbg>
				<reload>Tải lại</reload>
				<cancel>Hủy</cancel>
				<siteerror>Lỗi tham số, hệ thống tải thất bại</siteerror>
				<ver1>Chương trình yêu cầu FlashPlayer 9.0.45 trở lên, phiên bản hiện tại là</ver1>
				<ver2>Vui lòng nâng cấp</ver2>
				<refuse>Đã phát hiện camera nhưng bạn đã từ chối sử dụng camera</refuse>
				<countdown>Đếm ngược</countdown>
				<second>giây</second>
				<nocam>Không phát hiện thấy camera hoặc camera đang được sử dụng</nocam>
				<autoShooting>giây tự sướng</autoShooting>
				<explain>Thiết lập tham số:</explain>
				<okTitle>Tải lên hoàn tất</okTitle>
				<okMsg>Ảnh sticker đã tải lên hoàn tất</okMsg>
				<saveTitle>Đang tải lên</saveTitle>
				<saveToNote>Lưu vào</saveToNote>
				<saveMsg1>Tổng cộng có</saveMsg1>
				<saveMsg2>ảnh sticker, đang lưu ảnh thứ</saveMsg2>
				<saveMsg3></saveMsg3>
			<!--{/if}-->
		<!--{else}-->
			<reload>Vẽ lại</reload>
			<save>Lưu</save>
			<notDraw>Không có hành động vẽ nào, không thể lưu</notDraw>
		<!--{/if}-->
	</language>
	<config>
		<userid>$_SGLOBAL[supe_uid]</userid>
		<hash>$hash</hash>
		<maxupload>$max</maxupload>
		<!--{if $iscamera}-->
			<countdown>3</countdown>
			<countBy>2000</countBy>
		<!--{/if}-->
	</config>
	<!--{if $isdoodle}-->
	<filters>
		<filter id="0">Vô hiệu hóa</filter>
		<filter id="1">Đổ bóng</filter>
		<filter id="2">Làm mờ</filter>
		<filter id="3">Phát sáng</filter>
		<filter id="4">Màu nước</filter>
		<filter id="5">Tia nước</filter>
		<filter id="6">Vải</filter>
	</filters>
	<!--{/if}-->
	<albums>
		<album id="-1">Vui lòng chọn album</album>
		<!--{loop $albums $key $value}-->
			<album id="$value[albumid]">$value['albumname']</album>
		<!--{/loop}-->
		<album id="add">+ Tạo album mới</album>
	</albums>
</parameter>
<!--{/if}-->