<!--{template header}-->
<h2 class="title"><a href="do.php?ac=stat">Thống kê xu hướng hệ thống</a></h2>

<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>Phân loại thống kê</h2>
		<p>Hệ thống thống kê xu hướng sẽ ghi lại khái quát sự phát triển hàng ngày của hệ thống. Thông qua những thay đổi về xu hướng hàng ngày, nó cung cấp cơ sở dữ liệu khoa học để quản trị viên vận hành hệ thống.</p>
	</caption>
	<tr><td>
	<ul class="line_list">
		<li>
			<strong>Dữ liệu cơ bản</strong>:
			<a href="do.php?ac=stat"$actives[all]>Tổng quan khái quát</a> &nbsp;
			<!--{loop $cols['login'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>Phát hành thông tin</strong>:
			<!--{loop $cols['add'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>Tương tác thông tin</strong>:
			<!--{loop $cols['comment'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
		<li>
			<strong>Tương tác người dùng</strong>:
			<!--{loop $cols['space'] $value}-->
			<a href="do.php?ac=stat&type=$value"$actives[$value]><!--{eval echo cplang("do_stat_$value");}--></a> &nbsp;
			<!--{/loop}-->
		</li>
	</ul>
	</td></tr>
</table>
<br>

<table cellspacing="0" cellpadding="0" class="formtable">
	<!--{if $type=='all'}-->
	<caption>
		<h2>Tổng quan khái quát</h2>
		<p>
		Tại đây hiển thị thống kê tổng quan sự phát triển của hệ thống (Cần ít nhất 2 ngày dữ liệu mới có hiệu lực)
		</p>
	</caption>
	<tr><td>
	<ul class="line_list">
		<li><strong>Người dùng truy cập</strong>: Số lượng người dùng duy nhất truy cập hệ thống mỗi ngày. Một người dùng truy cập nhiều lần chỉ tính là 1;</li>
		<li><strong>Phát hành thông tin</strong>: Tổng số lượng status, blog, ảnh, chủ đề, bình chọn, sự kiện và chia sẻ được phát hành mỗi ngày;</li>
		<li><strong>Tương tác thông tin</strong>: Tổng số lượt bình luận, bày tỏ cảm xúc, tham gia bình chọn và tham gia sự kiện mỗi ngày;</li>
		<li><strong>Tương tác người dùng</strong>: Tổng số lượt để lại lời nhắn, chào hỏi giữa các người dùng mỗi ngày;</li>
	</ul>
	</td></tr>
	<!--{else}-->
	<caption>
		<h2><!--{eval echo cplang("do_stat_$type");}--></h2>
	</caption>
	<!--{/if}-->
	<tr><td>
	<div class="borderbox">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,45,0" width="750" height="300">
		  <param name="movie" value="image/stat.swf?$statuspara" />
		  <param name="quality" value="high" />
		  <embed src="image/stat.swf?$statuspara" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="750" height="300"></embed>
		</object>
	</div>
	</td></tr>
</table>

<!--{template footer}-->