<!--{eval $_TPL['titles'] = array('Trợ giúp');}-->
<!--{template header}-->

	<div id="content">
		<table cellpadding="0" cellspacing="0" class="formtable">
		
<!--{if $_GET['ac']=='register'}-->
		<caption>
			<h2>Đăng ký</h2>
		</caption>
		<tr><td>
		Đăng ký rất đơn giản, chỉ cần chọn tên người dùng, mật khẩu bạn muốn, nhập địa chỉ email hợp lệ là có thể đăng ký ngay để trở thành thành viên.<br /><br />
		<img src="image/help/register.gif" alt="" /><br /><br />
		</td></tr>
		
<!--{elseif $_GET['ac']=='home'}-->
		<caption>
			<h2>Xem cập nhật và thông báo mới nhất của bạn bè trên trang chủ</h2>
		</caption>
		<tr><td>
		<h2>Cập nhật mới của bạn bè</h2>
		Sau khi đăng nhập, tại trang chủ bạn có thể thấy ngay các hoạt động mới nhất của bạn bè, bao gồm status, nhật ký, ảnh tải lên, chia sẻ và các chủ đề thảo luận của họ.<br /><br />
		<img src="image/help/home.gif"><br /><br />
		</td></tr>
		<tr><td>
		<h2>Thông báo mới nhất</h2>
		Ở phía bên phải trang chủ, bạn có thể xử lý các yêu cầu kết bạn mới, thông báo hệ thống và lời chào từ bạn bè.<br /><br />
		<img src="image/help/home2.gif"><br /><br />
		</td></tr>
		
<!--{elseif $_GET['ac']=='space'}-->
		<caption>
			<h2>Trang cá nhân của tôi</h2>
		</caption>
		<tr><td>
		Đây là nơi ghi lại tất cả các hoạt động của bạn, là cửa sổ để bạn bè hiểu thêm về bạn. Bạn có thể điền thông tin cá nhân, tham gia các nhóm, v.v. tại "Trang cá nhân".<br /><br />
		<img src="image/help/space.gif"><br /><br />
		</td></tr>

<!--{elseif $_GET['ac']=='doing'}-->
		<caption>
			<h2>Ghi chép</h2>
		</caption>
		<tr><td>
		Có thể dễ dàng ghi lại những khoảnh khắc đời thường bằng một câu nói và chia sẻ với bạn bè.<br /><br />
		<img src="image/help/doing.gif"><br /><br />
		</td></tr>

<!--{elseif $_GET['ac']=='blog'}-->
		<caption>
			<h2>Nhật ký</h2>
		</caption>
		<tr><td>
		Có thể viết các bài nhật ký sinh động với cả hình ảnh và văn bản.<br /><br />
		<img src="image/help/blog.gif"><br /><br />
		</td></tr>

<!--{elseif $_GET['ac']=='album'}-->
		<caption>
			<h2>Album ảnh</h2>
		</caption>
		<tr><td>
		Có thể dễ dàng tải lên hàng loạt ảnh cá nhân hoặc chụp ảnh sticker bằng webcam.<br /><br />
		<img src="image/help/album.gif"><br /><br />
		</td></tr>

<!--{elseif $_GET['ac']=='share'}-->
		<caption>
			<h2>Chia sẻ</h2>
		</caption>
		<tr><td>
		Dễ dàng chia sẻ các thông tin như trang cá nhân, nhật ký, album, ảnh, chủ đề, nhóm, v.v. trong hệ thống.<br /><br />
		<img src="image/help/share1.gif"><br /><br />
		Cũng có thể chia sẻ một liên kết web với bạn bè.<br /><br />
		<img src="image/help/share2.gif"><br /><br />
		</td></tr>

<!--{elseif $_GET['ac']=='mtag'}-->
		<caption>
			<h2>Nhóm</h2>
		</caption>
		<tr><td>
		Tham gia các nhóm mà bạn quan tâm để thảo luận các chủ đề với nhiều bạn bè hơn.<br /><br />
		<img src="image/help/mtag1.gif" /><br /><br />
		Có rất nhiều nhóm khác nhau cho bạn lựa chọn theo sở thích.<br /><br />
		<img src="image/help/mtag2.gif"><br /><br />
		Sau khi tham gia nhóm, bạn có thể bắt đầu tạo các chủ đề thảo luận.<br /><br />
		<img src="image/help/mtag3.gif"><br /><br />
		</td></tr>

<!--{elseif $_GET['ac']=='cp'}-->
		<caption>
			<h2>Cài đặt không gian</h2>
		</caption>
		<tr><td>
		Có thể thiết lập thuộc tính không gian cá nhân, chọn phong cách trang chủ, cài đặt quyền riêng tư.<br /><br />
		<img src="image/help/cp.gif"><br /><br />
		Thông qua cài đặt quyền riêng tư, bạn có thể quyết định ai được phép xem trang cá nhân của mình.<br /><br />
		<img src="image/help/cp2.gif"><br /><br />
		</td></tr>
<!--{/if}-->
		</table>
	</div>
	
	<div id="sidebar">
		<div class="sidebox">
		<h2 class="title">Trợ giúp</h2>
		<ul class="line_list">
			<li$actives[register]><a href="help.php?ac=register">Đăng ký</a></li>
			<li$actives[home]><a href="help.php?ac=home">Trang chủ của tôi</a></li>
			<li$actives[space]><a href="help.php?ac=space">Trang cá nhân của tôi</a></li>
			<li$actives[doing]><a href="help.php?ac=doing">Ghi chép</a></li>
			<li$actives[blog]><a href="help.php?ac=blog">Nhật ký</a></li>
			<li$actives[album]><a href="help.php?ac=album">Album ảnh</a></li>
			<li$actives[share]><a href="help.php?ac=share">Chia sẻ</a></li>
			<li$actives[mtag]><a href="help.php?ac=mtag">Nhóm</a></li>
			<li$actives[cp]><a href="help.php?ac=cp">Cài đặt không gian</a></li>
		</ul>
		</div>
	</div>


<!--{template footer}-->