<!--{template header}-->

<!--{if $op == 'use'}-->

	<!--{if !$frombuy}-->
	<h1>Sử dụng đạo cụ</h1>
	<a class="float_del" title="Đóng" href="javascript:hideMenu();">Đóng</a>
	<!--{/if}-->
	<div class="toolly" id="__magicuse_form_$mid">
		<form method="post" id="magicuse_form_$mid" action="magic.php?mid=$mid&idtype=$idtype&id=$id">
			<div class="magic_img">
				<img src="image/magic/{$mid}.gif" alt="$magic[name]" />
			</div>
			<div class="magic_info">
				<h3>$magic[name]</h3>
				<p class="gray">$magic[description]</p>
				<p>Số lượng sở hữu: $usermagic[count]</p>
				<div>
					<h4>Phương thức truy cập</h4>
					<input id="way_visit" type="radio" name="visitway" value="visit" checked onclick="$('visitmsgs').style.display='none';$('visitpokes').style.display='none';" />
					<label for="way_visit">Ghé thăm không gian</label>
					<input id="way_poke" type="radio" name="visitway" value="poke" onclick="$('visitmsgs').style.display='none';$('visitpokes').style.display='';" />
					<label for="way_poke">Chào hỏi</label>
					<input id="way_comment" type="radio" name="visitway" value="comment" onclick="$('visitmsgs').style.display='';$('visitpokes').style.display='none';" />
					<label for="way_comment">Nhắn tin</label>
					<ul id="visitmsgs" style="display:none;">
						<li>Chọn nội dung tin nhắn</li>
						<li>
							<input id="visitmsg_1" type="radio" name="visitmsg" value="Ghé thăm 1 chút" checked>
							<label for="visitmsg_1">Ghé thăm 1 chút</label>
						</li>
						<li>
							<input id="visitmsg_2" type="radio" name="visitmsg" value="Lâu rồi không gặp">
							<label for="visitmsg_2">Lâu rồi không gặp</label>
						</li>
						<li>
							<input id="visitmsg_3" type="radio" name="visitmsg" value="Nhớ ghé thăm lại nhé">
							<label for="visitmsg_3">Nhớ ghé thăm lại nhé</label>
						</li>
						<li>
							<input id="visitmsg_4" type="radio" name="visitmsg" value="Tôi lại đến nè">
							<label for="visitmsg_4">Tôi lại đến nè</label>
						</li>
						<li>
							<input id="visitmsg_5" type="radio" name="visitmsg" value="Space đẹp quá">
							<label for="visitmsg_5">Space đẹp quá</label>
						</li>
						<li>
							<input id="visitmsg_6" type="radio" name="visitmsg" value="Dạo này bận gì không">
							<label for="visitmsg_6">Dạo này bận gì không</label>
						</li>
					</ul>
					<!--{eval
					$icons = array(
						1 => '<img src="image/poke/cyx.gif" /> Ghé thăm',
						2 => '<img src="image/poke/wgs.gif" /> Bắt tay',
						3 => '<img src="image/poke/wx.gif" /> Mỉm cười',
						4 => '<img src="image/poke/jy.gif" /> Cố lên',
						5 => '<img src="image/poke/pmy.gif" /> Nháy mắt',
						6 => '<img src="image/poke/yb.gif" /> Ôm',
						7 => '<img src="image/poke/fw.gif" /> Hôn gió',
						8 => '<img src="image/poke/nyy.gif" /> Chọc lét',
						9 => '<img src="image/poke/gyq.gif" /> Đấm',
						10 => '<img src="image/poke/dyx.gif" /> Chích điện',
						11 => '<img src="image/poke/yw.gif" /> Nương tựa',
						12 => '<img src="image/poke/ppjb.gif" /> Vỗ vai',
						13 => '<img src="image/poke/yyk.gif" /> Cắn 1 phát'
					);
					}-->
					<table id="visitpokes" style="width:100%; display:none;">
					<thead>
					<td colspan="2">Chọn kiểu chào hỏi</td>
					</thead>
					<tbody>
					<tr>
					<!--{loop $icons $key $value}-->
					<td>
					<input id="visitpoke_$key" type="radio" name="visitpoke" value="$key"<!--{if $key==1}--> checked<!--{/if}-->>
					<label for="visitpoke_$key">$value</label>
					</td>
					<!--{if $key % 2 == 0}--></tr><tr><!--{/if}-->
					<!--{/loop}-->
					</tr>
					</tbody>
					</table>
				</div>
				<p class="btn_line">
					<input type="hidden" name="formhash" value="<!--{eval echo formhash()}-->" />
					<input type="hidden" name="refer" value="$_SGLOBAL[refer]"/>
					<input type="hidden" name="usesubmit" value="1" />
					<input type="button" value="Sử dụng" class="submit" onclick="ajaxpost('magicuse_form_$mid')" />
				</p>
			</div>
		</form>
	</div>

<!--{elseif $op == 'show'}-->
	<div style="width:400px;">
		<p>
			<!--{if $_POST['visitway'] == "poke"}-->Đã gửi chào hỏi tới những người bạn sau
			<!--{elseif $_POST['visitway'] == 'comment'}-->Đã để lại tin nhắn trong không gian những người bạn sau
			<!--{else}-->Đã ghé thăm không gian những người bạn sau<!--{/if}-->
		</p>
		<ul class="avatar_list">
			<!--{loop $users $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a></p>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
<!--{/if}-->

<!--{template footer}-->