<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}-->
<div class="showmessage">
	<div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
		<caption>
			<h2>Thông báo hệ thống</h2>
		</caption>
		<p>$message</p>
		<p class="op">
		<!--{if $url_forward}-->
			<a href="$url_forward">Đang chuyển trang...</a>
		<!--{else}-->
			<a href="javascript:history.go(-1);">Trở lại trang trước</a> | 
			<a href="index.php">Về trang chủ</a>
		<!--{/if}-->
		</p>
	</div></div></div></div>
</div>
<!--{template footer}-->
