<!--{eval $_TPL['titles'] = array('Album');}-->
<!--{eval $friendsname = array(1 => 'Chỉ bạn bè mới thấy',2 => 'Bạn bè được chỉ định mới thấy',3 => 'Chỉ mình tôi',4 => 'Cần mật khẩu để xem');}-->

<!--{template header}-->

<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_photo">
		<h3 class="feed_header">
			<a href="cp.php?ac=upload" class="r_option" target="_blank">Tải ảnh lên</a>
			Album (Tổng $count)</h3>
		<!--{if $count}-->
		<table cellspacing="4" cellpadding="4" width="100%">
		<tr>
			<!--{loop $list $key $value}-->
			<td width="85" align="center"><a href="space.php?uid=$space[uid]&do=album&id=$value[albumid]" target="_blank"><img src="$value[pic]" alt="$value[albumname]" width="70" /></a></td>
			<td width="165">
				<h6><a href="space.php?uid=$space[uid]&do=album&id=$value[albumid]" target="_blank" title="$value[albumname]">$value[albumname]</a></h6>
				<p class="gray">$value[picnum] ảnh</p>
				<p class="gray">Cập nhật lúc <!--{date('m-d',$value[dateline],1)}--></p>
			</td>
			<!--{if $key%2==1}--></tr><tr><!--{/if}-->
			<!--{/loop}-->
		</tr>
		</table>
		<!--{if $pricount}-->
		<div class="c_form">Trang này có $pricount album bị ẩn do thiết lập riêng tư của tác giả</div>
		<!--{/if}-->
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">没有可浏览的列表。</div>
		<!--{/if}-->
	</div><br>
<!--{else}-->

<!--{if $space[self]}-->
<div class="searchbar floatright">
	<form method="get" action="space.php">
		<input name="searchkey" value="" size="15" class="t_input" type="text">
		<input name="searchsubmit" value="Tìm kiếm album" class="submit" type="submit">
		<input type="hidden" name="do" value="album" />
		<input type="hidden" name="view" value="all" />
		<input type="hidden" name="orderby" value="dateline" />
	</form>
</div>
<h2 class="title"><img src="image/app/album.gif">Album</h2>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li$actives[we]><a href="space.php?uid=$space[uid]&do=$do&view=we"><span>Album mới nhất của bạn bè</span></a></li><!--{/if}-->
		<li$actives[all]><a href="space.php?uid=$space[uid]&do=$do&view=all"><span>Album của mọi người</span></a></li>
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>Album của tôi</span></a></li>
		<li$actives[click]><a href="space.php?uid=$space[uid]&do=$do&view=click"><span>Ảnh tôi đã quan tâm</span></a></li>
		<li class="null"><a href="cp.php?ac=upload">Tải ảnh mới lên</a></li>
	</ul>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "Album";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&view=me\">Tất cả album của TA</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->

<!--{if $_GET['view'] == 'me'}-->
<div>
<!--{else}-->
<div id="content" style="width:640px;">
<!--{/if}-->


<!--{if $_GET['orderby'] && $_GET['orderby'] != 'dateline'}-->
<div class="h_status">
	Thời gian:
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]"{$day_actives[0]}>Tất cả</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=1"{$day_actives[1]}>Hôm nay</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=2"{$day_actives[2]}>2 ngày qua</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=7"{$day_actives[7]}>7 ngày qua</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=30"{$day_actives[30]}>30 ngày qua</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=90"{$day_actives[90]}>3 tháng qua</a><span class="pipe">|</span>
	<a href="space.php?do=album&view=all&orderby=$_GET[orderby]&day=120"{$day_actives[120]}>6 tháng qua</a>
</div>
<!--{/if}-->

<!--{if $space[self] && $_GET['view']=='me'}-->
<div class="h_status">
Dưới đây là danh sách các album bạn đã tự tạo.<br>
Tất cả các tệp ảnh đính kèm bạn đã tải lên trong nhật ký, chủ đề, v.v., đều được lưu trữ trong <a href="space.php?uid=$space[uid]&do=album&id=-1">album hệ thống</a>.
</div>
<!--{/if}-->
	
	
<!--{if $picmode}-->

	<!--{if $pricount}-->
	<div class="h_status">Trang này có $pricount ảnh bị ẩn do thiết lập riêng tư của tác giả</div>
	<!--{/if}-->
	
	<!--{if $count}-->
	<table cellspacing="0" cellpadding="0" width="100%" class="pic_list">
		<tr>
		<!--{loop $list $key $value}-->
		<td align="center">
			<div class="pic_bg"><a href="space.php?uid=$value[uid]&do=album&picid=$value[picid]"><img src="$value[pic]" alt="" /></a></div>
			<a href="space.php?uid=$value[uid]&do=$do&id=$value[albumid]">$value[albumname]</a><br>
			<a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a>
		</td>
		<!--{if $key%4==3}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
		</tr>
	</table>
	<div class="page">$multi</div>
	<!--{else}-->
	<div class="c_form">没有可浏览的列表。</div>
	<!--{/if}-->
	
<!--{else}-->

	<!--{if $searchkey}-->
	<div class="h_status">Dưới đây là kết quả tìm kiếm cho album có từ khóa <span style="color:red;font-weight:bold;">$searchkey</span></div>
	<!--{/if}-->
	
	<!--{if $pricount}-->
	<div class="h_status">Gợi ý: Trang này có $pricount album bị ẩn do thiết lập riêng tư của tác giả</div>
	<!--{/if}-->

	<!--{if $count}-->
	<table class="album_list" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<!--{loop $list $key $value}-->
		<td style="padding-bottom: 20px;">
			<div class="album_bg"><a href="space.php?uid=$value[uid]&do=$do&id=$value[albumid]"><img src="$value[pic]" alt="$value[albumname]" /></a></div>
			<p><a href="space.php?uid=$value[uid]&do=$do&id=$value[albumid]"><!--{if $value[albumname]}-->$value[albumname]<!--{else}-->Album mặc định<!--{/if}--></a> <!--{if $value[picnum]}--><span class="gray">($value[picnum])</span><!--{/if}--></p>
			<!--{if $_GET[view]!='me'}--><p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p><!--{/if}-->
			<!--{if $value[uid]==$_SGLOBAL[supe_uid]}--><p class="gray"><a href="cp.php?ac=album&op=editpic&albumid=$value[albumid]">Quản lý album</a><span class="pipe">|</span><a href="cp.php?ac=upload&albumid=$value[albumid]">Tải ảnh lên</a></p><!--{/if}-->
			<!--{if $_GET[view]!='me'}--><p class="gray">Cập nhật: <!--{date('m-d H:i', $value[updatetime], 1)}--></p><!--{/if}-->
		</td>
		<!--{if $key%4==3}--></tr><tr><!--{/if}-->
		<!--{/loop}-->
		</tr>
	</table>
	<div class="page">$multi</div>
	<!--{else}-->
	<div class="c_form">Không có danh sách để hiển thị.</div>
	<!--{/if}-->
	
<!--{/if}-->

</div>

<!--{if $_GET['view'] != 'me'}-->
<div id="sidebar" style="width:150px;">
	
<!--{if $userlist}-->
	<div class="cat">
	<h3>Xem theo bạn bè</h3>
	<ul class="post_list line_list">
		<li>
			Chọn bạn bè:<br>
			<select name="fuidsel" onchange="fuidgoto(this.value);">
			<option value="">Tất cả bạn bè</option>
			<!--{loop $userlist $value}-->
			<option value="$value[fuid]"{$fuid_actives[$value[fuid]]}>{$_SN[$value[fuid]]}</option>
			<!--{/loop}-->
			</select>
		</li>
	</ul>
	</div>
<!--{/if}-->

<!--{if $_GET['view'] == 'click'}-->
	<div class="cat">
	<h3>Bày tỏ cảm xúc</h3>
	<ul class="post_list line_list">
		<li$click_actives[all]><a href="space.php?do=album&view=click">Tất cả cảm xúc</a></li>
		<!--{loop $clicks $value}-->
		<li{$click_actives[$value[clickid]]}>
			<a href="space.php?do=album&view=click&clickid=$value[clickid]">$value[name]</a>
		</li>
		<!--{/loop}-->
	</ul>
	</div>
<!--{elseif $_GET['view'] == 'all'}-->
	<div class="cat">
	<h3>Bảng xếp hạng</h3>
	<ul class="post_list line_list">
		<li$all_actives[all]><a href="space.php?do=album&view=all">Ảnh hot đề cử</a></li>
		<li$all_actives[dateline]><a href="space.php?do=album&view=all&orderby=dateline">Mới cập nhật</a></li>
		<li$all_actives[hot]><a href="space.php?do=album&view=all&orderby=hot&day=$_GET[hotday]">Xem nhiều nhất</a></li>
		<!--{loop $clicks $value}-->
		<li{$all_actives['click_'.$value[clickid]]}><a href="space.php?do=album&view=all&orderby=click_$value[clickid]&day=$_GET[hotday]">Hạng {$value[name]}</a></li>
		<!--{/loop}-->
	</ul>
	</div>
<!--{/if}-->

</div>
<!--{/if}-->

<script>
function fuidgoto(fuid) {
	window.location.href = "space.php?do=album&view=we&fuid="+fuid;
}
</script>
<!--{/if}-->

<!--{template footer}-->