<!--{eval $_TPL['titles'] = array(getstr($pic['title'], 60, 0, 0, 0, 0, -1), $album['albumname'], 'Album');}-->
<!--{eval $friendsname = array(1 => 'Chỉ bạn bè mới thấy',2 => 'Bạn bè được chỉ định mới thấy',3 => 'Chỉ mình tôi',4 => 'Cần mật khẩu để xem');}-->
<!--{template header}-->

<!--{if $space[self]}-->
<div class="searchbar floatright">
	<form method="get" action="space.php">
		<input name="searchkey" value="" size="15" class="t_input" type="text">
		<input name="searchsubmit" value="Tìm kiếm album" class="submit" type="submit">
		<input type="hidden" name="do" value="album" />
		<input type="hidden" name="view" value="all" />
		<input type="hidden" name="orderby" value="dateline" />
	</form>
</div>
<h2 class="title"><img src="image/app/album.gif">Album - $album[albumname]</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="space.php?uid=$pic[uid]&do=album&id=$pic[albumid]"><span>Xem ảnh</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=album&id=$pic[albumid]"><span>Quay lại danh sách</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=album&view=me"><span>Quay lại album của tôi</span></a></li>
		<li class="null"><a href="cp.php?ac=upload&albumid=$pic[albumid]">Tải ảnh mới lên</a></li>
	</ul>
	<!--{if $_SGLOBAL[refer]}-->
	<div class="r_option">
		<a  href="$_SGLOBAL[refer]">&laquo; Trở lại trang trước</a>
	</div>
	<!--{/if}-->
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "Album - $album[albumname]";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&view=me\">Tất cả album của TA</a>";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&id=$pic[albumid]\">$album[albumname]</a>";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&picid=$pic[picid]\">Xem ảnh</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->

<!--{template space_pic}-->

	
<!--{template footer}-->