<!--{eval $_TPL['titles'] = array('Bạn bè');}-->
<!--{template header}-->

<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_friend">
		<h3 class="feed_header">
			<a href="cp.php?ac=friend&op=search" class="r_option" target="_blank">Tìm bạn bè</a>
			Bạn bè (Tổng $count người)
		</h3><br>

		<!--{if $list}-->
		<div id="friend_ul">
			<ul class="line_list">
			<!--{loop $list $key $value}-->
				<li>
				<table width="100%">
					<tr>
					<td width="70">
						<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
					</td>
					<td>
					<div class="thumbTitle"><p<!--{if $ols[$value[uid]]}--> class="online_icon_p"<!--{/if}-->><a href="space.php?uid=$value[uid]"<!--{eval g_color($value[groupid]);}-->>{$_SN[$value[uid]]}</a> <!--{eval g_icon($value[groupid]);}--></p></div>

					<!--{if $value[note]}--><div>$value[note]</div><!--{/if}-->

					<!--{if $ols[$value[uid]]}--><div class="gray"><!--{date('H:i',$ols[$value[uid]],1)}--></div><!--{/if}-->
					<div class="setti">

					<!--{if !$value['isfriend']}-->
					<a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 1)">Kết bạn</a>
					<!--{/if}-->
					</div>
					</td></tr></table>
				</li>
			<!--{/loop}-->
			</ul>
		</div>
		<div class="page">$multi</div>

		<!--{else}-->
		<div class="c_form">
			Không tìm thấy danh sách người dùng liên quan.
		</div>
		<!--{/if}-->
	</div><br />

<!--{else}-->

<!--{if $space[self]}-->
<div class="searchbar floatright">
<!--{if $_GET[view]=='me'}-->
<form method="get" action="space.php">
	<input type="hidden" name="do" value="friend">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="Tìm bạn bè" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
</form>
<!--{else}-->
<form method="get" action="cp.php">
	<input type="hidden" name="ac" value="friend" />
	<input type="hidden" name="op" value="search" />
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="Tìm người" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
</form>
<!--{/if}-->
</div>
<h2 class="title"><img src="image/icon/friend.gif" />Bạn bè</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=friend"><span>Danh sách bạn bè</span></a></li>
		<li><a href="cp.php?ac=friend&op=search"><span>Tìm kiếm bạn bè</span></a></li>
		<li><a href="cp.php?ac=friend&op=find"><span>Người có thể biết</span></a></li>
		<!--{if empty($_SCONFIG['closeinvite'])}-->
		<li><a href="cp.php?ac=invite"><span>Mời bạn bè</span></a></li>
		<!--{/if}-->
		<li><a href="cp.php?ac=friend&op=request"><span>Lời mời kết bạn</span></a></li>
		<li><a href="space.php?do=top"><span>Bảng xếp hạng</span></a></li>
	</ul>
</div>
<div id="content" style="width: 640px;">

	<div class="c_mgs"><div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
		<!--{if $_GET['view']=='blacklist'}-->
			Người dùng được thêm vào danh sách đen sẽ bị xóa khỏi danh sách bạn bè của bạn. Đồng thời, họ sẽ không thể thực hiện các hành động tương tác liên quan đến bạn như chào hỏi, xem nhật ký, kết bạn, bình luận, nhắn tin...
		<!--{elseif $_GET['view']=='me'}-->

			Hiện có tổng cộng $space[friendnum] bạn bè.


			<!--{if $maxfriendnum}-->
			(Tối đa có thể thêm $maxfriendnum bạn bè)
			<p>
				<!--{if $_SGLOBAL[magic][friendnum]}-->
				<img src="image/magic/friendnum.small.gif" class="magicicon" />
				<a id="a_magic_friendnum" href="magic.php?mid=friendnum" onclick="ajaxmenu(event, this.id, 1)">Tôi muốn tăng giới hạn bạn bè</a>
				(Bạn có thể mua đạo cụ “{$_SGLOBAL[magic][friendnum]}” để mở rộng giới hạn số lượng bạn bè của mình.)
				<!--{/if}-->
			</p>
			<!--{/if}-->

			<p style="padding-top:10px;">
			Danh sách bạn bè được sắp xếp theo độ thân thiết<br>
			Độ thân thiết là một giá trị tham khảo được hệ thống tự động tích lũy dựa trên các hành động tương tác giữa bạn và bạn bè, giá trị càng lớn thể hiện sự tương tác giữa bạn và người bạn đó càng thường xuyên.
			</p>
		<!--{elseif $_GET['view']=='online'}-->
			<!--{if $_GET['type'] == 'friend'}-->
			Những người bạn này hiện đang trực tuyến, hãy ghé thăm họ ngay nào
			<!--{elseif $_GET['type']=='near'}-->
			Thông qua hệ thống ghép đôi, những người bạn này ở gần bạn, bạn có thể quen biết họ
			<!--{else}-->
			Hiển thị toàn bộ người dùng đang trực tuyến
			<!--{/if}-->
		<!--{elseif $_GET['view']=='visitor'}-->
			Họ đã ghé thăm bạn, hãy ghé thăm lại họ nhé
		<!--{elseif $_GET['view']=='trace'}-->
			Danh sách những người dùng bạn đã từng ghé thăm
		<!--{/if}-->
	</div></div></div></div></div>

	<!--{if $_GET['view']=='blacklist'}-->
	<div class="h_status">
		<h2>Thêm người dùng vào danh sách đen</h2>
		<form method="post" name="blackform" action="cp.php?ac=friend&op=blacklist&start=$_GET[start]">
			Tên người dùng: <input type="text" name="username" value="" size="15" class="t_input">
			<input type="submit" name="blacklistsubmit_btn" id="moodsubmit_btn" value="Thêm" class="submit">
			<input type="hidden" name="blacklistsubmit" value="true" />
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
	</div>
	<!--{/if}-->

	<!--{if $list}-->
	<div class="thumb_list" id="friend_ul">
		<ul>
		<!--{loop $list $key $value}-->
			<li id="friend_{$value[uid]}_li">
				<!--{if $value[username] == ''}-->
				<div class="avatar48"><img src="image/magic/hidden.gif" alt="Ẩn danh" /></div>
				<div class="thumbTitle"><p>Ẩn danh</p></div>
				<!--{else}-->
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<div class="thumbTitle">
				<p<!--{if $ols[$value[uid]]}--> class="online_icon_p"<!--{/if}-->>
					<a href="space.php?uid=$value[uid]"<!--{eval g_color($value[groupid]);}-->>{$_SN[$value[uid]]}</a> 
					<!--{eval g_icon($value[groupid]);}-->
					<!--{if $value['videostatus']}-->
					<img src="image/videophoto.gif" align="absmiddle">
					<!--{/if}-->
				</p></div>
				<!--{if $value[note]}--><div>$value[note]</div><!--{/if}-->
				<!--{/if}-->

				<!--{if $_GET['view']=='blacklist'}-->
					<div class="gray"><a href="cp.php?ac=friend&op=blacklist&subop=delete&uid=$value[uid]&start=$_GET[start]">Xóa khỏi danh sách đen</a></div>
				<!--{elseif $_GET['view']=='visitor' || $_GET['view'] == 'trace'}-->
					<div class="gray"><!--{date('d/m',$value[dateline],1)}--></div>
				<!--{elseif $_GET['view']=='online'}-->
					<div class="gray"><!--{date('H:i',$ols[$value[uid]],1)}--></div>
				<!--{else}-->
					<!--{if $ols[$value[uid]]}--><div class="gray"><!--{date('H:i',$ols[$value[uid]],1)}--></div><!--{/if}-->
					<div class="gray">
					<!--{if $value['num']}--><a href="cp.php?ac=friend&op=changenum&uid=$value[uid]" id="friendnum_$value[uid]" onclick="ajaxmenu(event, this.id)">Độ hot(<span id="spannum_$value[uid]">$value[num]</span>)</a><span class="pipe">|</span><!--{/if}-->
					<!--{if !$value['isfriend']}-->
					<a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 1)">Kết bạn</a>
					<!--{else}-->
					<a href="cp.php?ac=friend&op=changegroup&uid=$value[uid]" id="friend_group_$value[uid]" onclick="ajaxmenu(event, this.id)">Phân nhóm</a><span class="pipe">|</span>
					<a href="cp.php?ac=friend&op=ignore&uid=$value[uid]" id="a_ignore_$key" onclick="ajaxmenu(event, this.id)">Xóa</a>
					<!--{/if}-->
					</div>
				<!--{/if}-->
			</li>
		<!--{/loop}-->
		</ul>
	</div>
	<div class="page">$multi</div>

	<!--{else}-->
	<div class="c_form">
		Không tìm thấy danh sách người dùng liên quan.
	</div>
	<!--{/if}-->

</div>

<div id="sidebar" style="width: 150px;">
	<!--{if $_SCONFIG['my_status']}-->
	<!-- Đồng bộ bạn bè lên Manyou Start -->
	<script type="text/javascript">
		function my_sync_tip(msg, close_time) {;
			var my_tip = document.getElementById("my_tip");
			if (!my_tip) {
				my_tip = document.createElement("div");
				document.getElementsByTagName("body")[0].appendChild(my_tip);
				my_tip.id = "my_tip";
			}
			my_tip.style.display = 'block';
			my_tip.innerHTML = '<div class="popupmenu_centerbox" style="position: absolute; top: 200px; right: 500px; padding: 20px; width: 300px; height: 15px; z-index:9999;">' + msg + '</div>';
			if (close_time) {
				setTimeout("document.getElementById('my_tip').style.display = 'none';", close_time);
			}
		}
		function my_sync_friend() {
			my_sync_tip('Đang đồng bộ thông tin bạn bè...', 0);
			var my_scri = document.createElement("script");
			document.getElementsByTagName("head")[0].appendChild(my_scri);
			my_scri.charset = "UTF-8";
			my_scri.src = "http://uchome.manyou.com/user/syncFriends?sId=$_SCONFIG[my_siteid]&uUchId=$space[uid]&ts=$_SGLOBAL[timestamp]&key=<!--{eval echo md5($_SCONFIG[my_siteid] . $_SCONFIG[my_sitekey] . $space[uid] . $_SGLOBAL[timestamp]);}-->";
		}
	</script>

	<div class="c_mgs"><div class="ye_r_t"><div class="ye_l_t"><div class="ye_r_b"><div class="ye_l_b">
		<p>Không tìm thấy bạn bè trong trò chơi? Vui lòng nhấn nút dưới đây để đồng bộ thông tin bạn bè.</p>
		<p style="text-align: center;padding: 20px 0 0;"> <a href="#" onclick="my_sync_friend(); return false;" title="Đồng bộ quan hệ bạn bè lên nền tảng Manyou để thấy họ trong ứng dụng"><img alt="Cập nhật thông tin bạn bè" src="image/syncfriend.gif"/></a> </p>
	</div></div></div></div></div>
	<!-- Đồng bộ bạn bè lên Manyou End -->
	<!--{/if}-->

	<div class="cat">
		<h3>
			Menu bạn bè
		</h3>
		<ul>
			<li{$a_actives[me]}><a href="space.php?do=friend">Tất cả bạn bè</a></li>
			<li{$a_actives[onlinefriend]}><a href="space.php?do=friend&view=online&type=friend">Bạn bè đang trực tuyến</a></li>
			<li{$a_actives[onlinenear]}><a href="space.php?do=friend&view=online&type=near">Bạn bè ở gần xung quanh</a></li>
			<li{$a_actives[visitor]}><a href="space.php?do=friend&view=visitor">Khách của tôi</a></li>
			<li{$a_actives[trace]}><a href="space.php?do=friend&view=trace">Dấu chân của tôi</a></li>
			<li{$a_actives[blacklist]}><a href="space.php?do=friend&view=blacklist">Danh sách đen của tôi</a></li>
		</ul>
	</div>

	<!--{if $groups}-->
	<div class="cat">
		<h3>
			<span class="r_option"><a href="cp.php?ac=friend&op=group">Phân nhóm hàng loạt</a></span>
			Nhóm bạn bè
		</h3>
		<ul class="post_list line_list">
			<li><a href="space.php?do=friend&group=-1">Tất cả bạn bè</a></li>
			<!--{loop $groups $key $value}-->
			<li{$groupselect[$key]}>
				<a href="cp.php?ac=friend&op=groupignore&group=$key" id="c_ignore_$key" onclick="ajaxmenu(event, this.id)" title="Ẩn hoạt động của nhóm người dùng" class="c_delete">Ẩn</a>
				<!--{if $key}-->
				<a href="cp.php?ac=friend&op=groupname&group=$key" id="c_edit_$key" onclick="ajaxmenu(event, this.id, 1)" title="Sửa tên nhóm người dùng" class="c_edit">Sửa</a>
				<!--{/if}-->
				<!--{if isset($space['privacy']['filter_gid'][$key])}--><span class="gray">[Chặn]</span><!--{/if}--> <a href="space.php?do=friend&group=$key"><span id="friend_groupname_$key">$value</span></a>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
	<!--{/if}-->

</div>


<!--{else}-->
<!--{eval
	$_TPL['spacetitle'] = "Bạn bè";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=friend&view=me\">Danh sách bạn bè của TA</a>";
}-->
	<!--{template space_menu}-->
	<div class="h_status">Tổng cộng có $space[friendnum] bạn bè</div>
	<!--{template space_list}-->

<!--{/if}-->

<!--{/if}-->

<!--{template footer}-->
