<!--{template header}-->

<h2 class="title"><img src="image/app/mtag.gif" />Nhóm</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="#"><span>Truy cập nhóm</span></a></li>
		<li><a href="space.php?do=mtag&view=me"><span>Quay lại nhóm của tôi</span></a></li>
	</ul>
</div>

<!--{if $taglist}-->

<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>Chọn nhóm để truy cập</h2>
		<p>Hiện có nhiều nhóm trùng tên, vui lòng chọn đúng nhóm bạn muốn truy cập.</p>
	</caption>
	<!--{loop $taglist $value}-->
	<tr>
		<td><a href="space.php?do=mtag&tagid=$value[tagid]" style="font-size:14px;" target="_blank">$value[tagname]</a></td>
		<td>{$_SGLOBAL[profield][$value[fieldid]][title]}</td>
		<td>$value[membernum] thành viên</td>
		<td>
			<a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank">Truy cập ngay</a>
			<span class="pipe">|</span>
			<!--{if $value['joinperm'] < 2}-->
			<a href="cp.php?ac=mtag&op=join&tagid=$value[tagid]" id="mtag_like_$value[tagid]" onclick="ajaxmenu(event, this.id)">Gia nhập nhóm</a>
			<!--{else}-->
			<strong>Cần trưởng nhóm mời mới có thể gia nhập</strong>
			<!--{/if}-->
		</td>
	</tr>
	<!--{/loop}-->
</table>

<!--{else}-->

<form method="post" action="cp.php?ac=mtag" class="c_form">
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>Tạo nhóm: $tagname</h2>
		<p>Nhóm bạn muốn truy cập chưa tồn tại. Bạn có thể tạo nhóm này và mời bạn bè tham gia.</p>
	</caption>
	<tr>
		<th width="120">Tên nhóm</th>
		<td>$tagname</td>
	</tr>
	<tr>
		<th width="120">Phân loại</th>
		<td>
		<select name="fieldid">
		<!--{loop $fields $value}-->
		<option value="$value[fieldid]">$value[title]</option>
		<!--{/loop}-->
		</select>
		</td>
	</tr>
	<tr>
		<td></td><td>
			<input type="hidden" name="tagname" value="$tagname">
			<input type="submit" name="textsubmit" value="Tạo nhóm" class="submit">
		</td>
	</tr>
</table>
</form>

<!--{/if}-->


<!--{template footer}-->