<!--{eval $_TPL['titles'] = array('Xếp hạng');}-->
<!--{template header}-->

<div class="searchbar floatright">
<form method="get" action="cp.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="Tìm người" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="ac" value="friend" />
	<input type="hidden" name="op" value="search" />
</form>
</div>
<h2 class="title"><img src="image/icon/show.gif" />Bảng xếp hạng</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[show]><a href="space.php?do=top"><span>Đấu giá xếp hạng</span></a>
		<li$actives[mm]><a href="space.php?do=top&view=mm"><span>Người đẹp</span></a>
		<li$actives[gg]><a href="space.php?do=top&view=gg"><span>Hot boy</span></a>
		<li$actives[experience]><a href="space.php?do=top&view=experience"><span>Xếp hạng kinh nghiệm</span></a>
		<li$actives[credit]><a href="space.php?do=top&view=credit"><span>Xếp hạng tích phân</span></a>
		<li$actives[friendnum]><a href="space.php?do=top&view=friendnum"><span>Xếp hạng bạn bè</span></a>
		<li$actives[viewnum]><a href="space.php?do=top&view=viewnum"><span>Xếp hạng lượt xem</span></a>
		<li$actives[online]><a href="space.php?do=top&view=online"><span>Thành viên online</span></a>
		<li$actives[updatetime]><a href="space.php?do=top&view=updatetime"><span>Thành viên đã cập nhật</span></a>
	</ul>
</div>

<script type="text/javascript">
	function checkCredit(id) {
		var maxCredit = parseInt($space[credit]);
		var idval = parseInt($(id).value);
		if(idval > maxCredit) {
			alert("Tích phân hiện tại của bạn là:"+maxCredit+", vui lòng nhập một số nhỏ hơn số này");
			return false;
		} else if(idval < 1) {
			alert("Số tích phân bạn nhập không thể nhỏ hơn 1");
			return false;
		}
		return true;
	}
</script>

<div class="c_form">
	
	<!--{if $now_pos >= 0}-->
	<div style="padding-bottom:20px;">
		<h3 class="l_status">Thông báo xếp hạng:</h3>
		<!--{if $_GET[view]=='show'}-->
			<!--{if $space[showcredit]}-->
			Tích phân đấu giá hiện tại của bạn là: $space[showcredit], xếp hạng hiện tại <span style="font-size:20px;color:red;">$now_pos</span> , hãy cố gắng hơn nữa!
			<!--{else}-->
			Bạn chưa có tên trong bảng xếp hạng. Hãy tham gia để tăng cường sự hiển thị trang chủ của bạn.
			<!--{/if}-->
			<br>Càng nhiều tích phân đấu giá, thứ hạng càng cao, trang chủ của bạn sẽ được hiển thị nhiều hơn;
			<br>Mỗi khi trang chủ của người dùng trên bảng xếp hạng được xem một lần, tích phân đấu giá sẽ giảm 1 (làm mới trang không bị trừ).
		<!--{else}-->
			<!--{if $_GET[view]=='credit'}-->
			<a href="cp.php?ac=credit">Tích phân hiện tại của bạn: $space[credit]</a>
			<!--{elseif $_GET[view]=='friendnum'}-->
			<a href="space.php?do=friend">Số lượng bạn bè hiện tại: $space[friendnum]</a>
			<!--{elseif $_GET[view]=='experience'}-->
			Kinh nghiệm hiện tại của bạn: $space[experience]
			<!--{else}-->
			<a href="space.php">Lượt truy cập hiện tại: $space[viewnum]</a>
			<!--{/if}-->
			, xếp hạng hiện tại <span style="font-size:20px;color:red;">$now_pos</span> , hãy cố gắng hơn nữa!
		<!--{/if}-->
		<!--{if $cache_mode}-->
		<p>Dưới đây là top 100, dữ liệu được cập nhật mỗi $cache_time phút.</p>
		<!--{/if}-->
	</div>
	<!--{/if}-->
	
	<!--{if $_GET['view']=='show'}-->
	<div style="padding: 0 0 20px 0;">
		<table width="100%">
			<tr><td width="50%" valign="top">
			<div class="l_status"><strong>Giúp bạn bè lên bảng xếp hạng</strong></div>
			<div class="content">
				<form method="post" action="cp.php?ac=top" onsubmit="return checkCredit('stakecredit');">
				<p>
					Tên người dùng bạn bè muốn giúp<br />
					<input type="text" name="fusername" value="" size="20" class="t_input" /><br />
					Tặng tích phân đấu giá(<span class="gray">không vượt quá tích phân của bạn:$space[credit]</span>)<br />
					<input type="text" id="stakecredit" name="stakecredit" value="100" size="5" class="t_input" onblur="checkCredit('stakecredit');" /> <input type="submit" name="friend_submit" value="Tặng" class="submit" />
				</p>
				<input type="hidden" name="friendsubmit" value="true" />
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
				</form>
			</div>
			</td>
			<td width="50%" valign="top">
			<div class="l_status"><strong>Tôi muốn lên bảng xếp hạng</strong></div>
			<div class="content">
				<form method="post" action="cp.php?ac=top" onsubmit="return checkCredit('showcredit');">
				<p>
					Tuyên ngôn lên bảng(<span class="gray">tối đa 50 ký tự, sẽ hiển thị trên bảng</span>)
					<br />
					<input type="text" name="note" value="" size="35" class="t_input" /><br />
					Thêm tích phân đấu giá(<span class="gray">không vượt quá tích phân của bạn:$space[credit]</span>)<br />
					<input type="text" id="showcredit" name="showcredit" value="100" size="5" class="t_input" onblur="checkCredit('showcredit');" /> <input type="submit" name="show_submit" value="Thêm" class="submit" />
				</p>
				<input type="hidden" name="showsubmit" value="true" />
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" /></form>
			</div>
			</td>
		</tr></table>
	</div>
	<!--{/if}-->

	<!--{template space_list}-->
	
</div>

<!--{template footer}-->
