<!--{eval $_TPL['titles'] = array('Cùng tâm trạng');}-->
<!--{template header}-->


<h2 class="title"><img src="image/app/doing.gif">Ghi chép</h2>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[self]}-->
		<!--{if $space[friendnum]}--><li><a href="space.php?uid=$space[uid]&do=doing&view=we"><span>Top ghi chép của bạn bè</span></a></li><!--{/if}-->
		<li><a href="space.php?uid=$space[uid]&do=doing&view=all"><span>Ghi chép của mọi người</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=doing&view=me"><span>Ghi chép của tôi</span></a></li>
		<!--{/if}-->
		<li class="active"><a href="space.php?uid=$space[uid]&do=mood&view=all"><span>Bạn bè cùng tâm trạng</span></a></li>
	</ul>
</div>

<div class="h_status">
	Họ cũng đang có tâm trạng giống bạn
</div>

<!--{template space_list}-->

<!--{template footer}-->