<!--{template header}-->
<!--{eval 
	// Is friend
	$space['isfriend'] = $space['self'];
	if(in_array($_SGLOBAL['supe_uid'], $space['friends'])) {
		$space['isfriend'] = 1;// Is friend
	}
}-->

<div class="c_form">

<h2 class="l_status title">
	<!--{if $_SGLOBAL['realname_privacy']}-->
		{$_SN[$space[uid]]} là người dùng đã xác thực danh tính, bạn cần xác thực danh tính để tiếp tục truy cập
	<!--{else}-->
		Do cài đặt quyền riêng tư của {$_SN[$space[uid]]}, bạn không thể truy cập nội dung này
	<!--{/if}-->
</h2>

<div class="thumb_list">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td class="image">
				<div class="ar_r_t"><div class="ar_l_t"><div class="ar_r_b"><div class="ar_l_b">
				<a href="space.php?uid=$space[uid]"><!--{avatar($space[uid],big)}--></a>
				</div></div></div></div>
			</td>
			<td>
				<h6><a href="space.php?uid=$space[uid]">{$_SN[$space[uid]]}</a></h6>
				<p class="l_status">
					<a href="space.php?uid=$space[uid]&do=friend">Xem danh sách bạn bè</a>
					<!--{if $space['isfriend']}-->
					<span class="pipe">|</span><a href="cp.php?ac=friend&op=ignore&uid=$space[uid]" id="a_ignore" onclick="ajaxmenu(event, this.id)">Hủy kết bạn</a>
					<!--{else}-->
					<span class="pipe">|</span><a href="cp.php?ac=friend&op=add&uid=$space[uid]" id="a_friend" onclick="ajaxmenu(event, this.id, 1)">Kết bạn</a>
					<!--{/if}-->
					<span class="pipe">|</span><a href="cp.php?ac=poke&op=send&uid=$space[uid]" id="a_poke" onclick="ajaxmenu(event, this.id, 1)">Gửi lời chào</a>
					<span class="pipe">|</span><a href="cp.php?ac=pm&uid=$space[uid]" id="a_pm" onclick="ajaxmenu(event, this.id, 1)">Gửi tin nhắn</a>
					<span class="pipe">|</span><a href="cp.php?ac=common&op=report&idtype=uid&id=$space[uid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">Báo cáo vi phạm</a>
					<!--{if checkperm('managename')||checkperm('managespacegroup')||checkperm('managespaceinfo')||checkperm('managespacecredit')||checkperm('managespacenote')}-->
					<span class="pipe">|</span><a id="a_manage" href="admincp.php?ac=space&op=manage&uid=$space[uid]">Quản lý người dùng</a>
					<!--{/if}-->
				</p>
				<!--{if $space[note]}-->
				<p>$space[note]</p>
				<!--{/if}-->
				<!--{if $space[resideprovince] || $space[residecity]}-->
				<p><span class="gray">Khu vực:</span>$space[resideprovince] $space[residecity]</p>
				<!--{/if}-->
				
				<!--{if !$space['isfriend']}-->
				<p style="padding:20px 0 0 0;font-weight:bold;">{$_SN[$space[uid]]} có $space[friendnum] bạn bè, $space[credit] điểm, $space[viewnum] lượt xem</p>
				<p>Trở thành bạn bè với {$_SN[$space[uid]]}, bạn có thể cập nhật thông tin mới nhất từ {$_SN[$space[uid]]} ngay lập tức.</p>
				<p style="padding:10px 0 0 0;"><a href="cp.php?ac=friend&op=add&uid=$space[uid]" id="a_friend" onclick="ajaxmenu(event, this.id, 1)" class="submit">Kết bạn</a></p>
				<!--{/if}-->
			</td>
		</tr>
	</table>
</div>

</div>

<!--{template footer}-->
