<!--{eval $_TPL['titles'] = array('Sự kiện');}-->
<!--{template header}-->


<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_event">
		<h3 class="feed_header">
			<a href="cp.php?ac=event" class="r_option" target="_blank">Tổ chức sự kiện</a>
			Sự kiện (Tổng cộng $count)</h3>
		<!--{if $eventlist}-->
		<ul class="line_list">
		<!--{loop $eventlist $event}-->
			<li>
				<p class="r_option">
					<!--{if $event[grade] == 0}-->
					<span class="event_state">Chờ duyệt</span>
					<!--{/if}-->
					<!--{if $event[endtime]<$_SGLOBAL[timestamp]}-->
					<span class="event_state">Đã kết thúc</span>
					<!--{elseif $event[deadline]<$_SGLOBAL[timestamp]}-->
					<span class="event_state">Hết hạn đăng ký</span>
					<!--{/if}-->
				</p>
				<h4><a href="space.php?do=event&id=$event[eventid]" target="_blank">$event[title]</a><span class="gray">[<!--{$_SGLOBAL[eventclass][$event[classid]][classname]}-->]</span></h4>
	
				<p><span class="gray">Thời gian:</span> 	<!--{eval echo sgmdate("d-m-Y H:i", $event[starttime])}--> - <!--{eval echo sgmdate("d-m-Y H:i", $event[endtime])}--></p>
				<p><span class="gray">Địa điểm:</span> 	$event[province] $event[city] $event[location]</p>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		
		<!--{else}-->
		<div class="c_form">Chưa có sự kiện nào.</div>
		<!--{/if}-->
	</div><br>
<!--{else}-->

<!--{if $space[self]}-->
<div class="searchbar floatright">
<form method="get" action="space.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="Tìm sự kiện" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="event" />
	<input type="hidden" name="view" value="all" />
</form>
</div>
<h2 class="title"><img src="image/app/event.gif" />Sự kiện</h2>
<div class="tabs_header">
    <ul class="tabs">
        <li $menu[all]><a href="space.php?do=event&view=all"><span>Tất cả sự kiện</span></a></li>
        <li $menu[recommend]><a href="space.php?do=event&view=recommend"><span>Sự kiện đề cử</span></a></li>
        <li $menu[city]><a href="space.php?do=event&view=city"><span>Sự kiện cùng thành phố</span></a></li>
        <!--{if $space[friendnum]}-->
        <li $menu[friend]><a href="space.php?do=event&view=friend"><span>Sự kiện bạn bè</span></a></li>
        <!--{/if}-->
		<li $menu[me]><a href="space.php?uid=$space[uid]&do=event&view=me"><span>Sự kiện của tôi</span></a></li>
		<li class="null"><a href="cp.php?ac=event" class="t_button">Tạo sự kiện mới</a></li>
    </ul>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "Sự kiện";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=event&view=me\">Tất cả sự kiện của TA</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->
<div class="h_status">
	<!--{if $menu[all]}-->
	<a $submenus[going] href="space.php?do=event&view=all&type=going">Sự kiện đang diễn ra</a>
	<span class="pipe">|</span><a $submenus[over] href="space.php?do=event&view=all&type=over">Sự kiện đã kết thúc</a>
	<!--{elseif $menu[recommend]}-->
	<a $submenus[hot] href="space.php?do=event&view=recommend&type=hot">Sự kiện Hot</a>
	<span class="pipe">|</span><a $submenus[admin] href="space.php?do=event&view=recommend&type=admin">Admin đề cử</a>
	<!--{elseif $menu[city]}-->	
	<a $submenus[going] href="space.php?do=event&view=city&type=going">Sự kiện đang diễn ra</a>
	<span class="pipe">|</span><a $submenus[over] href="space.php?do=event&view=city&type=over">Sự kiện đã kết thúc</a>
	<!--{elseif $menu[friend]}-->
	<a $submenus[all] href="space.php?do=event&view=friend&type=all">Tất cả</a>
	<span class="pipe">|</span><a $submenus[join] href="space.php?do=event&view=friend&type=join">Tham gia</a>
	<span class="pipe">|</span><a $submenus[follow] href="space.php?do=event&view=friend&type=follow">Quan tâm</a>
	<span class="pipe">|</span><a $submenus[org] href="space.php?do=event&view=friend&type=org">Tổ chức</a>
	<!--{elseif $menu[me]}-->
	<a $submenus[all] href="space.php?uid=$space[uid]&do=event&view=me&type=all">Tất cả</a>
	<span class="pipe">|</span><a $submenus[join] href="space.php?uid=$space[uid]&do=event&view=me&type=join">Tham gia</a>
	<span class="pipe">|</span><a $submenus[follow] href="space.php?uid=$space[uid]&do=event&view=me&type=follow">Quan tâm</a>
	<span class="pipe">|</span><a $submenus[org] href="space.php?uid=$space[uid]&do=event&view=me&type=org">Tổ chức</a>
	<!--{/if}-->
</div>

<!--{if $searchkey}-->
<div class="h_status">Dưới đây là kết quả tìm kiếm cho sự kiện có từ khóa <span style="color:red;font-weight:bold;">$searchkey</span></div>
<!--{/if}-->

<div id="content">
	<!--{if $view == "all" && !empty($recommendevents)}-->
	<div class="rec_event_list">
		<h2>
			<div class="r_option"><a href="space.php?do=event&view=recommend&type=admin">Xem thêm</a></div>
			Admin đề cử
		</h2>
		<ol>
			<!--{loop $recommendevents $key $value}-->
			<li>
				<div class="event_icon">
					<a href="space.php?do=event&id=$value[eventid]"><img class="poster_pre" src="$value[pic]" alt="$value[title]" onerror="this.src='$_SGLOBAL[eventclass][$value[classid]][poster]'"></a>
				</div>
				<div class="event_content">
					<h4><a href="space.php?do=event&id=$value[eventid]">$value[title]</a> <span class="gray">[<!--{$_SGLOBAL[eventclass][$value[classid]][classname]}-->]</span></h4>
					<p>Thời gian: <!--{eval echo sgmdate("d-m-Y H:i", $value[starttime])}--> - <!--{eval echo sgmdate("d-m-Y H:i", $value[endtime])}--></p>
				</div>
			</li>
			<!--{/loop}-->
		</ol>
	</div>
	<!--{/if}-->
	
	<!--{if $view == "city"}-->
	<div>
		<!--{if $_GET[city]}-->
			Bạn đang xem các sự kiện tại <b>$_GET[province] - $_GET[city]</b>.
			<a href="#" onclick="$('viewcityevents').style.display=''; this.blur(); return false;">Xem thành phố khác</a>
		<!--{elseif $_GET[province]}-->
			Bạn đang xem các sự kiện tại $_GET[province].
			<!--{if $space[province] == $_GET[province] && $space[city]}-->
			Bạn có thể xem tại <a href="space.php?do=event&view=city&province=$space[province]&city=$space[city]">$space[city]</a>.
			<!--{/if}-->
			<a href="#" onclick="$('viewcityevents').style.display=''; this.blur(); return false;">Xem thành phố khác</a>
		<!--{/if}-->
		<script type="text/javascript" src="source/script_city.js"></script>
		<form id="viewcityevents" action="space.php" method="GET" style="display:none;">
			<input type="hidden" name="do" value="event" />
			<input type="hidden" name="view" value="city" />
			<span id="eventcitybox"></span>
			 <script type="text/javascript">
				showprovince('province', 'city', '$_GET[province]', 'eventcitybox');
                showcity('city', '$_GET[city]', 'province', 'eventcitybox');
            </script>
			<input class="submit" type="submit" value="Xem" />
		</form>
		<!--{if !$space[resideprovince]}-->
		<div class="c_form">
			Bạn chưa thiết lập thành phố cư trú. <a href="cp.php?ac=profile" target="_blank">Thiết lập ngay</a>
		</div>
		<!--{/if}-->
	</div>
	<!--{/if}-->

	<!--{if !empty($eventlist)}-->
	<div class="event_list">
		<ol>
			<!--{eval $hiddecount = 0}-->
			<!--{loop $eventlist $key $event}-->
			<!--{if $event[uid] != $_SGLOBAL[supe_uid] && ($event[grade]==0 || ($event[public]==0 && ($_GET[view]!='me' || $_GET[uid] != $_SGLOBAL[supe_uid])))}-->
			<!--{eval $hiddencount = $hiddencount + 1}-->
			<!--{else}-->
			<li>
				<div class="event_icon">
					<a href="space.php?do=event&id=$event[eventid]"><img class="poster_pre" src="$event[pic]" alt="$event[title]" onerror="this.src='$_SGLOBAL[eventclass][$event[classid]][poster]'"></a>
				</div>
				<div class="event_content">
					<h4 class="event_title"><a href="space.php?do=event&id=$event[eventid]">$event[title]</a><span class="gray">[<!--{$_SGLOBAL[eventclass][$event[classid]][classname]}-->]</span></h4>
					<ul>
						<li>
							<span class="gray">Thời gian:</span> 	<!--{eval echo sgmdate("d-m-Y H:i", $event[starttime])}--> - <!--{eval echo sgmdate("d-m-Y H:i", $event[endtime])}-->
							<!--{if $event[grade] == 0}-->
							<span class="event_state"> Chờ duyệt</span>
							<!--{/if}-->
							<!--{if $event[endtime]<$_SGLOBAL[timestamp]}-->
							<span class="event_state"> Đã kết thúc</span>
							<!--{elseif $event[deadline]<$_SGLOBAL[timestamp]}-->
							<span class="event_state"> Hết hạn đăng ký</span>
							<!--{/if}-->						
						</li>
						<li><span class="gray">Địa điểm:</span>
							<a href="space.php?uid=$_GET[uid]&do=event&view=$view&type=$type&classid=$_GET[classid]&province=$event[province]&date=$_GET[date]">$event[province]</a>
							<a href="space.php?uid=$_GET[uid]&do=event&view=$view&type=$type&classid=$_GET[classid]&province=$event[province]&city=$event[city]&date=$_GET[date]">$event[city]</a>
							$event[location]
						</li>
						<li><span class="gray">Người tạo:</span> <a href="space.php?uid=$event[uid]">$_SN[$event[uid]]</a></li>
						<!--{if $fevents[$event[eventid]]}-->
						<li><span class="gray">Bạn bè:</span> 
							<!--{loop $fevents[$event[eventid]] $value}-->
							<a href="space.php?uid=$value[fuid]">$_SN[$value[fuid]]</a>
							<!--{if $value[status] == 2}--><span class="gray">Hành động</span>
							<!--{elseif $value[status] == 3}--><span class="gray">Tổ chức</span>
							<!--{elseif $value[status] == 4}--><span class="gray">Người tạo</span>
							<!--{else}--><span class="gray">Quan tâm</span>
							<!--{/if}-->
							&nbsp;
							<!--{/loop}-->
						</li>
						<!--{/if}-->
						<li style="margin: 5px 0 0;">$event[viewnum] lượt xem&nbsp; $event[membernum] người tham gia&nbsp; $event[follownum] người quan tâm</li>
					</ul>
				</div>
			</li>
			<!--{/if}-->
			<!--{/loop}-->
		</ol>
		<div>Trang này có $hiddencount sự kiện bị ẩn do cài đặt riêng tư</div>
		<div class="page">$multi</div>		
	</div>
	<!--{else}-->
	<div class="c_form">
		<!--{if $view == "me"}-->
		Bạn chưa có sự kiện nào tương quan.
		<!--{else}-->
		<br/>
		Chưa có sự kiện tương quan. Bạn có thể <a href="cp.php?ac=event">Tạo sự kiện mới</a>		
		<!--{/if}-->
	</div>
	<!--{/if}-->
</div><!--//左侧内容结束//-->

<div id="sidebar">

	<!--{if $view == "all"}-->
	<div class="sidebox">			
		<h2 class="title">
			<p class="r_option">
				<a href="space.php?uid=$_GET[uid]&do=event&view=$view&type=$type&classid=$_GET[classid]&province=$_GET[province]&city=$_GET[city]">Tất cả</a>
			</p>
			Lịch
		</h2>
		<div class="calendarbox" id="eventcalendar"></div>
	</div>
	<script type="text/javascript" charset="$_SC[charset]">
		function showcalendar(month){
			var month = month ? "&month="+month : "";
			ajaxget('cp.php?ac=event&op=calendar' + month + '&date=$_GET[date]&url=<!--{eval echo urlencode($theurl)}-->', 'eventcalendar');
		}
		showcalendar();
	</script>
	<!--{/if}-->
	
	<!--{if $view != 'friend'}-->
	<div class="sidebox">
		<h2 class="title">
			<p class="r_option">
				<a href="space.php?uid=$_GET[uid]&do=event&view=$view&type=$type&date=$_GET[date]&uid=$_GET[uid]">Tất cả</a>
			</p>
			Phân loại
		</h2>
		<ul class="event_cat">
		<!--{loop $_SGLOBAL[eventclass] $value}-->			
			<li<!--{if $_GET[classid] == $value[classid]}--> class="on"<!--{/if}-->>
			<a href="space.php?uid=$_GET[uid]&do=event&view=$view&type=$type&classid=$value[classid]&province=$_GET[province]&city=$_GET[city]&date=$_GET[date]">$value[classname]</a></li>
		<!--{/loop}-->
		</ul>
	</div>
	<!--{/if}-->

	<!--{if $followevents}-->
	<div class="sidebox">
		<h2 class="title">
			<div class="r_option"><a href="space.php?do=event&view=me&type=follow">Xem thêm</a></div>
			Sự kiện tôi quan tâm
		</h2>
		<ul class="attention">
			<!--{loop $followevents $value}-->
			<li style="height: auto;">
				<p>
					<a href="space.php?do=event&id=$value[eventid]">$value[title]</a>					
				</p>
				<p class="gray" style="text-align:left">
					<!--{if $_SGLOBAL[timestamp] > $value[endtime]}-->
						Đã kết thúc
					<!--{else}-->
						<!--{eval echo sgmdate("d-m",$value[starttime])}-->
					<!--{/if}-->&nbsp;		
					$value[membernum] người tham gia /				
					$value[follownum] người quan tâm
				</p>
				<p>
					<!--{if $value[threadnum]}-->
					<a href="space.php?do=event&id=$value[eventid]&view=thread">
						$value[threadnum] thảo luận
					</a> &nbsp;
					<!--{/if}-->
					<!--{if $value[picnum]}-->
					<a href="space.php?do=event&id=$value[eventid]&view=pic">
						$value[picnum] hình ảnh
					</a>
					<!--{/if}-->
				</p>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
	<!--{/if}-->

	<!--{if $friendevents}-->
	<div class="sidebox">
		<h2 class="title">
			<div class="r_option"><a href="space.php?do=event&view=friend">Xem thêm</a></div>
			Sự kiện bạn bè tham gia
		</h2>
		<ul class="attention">			
			<!--{loop $friendevents $value}-->
			<li style="height: auto;">
				<p>
					<a href="space.php?do=event&id=$value[eventid]">$value[title]</a>					
				</p>
				<p class="gray" style="text-align:left">
					Bạn bè：
					<!--{loop $value[friends] $fuid}-->
					<a href="space.php?uid=$fuid" target="_blank">$_SN[$fuid]</a>&nbsp;
					<!--{/loop}-->
				</p>
				<p class="gray" style="text-align:left">
					<!--{if $_SGLOBAL[timestamp] > $value[endtime]}-->
						Đã kết thúc
					<!--{else}-->
						<!--{eval echo sgmdate("d-m",$value[starttime])}-->
					<!--{/if}-->&nbsp;		
					$value[membernum] người tham gia /				
					$value[follownum] người quan tâm
				</p>
				<p>
					<!--{if $value[threadnum]}-->
					<a href="space.php?do=event&id=$value[eventid]&view=thread">
						$value[threadnum] thảo luận
					</a> &nbsp;
					<!--{/if}-->
					<!--{if $value[picnum]}-->
					<a href="space.php?do=event&id=$value[eventid]&view=pic">
						$value[picnum] hình ảnh
					</a>
					<!--{/if}-->
				</p>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
	<!--{/if}-->
	
	<!--{if $hotevents}-->
	<div class="sidebox">
		<h2 class="title">
			<div class="r_option"><a href="space.php?do=event&view=recommend&type=hot">Xem thêm</a></div>
			Sự kiện Hot
		</h2>
		<ul class="attention">
			<!--{loop $hotevents $value}-->
			<li style="height: auto;">
				<p>
					<a href="space.php?do=event&id=$value[eventid]">$value[title]</a>					
				</p>
				<p class="gray" style="text-align:left">
					<!--{if $_SGLOBAL[timestamp] > $value[endtime]}-->
						Đã kết thúc
					<!--{else}-->
						<!--{eval echo sgmdate("d-m",$value[starttime])}-->
					<!--{/if}-->&nbsp;		
					$value[membernum] người tham gia /				
					$value[follownum] người quan tâm
				</p>
				<p>
					<!--{if $value[threadnum]}-->
					<a href="space.php?do=event&id=$value[eventid]&view=thread">
						$value[threadnum] thảo luận
					</a> &nbsp;
					<!--{/if}-->
					<!--{if $value[picnum]}-->
					<a href="space.php?do=event&id=$value[eventid]&view=pic">
						$value[picnum] hình ảnh
					</a>
					<!--{/if}-->
				</p>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
	<!--{/if}-->
	
</div>
<!--{/if}-->

<!--{template footer}-->
