<!--{eval $_TPL['titles'] = array('Ghi chép');}-->
<!--{template header}-->

<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_doing">
		<h3 class="feed_header">
			<a href="space.php?do=doing&view=me" class="r_option" target="_blank">Ghi chép một câu</a>
			Ghi chép (Tổng $count mục)
		</h3><br>

		<!--{if $dolist}-->
		<div class="doing_list">
			<ol>
			<!--{loop $dolist $dv}-->
			<!--{eval $doid = $dv[doid];}-->
				<li id="dl{$doid}">
					<div class="doing">
						<div class="doingcontent"><a href="space.php?uid=$dv[uid]">{$_SN[$dv[uid]]}</a>: <span>$dv[message]</span>
						<span class="gray">(<!--{date('m-d H:i',$dv[dateline],1)}-->)</span>
						<!--{if $dv[uid]==$_SGLOBAL[supe_uid]}--> <a href="cp.php?ac=doing&op=delete&doid=$doid&id=$dv[id]" id="doing_delete_{$doid}_{$dv[id]}" onclick="ajaxmenu(event, this.id)" class="re gray">Xóa</a> &nbsp;<!--{/if}-->
						<a href="javascript:;" onclick="docomment_form($doid, 0);">Trả lời</a>
						</div>
						
						<!--{eval $list = $clist[$doid];}-->
						<div class="sub_doing" id="docomment_$doid"<!--{if !$list}--> style="display:none;"<!--{/if}-->>
							<span id="docomment_form_{$doid}_0"></span>
							<!--{template space_doing_li}-->
						</div>
						
					</div>
				</li>
			<!--{/loop}-->
			</ol>
			<div class="page">$multi</div>
		</div>
		<!--{else}-->
		<div class="c_form">Hiện chưa có ghi chép nào</div>
		<!--{/if}-->
	</div><br>
	
<!--{else}-->

<!--{if $space[self]}-->
<h2 class="title"><img src="image/app/doing.gif">Ghi chép</h2>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li$actives[we]><a href="space.php?uid=$space[uid]&do=$do&view=we"><span>Ghi chép mới nhất của bạn bè</span></a></li><!--{/if}-->
		<li$actives[all]><a href="space.php?uid=$space[uid]&do=$do&view=all"><span>Ghi chép của mọi người</span></a></li>
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>Ghi chép của tôi</span></a></li>
		<li$actives[mood]><a href="space.php?uid=$space[uid]&do=mood"><span>Bạn bè cùng tâm trạng</span></a></li>
	</ul>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "Ghi chép";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=doing&view=me\">Tất cả ghi chép của TA</a>";
}-->
<!--{template space_menu}-->
<div class="h_status">Sắp xếp theo thời gian đăng</div>
<!--{/if}-->

<div id="content">	

	<!--{if $space[self]}-->
	<!--{template space_doing_form}-->
	<br>
	<!--{/if}-->
	

	<!--{if $dolist}-->
	<div class="doing_list">
		<ol>
		<!--{loop $dolist $dv}-->
		<!--{eval $doid = $dv[doid];}-->
			<li id="dl{$doid}">
				<div class="avatar48"><a href="space.php?uid=$dv[uid]"><!--{avatar($dv[uid],small)}--></a></div>
				<div class="doing">
					<div class="doingcontent"><a href="space.php?uid=$dv[uid]">{$_SN[$dv[uid]]}</a>: <span>$dv[message]</span>
					<span class="gray">(<!--{date('m-d H:i',$dv[dateline],1)}-->)</span>
					<!--{if $dv[uid]==$_SGLOBAL[supe_uid]}--> <a href="cp.php?ac=doing&op=delete&doid=$doid&id=$dv[id]" id="doing_delete_{$doid}_{$dv[id]}" onclick="ajaxmenu(event, this.id)" class="re gray">Xóa</a> &nbsp;<!--{/if}-->
					<a href="javascript:;" onclick="docomment_form($doid, 0);">Trả lời</a>
					</div>
					
					<!--{eval $list = $clist[$doid];}-->
					<div class="sub_doing" id="docomment_$doid"<!--{if !$list}--> style="display:none;"<!--{/if}-->>
						<span id="docomment_form_{$doid}_0"></span>
						<!--{template space_doing_li}-->
					</div>
					
				</div>
			</li>
		<!--{/loop}-->
		</ol>
		<div class="page">$multi</div>
	</div>
	
	<!--{else}-->
	<div class="c_form">Hiện chưa có ghi chép nào. <!--{if $space[self]}-->Bạn có thể dùng một câu để ghi lại khoảnh khắc này đang làm gì.<!--{/if}--></div>
	<!--{/if}-->
	
</div>

<div id="sidebar">
	<!--{if $moodlist}-->
	<div class="sidebox">
		<h2 class="title">
			<p class="r_option"><a href="space.php?uid=$space[uid]&do=mood">Tất cả</a></p>
			Bạn bè cùng tâm trạng với <!--{if $space[self]}-->tôi<!--{else}-->{$_SN[$space[uid]]}<!--{/if}-->
		</h2>
		<ul class="avatar_list">
			<!--{loop $moodlist $key $value}-->
			<li>
				<div class="avatar48"><a href="space.php?uid=$value[uid]&do=doing"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]" title="{$_SN[$value[uid]]}">{$_SN[$value[uid]]}</a></p>
				<p class="gray"><!--{date('d/m',$value[updatetime],1)}--></p>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
	<!--{/if}-->
</div>
<!--{/if}-->

<!--{template footer}-->
