<!--{template header}-->
<!--{template cp_header}-->

<div class="l_status c_form">
	<a href="cp.php?ac=credit"$cat_actives[base]>Điểm thưởng</a><span class="pipe">|</span>
	<a href="cp.php?ac=credit&op=rule"$cat_actives[rule]>Quy tắc điểm</a><span class="pipe">|</span>
	<a href="cp.php?ac=credit&op=usergroup"$cat_actives[usergroup]>Hệ thống điểm</a><span class="pipe">|</span>
	<a href="cp.php?ac=credit&op=exchange"$cat_actives[exchange]>Đổi điểm</a>
</div>

<!--{eval
	$_TPL['cycletype'] = array(
		'0' => 'Một lần',
		'1' => 'Hàng ngày',
		'2' => 'Ngẫu nhiên',
		'3' => 'Hàng giờ',
		'4' => 'Không giới hạn'
	);
}-->

<div class="c_form">
<!--{if empty($_GET['op'])}-->	

	<table cellspacing="0" cellpadding="0" class="formtable">
		<tr>
			<th width="150">Trạng thái của tôi</th>
			<td><span style="color:green;font-size:14px;">$space[experience]</span> <!--{eval echo getstar($space[experience]);}--></td>
		</tr>
		<tr><th width="150">&nbsp;</th><td class="gray">
			Sau mỗi <strong>$_SCONFIG[starcredit]</strong> điểm sẽ thêm một <img src="image/star_level1.gif" align="absmiddle"><br>
			Sau mỗi <strong>$_SCONFIG[starlevelnum]</strong> biểu tượng cùng cấp, bạn sẽ nhận được <strong>1</strong> biểu tượng thăng cấp <br>
			Biểu tượng cấp độ: <!--{eval for($i=1;$i<11;$i++){}--><img src="image/star_level{$i}.gif"><!--{eval }}--></td></tr>
		<tr>
			<th width="150">Nhóm người dùng</th>
			<td>
				<span<!--{eval g_color($space[groupid]);}-->>$space[grouptitle]</span>
				<!--{eval g_icon($space[groupid]);}-->
			</td>
		</tr>
		<tr>
			<th width="150">Điểm thưởng</th>
			<td>
			<img src="image/credit.gif">
			<span style="color:red;font-size:14px;">$space[credit]</span>
			<span class="gray">(<a href="space.php?do=top&view=credit">Xếp hạng</a>)</span>
			</td>
		</tr>
		<tr><th>Lượt xem:</th>
			<td>$space[viewnum] 
			<span class="gray">(<a href="space.php?do=top&view=viewnum">Xem bảng xếp hạng</a>)</span>
			</td></tr>
		<tr><th>Ngày tạo:</th><td><!--{date('Y-m-d',$space[dateline],1)}--></td></tr>
		<tr><th>Đăng nhập cuối:</th><td><!--{date('Y-m-d',$space[lastlogin],1)}--></td></tr>
		<tr><th>Cập nhật cuối:</th><td><!--{date('Y-m-d',$space[updatetime],1)}--></td></tr>

		<tr>
			<th>Dung lượng lưu trữ:</th>
			<td> Tổng dung lượng $maxattachsize, đã sử dụng $space[attachsize] ({$percent}%)</td>
		</tr>
		<!--{if $space[haveattachsize]}--><tr><th>Dung lượng còn lại:</th><td>$space[haveattachsize]</td></tr><!--{/if}-->
	</table>
	<br>

	<table cellspacing="0" cellpadding="0" class="listtable">
		<caption>
			<h2>Trung tâm Điểm thưởng & Giải thưởng</h2>
			<p>Lịch sử Giải thưởng và Điểm thưởng. Các hoạt động dưới đây sẽ giúp bạn kiếm thêm điểm, tăng cấp độ:</p>
		</caption>
		<thead>
		<tr class="title">
			<td>Tên hoạt động</td>
			<td align="center">Số lần thực hiện</td>
			<td align="center">Chu kỳ</td>
			<td align="center">Kinh nghiệm</td>
			<td align="center">Điểm thưởng</td>
			<td align="center">Lần thực hiện cuối</td>
		</tr>
		</thead>
		<!--{if $list}-->
		<!--{loop $list $key $value}-->
		<tr<!--{if $key%2==0}--> class="line"<!--{/if}-->>
			<td><a href="cp.php?ac=credit&op=rule&rid=$value[rid]">$value[rulename]</a></td>
			<td align="center">$value[total]</td>
			<td align="center">$value[cyclenum]</td>
			<td align="center">$value[credit]</td>
			<td align="center">$value[experience]</td>
			<td align="center"><!--{date('m-d H:i',$value[dateline])}--></td>
		</tr>
		<!--{/loop}-->
		<!--{else}-->
		<tr>
			<td colspan="6">Bạn chưa nhận được bất kỳ điểm thưởng nào!</td>
		</tr>
		<!--{/if}-->
		<!--{if $multi}-->
		<tr>
			<td colspan="6"><div class="page">$multi</div></td>
		</tr>
		<!--{/if}-->
	</table>

<!--{elseif $_GET['op'] == 'exchange'}-->

	<form method="post" action="cp.php?ac=credit&op=exchange">
	<table cellspacing="0" cellpadding="0" class="formtable">
	<caption>
		<h2>Đổi điểm thưởng</h2>
		<p>Trao đổi hoặc chuyển điểm thưởng của bạn sang các ứng dụng khác trong cộng đồng (ví dụ: diễn đàn).</p>
	</caption>
	<tr><th width="150">Điểm hiện có:</th><td> $space[credit]</td></tr>
	<tr>
		<th><label for="password">Mật khẩu</label>:</th>
		<td><input type="password" name="password" class="t_input" /></td>
	</tr>
	<tr>
		<th>Sử dụng điểm:</th>
		<td><input type="text" id="amount" name="amount" value="0" class="t_input" onkeyup="calcredit();" /></td>
	</tr>
	<tr>
		<th>Chuyển đổi:</th>
		<td>
			<input type="text" id="desamount" value="0" class="t_input" disabled />&nbsp;&nbsp;
			<select name="tocredits" id="tocredits" onChange="calcredit();">
			<!--{loop $_CACHE['creditsettings'] $id $ecredits}-->
				<!--{if $ecredits[ratio]}-->
					<option value="$id" unit="$ecredits[unit]" title="$ecredits[title]" ratio="$ecredits[ratio]">$ecredits[title]</option>
				<!--{/if}-->
			<!--{/loop}-->
			</select>
		</td>
	</tr>
	<tr>
		<th>Tỷ lệ đổi:</th>
		<td><span class="bold">1</span>&nbsp;<span id="orgcreditunit">điểm</span><span id="orgcredittitle"></span>&nbsp;đổi được&nbsp;<span class="bold" id="descreditamount"></span>&nbsp;<span id="descreditunit"></span><span id="descredittitle"></span></td>
	</tr>
	<tr><th>&nbsp;</th><td><input type="submit" name="exchangesubmit" value="Xác nhận đổi" class="submit"></td></tr>
	</table>
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
	<script type="text/javascript">
		function calcredit() {
			tocredit = $('tocredits')[$('tocredits').selectedIndex];
			$('descreditunit').innerHTML = tocredit.getAttribute('unit');
			$('descredittitle').innerHTML = tocredit.getAttribute('title');
			$('descreditamount').innerHTML = Math.round(1/tocredit.getAttribute('ratio') * 100) / 100;
			$('amount').value = $('amount').value.toInt();
			if($('amount').value != 0) {
				$('desamount').value = Math.floor(1/tocredit.getAttribute('ratio') * $('amount').value);
			} else {
				$('desamount').value = $('amount').value;
			}
		}
		String.prototype.toInt = function() {
			var s = parseInt(this);
			return isNaN(s) ? 0 : s;
		}
		calcredit();
	</script>

<!--{elseif $_GET['op'] == 'rule'}-->

	<!--{if $list}-->
	<table cellspacing="0" cellpadding="0" class="listtable">
		<caption>
			<h2>Quy tắc nhận thưởng quan trọng</h2>
			<p>Tham gia các hoạt động dưới đây để nhận điểm, nhưng đối với một số hoạt động sẽ có giới hạn về số lượng phần thưởng, ai đến trước sẽ nhận trước</p>
		</caption>
		<tr class="title">
			<td>Tên hoạt động</td>
			<td align="center">Phạm vi</td>
			<td align="center">Phần thưởng tối đa</td>
			<td align="center" width="100">Điểm kinh nghiệm</td>
		</tr>
		<!--{loop $list $key $value}-->
		<tr<!--{if $key%2==0}--> class="line"<!--{/if}-->>
			<td>$value[rulename]</td>
			<td align="center">$_TPL[cycletype][$value[cycletype]]</td>
			<td align="center"><!--{if $value[rewardnum]}-->$value[rewardnum]<!--{else}-->Không giới hạn số lần<!--{/if}--></td>
			<td align="center">$value[credit]</td>
		</tr>
		<!--{/loop}-->
	</table>
	<!--{/if}-->
	
	<!--{if $list2}-->
	<br>
	<table cellspacing="0" cellpadding="0" class="listtable">
		<caption>
			<h2>Điểm bị trừ</h2>
			<p>Bất kỳ hành động nào dưới đây sẽ khiến bạn bị trừ điểm, xóa nội dung đã đăng mà bạn đã nhận điểm, hãy tránh để bị trừ điểm của bạn</p>
		</caption>
		<tr class="title">
			<th>Tên hoạt động</th>
			<th align="center">Trừ kinh nghiệm</th>
		</tr>
		<!--{loop $list2 $key $value}-->
		<tr<!--{if $key%2==0}--> class="line"<!--{/if}-->>
			<td>$value[rulename]</td>
			<td align="center" width="100">$value[credit]</td>
		</tr>
		<!--{/loop}-->
	</table>
	<!--{/if}-->
	
<!--{elseif $_GET['op'] == 'usergroup'}-->

	<table cellspacing="0" cellpadding="0" class="listtable">
	<caption>
		<h2>Cấp độ Nhóm người dùng và Điểm thưởng</h2>
		<p>Nhóm người dùng cao hơn (cấp độ của bạn) sẽ được hưởng nhiều quyền lợi hơn</p>
	</caption>
	<tr class="title">
		<th width="150">Tên nhóm người dùng</th>
		<td>Phạm vi điểm</td>
	</tr>
	<!--{loop $groups $value}-->
	<tr>
		<th><span<!--{eval g_color($value[gid]);}-->>{$value[grouptitle]}</span><!--{eval g_icon($value[gid]);}--></th>
		<td>$value[explower] ~ $value[exphigher]</td>
	</tr>
	<!--{/loop}-->
	</table>
	
	<table cellspacing="0" cellpadding="0" class="listtable">
	<caption>
		<h2>Nhóm người dùng VIP</h2>
		<p>Nhóm người dùng đặc biệt VIP</p>
	</caption>
	<tr class="title">
		<th width="150">Tên nhóm người dùng</th>
		<td>Phạm vi kinh nghiệm</td>
	</tr>
	<!--{loop $s_groups $value}-->
	<tr>
		<th><span<!--{eval g_color($value[gid]);}-->>{$value[grouptitle]}</span><!--{eval g_icon($value[gid]);}--></th>
		<td>-</td>
	</tr>
	<!--{/loop}-->
	</table>

<!--{/if}-->

</div>

<!--{template footer}-->
