<!--{template header}-->

<!--{if $_GET[op]=='manage'}-->

	<!--{if $_GET['subop'] != 'member'}-->
	<h2 class="title"><img src="image/app/mtag.gif" /> Nhóm - $mtag[tagname]</h2>
	<div class="tabs_header">
		<ul class="tabs">
		<!--{if $mtag['grade'] >= 8}-->
			<li$actives[base]><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=base"><span>Cài đặt cơ bản</span></a></li>
		<!--{/if}-->
		<!--{if $mtag['allowinvite']}-->
			<li$actives[invite]><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=invite"><span>Mời bạn bè</span></a></li>
		<!--{/if}-->
		<!--{if $mtag['grade'] >= 8}-->
			<li$actives[members]><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members"><span>Quản lý thành viên</span></a></li>
			<li$actives[thread]><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=thread"><span>Quản lý thảo luận</span></a></li>
		<!--{/if}-->
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]"><span>Quay lại nhóm</span></a></li>
		</ul>
		<!--{if ($actives[members] || $mtag['allowinvite']) && ($_GET['subop'] == 'invite' || $_GET['subop'] == 'members')}-->
		<script>
			function searchUser() {
				$('searchform').submit();
			}
		</script>
		<form name="searchform" id="searchform" method="get" action="cp.php">
			<div style="float:right;margin:0 6px 5px 0;">
				<table cellspacing="0" cellpadding="0">
					<tr>
						<td style="padding: 0;"><input type="text" id="key" name="key" value="Tìm kiếm" onfocus="if(this.value=='Nhóm')this.value='';" class="t_input" tabindex="1" style="width: 160px; border-right: none;" /></td>
						<td style="padding: 0;"><a href="javascript:searchUser();"><img src="image/search_btn.gif" alt="Tìm kiếm" /></a></td>
					</tr>
				</table>
			</div>
			<input type="hidden" name="ac" value="mtag">
			<input type="hidden" name="op" value="manage">
			<input type="hidden" name="tagid" value="$mtag[tagid]">
			<input type="hidden" name="subop" value="$_GET[subop]">
			<input type="hidden" name="uid" value="$_GET[uid]">
			<input type="hidden" name="grade" value="$_GET[grade]">
			<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		</form>
		<!--{/if}-->
	</div>
	<!--{/if}-->
	
	<form id="manageform" name="manageform" method="post" action="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=$_GET[subop]&uid=$_GET[uid]&grade=$_GET[grade]&group=$_GET[group]&page=$_GET[page]&start=$_GET[start]">
	
	<!--{if $_GET['subop'] == 'base'}-->
	
	<table cellspacing="4" cellpadding="4" class="formtable">
	<tr>
		<th width="100">Tên nhóm</th>
		<td>$mtag[tagname]</td>
	</tr>
	<tr>
		<th width="100"><label for="pic">Logo nhóm</label></th>
		<td><input id="pic" type="text" name="pic" value="$mtag[pic]" size="80" class="t_input" /><br />Nhập URL hình ảnh bắt đầu bằng http:// ) Gợi ý: Tải lên hình ảnh trong album của bạn, sao chép url (nhấp chuột phải vào hình ảnh, sau đó tìm Vị trí hình ảnh hoặc sử dụng thuộc tính, URL phải kết thúc bằng .jpg .png .gif)</td>
	</tr>
	<tr>
		<th>
			<label for="announcement">Thông báo của nhóm</label>
		</th>
		<td>
			<textarea id="announcement" name="announcement" cols="80" rows="5">$mtag[announcement]</textarea>
			<p class="gray">Tối đa <strong>10000</strong> ký tự</p>	
		</td>
	</tr>
	
	<!--{if $mtag[grade]==9}-->
	<!--{if $field['manualmember']}-->
	<tr>
		<th width="100">Cài đặt quyền riêng tư</th>
		<td>
			<select name="joinperm">
			<option value="0"$joinperms[0]>Công khai (ai cũng có thể tham gia)</option>
			<option value="1"$joinperms[1]>Cần duyệt thành viên</option>
			<option value="2"$joinperms[2]>Riêng tư (Chỉ những người được mời)</option>
			</select>
		</td>
	</tr>
	<!--{else}-->
	<tr>
		<th width="100">Quyền hạn</th>
		<td>Công khai (thành viên có thể thêm nhau)</td>
	</tr>
	<!--{/if}-->
	<tr>
		<th width="100">Quyền xem</th>
		<td>
			<select name="viewperm">
			<option value="0"$viewperms[0]>Công khai (bất kỳ ai cũng có thể xem nội dung)</option>
			<option value="1"$viewperms[1]>Riêng tư (Chỉ thành viên mới có thể xem)</option>
			</select>
			<br>Để bảo vệ quyền riêng tư, nếu là riêng tư, các chủ đề và những nội dung liên quan khác sẽ không hiển thị trong Bản tin của thành viên.
		</td>
	</tr>
	<tr>
		<th width="100">Thảo luận</th>
		<td>
			<select name="threadperm">
			<option value="0"$threadperms[0]>Chỉ chủ nhóm mới có thể tạo chủ đề mới</option>
			<option value="1"$threadperms[1]>Bất kỳ thành viên nào cũng có thể tạo chủ đề mới</option>
			</select>
		</td>
	</tr>
	<tr>
		<th width="100">Trả lời</th>
		<td>
			<select name="postperm">
			<option value="0"$postperms[0]>Chỉ thành viên mới có thể trả lời</option>
			<option value="1"$postperms[1]>Bất kỳ ai cũng có thể trả lời</option>
			</select>
		</td>
	</tr>
	
	<tr>
		<th>Mở đăng ký thành viên mới</th>
		<td>
			<input type="radio" name="closeapply" value="0" $closeapply[0]/> Mở
			<input type="radio" name="closeapply" value="1" $closeapply[1]/> Đóng
		</td>
	</tr>
	<!--{/if}-->
	
	<tr>
		<th>&nbsp;</th>
		<td>
		<input type="submit" name="basesubmit" value="Lưu thay đổi" class="submit" />&nbsp;
		</td>
	</tr>
	</table>
	
	<!--{elseif $_GET['subop'] == 'thread'}-->
	
	<table cellspacing="0" cellpadding="0" class="formtable">
	<tr>
		<td>
		Đăng nhập vào Bảng điều khiển admin để quản lý nội dung nhóm hàng loạt,<br>
		<br><a href="admincp.php?ac=thread&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1" class="submit">Quản lý chủ đề</a> &nbsp; 
		<a href="admincp.php?ac=post&&perpage=20&tagid=$mtag[tagid]&searchsubmit=1" class="submit">Quản lý trả lời</a>
		</td>
	</tr>
	</table>
	
	<!--{elseif $_GET['subop'] == 'invite'}-->
	
	<div id="content" style="width: 640px;">
		<div class="h_status">
			Bạn có thể mời những người bạn chưa tham gia nhóm này tham gia!
		</div>
	
	<!--{if $list}-->
		<div class="h_status">
			<ul class="avatar_list">
			<!--{loop $list $value}-->
				<li><div class="avatar48"><a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}"><!--{avatar($value[fuid],small)}--></a></div>
					<p><a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}">{$_SN[$value[fuid]]}</a></p>
					<p><!--{if empty($joins[$value[fuid]])}--><input type="checkbox" name="ids[]" value="$value[fuid]">Chọn<!--{else}--> Đã mời<!--{/if}--></p>
				</li>
			<!--{/loop}-->
			</ul>
			<div class="page">$multi</div>
		</div>
		<p>
			<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')">Chọn tất cả &nbsp;			<input type="submit" name="invitesubmit" value="Mời" class="submit" />
		</p>
	
	<!--{else}-->
		<div class="c_form">Không có bạn bè!</div>
	<!--{/if}-->

	</div>
	
	<div id="sidebar" style="width: 150px;">
	<div class="cat">
		<h3>Danh mục bạn bè</h3>
		<ul class="post_list line_list">
			<li<!--{if $_GET[group]==-1}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&tagid=$mtag[tagid]&op=manage&subop=invite&group=-1">Tất cả bạn bè</a></li>
			<!--{loop $groups $key $value}-->
			<li<!--{if $_GET[group]==$key}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&tagid=$mtag[tagid]&op=manage&subop=invite&group=$key">$value</a></li>
			<!--{/loop}-->
		</ul>
	</div>
	</div>
		
	<!--{elseif $_GET['subop'] == 'members'}-->
	
	<div id="content" style="width: 640px;">
	
	<div class="h_status">
		Chọn người dùng để thay đổi cấp độ của họ!
	</div>
	
	<div class="h_status">
		<!--{if $list}-->
		<ul class="avatar_list">
		<!--{loop $list $value}-->
			<li><div class="avatar48"><a href="space.php?uid=$value[uid]" target="_blank"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p>
				<p><input type="checkbox" name="ids[]" value="$value[uid]">Đã chọn</p>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">Không tìm thấy kết quả liên quan</div>
		<!--{/if}-->
	</div>
	<p>
		<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')">Chọn &nbsp;
		Thiết lập:
		<select name="newgrade">
			<!--{if $mtag[grade]==9}-->
			<option value="9">Chủ nhóm</option>
			<option value="8">Người điều hành</option>
			<!--{/if}-->
			<option value="1">Thành viên ưu tú</option>
			<option value="0">Thành viên</option>
			<option value="-1">Bị cấm</option>
			<option value="-2">Chờ duyệt</option>
			<option value="-9">Xóa</option>
		</select>  &nbsp;
		<input type="submit" name="memberssubmit" value="Xác nhận" class="submit" />
	</p>
	</div>
	
	<div id="sidebar" style="width: 150px;">
	<div class="cat">
		<h3>Cấp độ thành viên</h3>
		<ul class="post_list line_list">
			<li<!--{if $_GET[grade]==-2}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=-2">Chờ duyệt</a></li>
			<li<!--{if $_GET[grade]==0}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=0">Thành viên</a></li>
			<li<!--{if $_GET[grade]==9}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=9">Chủ nhóm</a></li>
			<li<!--{if $_GET[grade]==8}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=8">Người điều hành</a></li>
			<li<!--{if $_GET[grade]==1}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=1">Thành viên ưu tú</a></li>
			<li<!--{if $_GET[grade]==-1}--> class="current"<!--{/if}-->><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members&grade=-1">Bị cấm</a></li>
		</ul>
	</div>
	</div>
	
	<!--{elseif $_GET['subop'] == 'member'}-->
	
	<h1>Quản lý thành viên</h1>
	<a href="javascript:hideMenu();" title="Đóng" class="float_del">Đóng</a>
	<div id="$_GET[uid]" class="popupmenu_inner">
	<p>Tên người dùng: {$_SN[$tagspace[uid]]}</p>
	<p>Thiết lập cấp độ:
		<select name="grade">
			<option value="9"$grades[9]>Chủ nhóm</option>
			<option value="8"$grades[8]>Người điều hành</option>
			<option value="1"$grades[1]>Thành viên ưu tú</option>
			<option value="0"$grades[0]>Thành viên</option>
			<option value="-1"$grades[-1]>Bị cấm</option>
			<option value="-2"$grades[-2]>Chờ duyệt</option>
			<option value="-9">Xóa</option>
		</select>
	</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
		<button name="membersubmit" type="submit" class="submit" value="true">Lưu</button>
	</p>
	</div>
	
	<!--{/if}-->

	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>

<!--{elseif $_GET[op]=='mtaginvite'}-->
	
	<h2 class="title"><img src="image/app/mtag.gif" /> Mời vào nhóm</h2>
	<div class="tabs_header">
		<ul class="tabs">
			<li class="active"><a href="cp.php?ac=mtag&op=mtaginvite"><span>Lời mời vào nhóm</span></a></li>
			<li><a href="space.php?do=mtag&view=me"><span>Quay lại nhóm của tôi</span></a></li>
		</ul>
	</div>
	
	<div class="h_status">
		Bạn bè mời bạn tham gia các nhóm sau
		<!--{if $invites}-->
			<span class="pipe">|</span>
			<a href="cp.php?ac=mtag&op=inviteconfirm&tagid=0&r=0"><span>Bỏ qua tất cả</span></a>
		<!--{/if}-->
	</div>
	
	<div class="c_form">
		<!--{if $invites}-->
		<table cellspacing="4" cellpadding="4" class="formtable">
		<!--{loop $invites $value}-->
		<tr>
			<td width="80">
			<div class="threadimg60"><a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank"><img src="$value[pic]" width="60"></a></div></td>
			<td class="h_status">
				<p><a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank" style="font-size:14px;font-weight:bold;">$value[tagname]</a></p>
				<div id="tag_$value[tagid]" style="padding:0.5em 0 0.5em 0;">
					<p>$value[membernum] Thành viên<!--{if $value[viewperm]}-->, Chỉ thành viên có thể xem <!--{/if}-->, Danh mục: $value[title]</p>
					Người mời: <a href="space.php?uid=$value[fromuid]" target="_blank">{$_SN[$value[fromuid]]}</a>
					<br>Thời gian mời: <!--{date('d-m-Y H:i', $value[dateline], 1)}-->
					<p style="padding:1em 0 0 0;">
					<a href="cp.php?ac=mtag&op=inviteconfirm&tagid=$value[tagid]&r=1" class="submit" onclick="ajaxget(this.href, 'tag_$value[tagid]');return false;">Chấp nhận lời mời</a> 
					<a href="cp.php?ac=mtag&op=inviteconfirm&tagid=$value[tagid]&r=0" class="button" onclick="ajaxget(this.href, 'tag_$value[tagid]');return false;">Bỏ qua</a>
					</p>
				</div>
			</td>
		</tr>
		<!--{/loop}-->
		</table>
		<!--{else}-->
		Hiện không có lời mời nào!
		<!--{/if}-->
	
	</div>	

<!--{elseif $_GET[op]=='join'}-->
	
	<h1>Tham gia nhóm</h1>
	<a href="javascript:hideMenu();" class="float_del" title="Đóng">Đóng</a>
	<div class="popupmenu_inner" id="__joinform_{$tagid}">
	<form id="joinform_{$tagid}" name="joinform_{$tagid}" method="post" action="cp.php?ac=mtag&op=join&tagid=$tagid">
		<p>Bạn có chắc chắn muốn tham gia nhóm này không?</p>
		<p class="btn_line">
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
			<input type="submit" name="joinsubmit" value="Tham gia" class="submit" />
		</p>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
	</div>

<!--{elseif $_GET[op]=='out'}-->
	
	<h1>Rời khỏi nhóm</h1>
	<a href="javascript:hideMenu();" class="float_del" title="Đóng">Đóng</a>
	<div class="popupmenu_inner" id="__outform">
	<form id="outform" name="outform" method="post" action="cp.php?ac=mtag&op=out&tagid=$mtag[tagid]">
		<p>Bạn có chắc chắn muốn rời khỏi nhóm này không?</p>
		<p class="btn_line">
			<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
			<input type="submit" name="outsubmit" value="Rời khỏi" class="submit" />
		</p>
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
	</div>

<!--{elseif $_GET[op]=='apply'}-->
	
	<h1>Đăng ký làm quản trị viên nhóm</h1>
	<a href="javascript:hideMenu();" class="float_del" title="Đóng">Đóng</a>
	<div class="popupmenu_inner" id="__pmapplyform_{$tagid}">
	<form id="pmapplyform_{$tagid}" name="pmapplyform_{$tagid}" method="post" action="cp.php?ac=mtag&op=apply&tagid=$tagid">
		<table cellspacing="0" cellpadding="3">
			<tr><td>Vui lòng đưa ra lý do và cho chúng tôi biết tại sao bạn nên đảm nhận vai trò này, đơn đăng ký của bạn sẽ được gửi dưới dạng tin nhắn ngắn cho quản trị viên</td></tr>
			<tr>
				<td><textarea id="message" name="message" cols="40" rows="4" tabindex="3" style="width: 400px; height: 150px;" onkeydown="ctrlEnter(event, 'pmsubmit_btn');"></textarea></td>
			</tr>
			<tr>
				<td>
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
				<input type="hidden" name="pmsubmit" value="true" />
				<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
				<!--{if $_SGLOBAL[inajax]}-->
				<input type="button" name="pmsubmit_btn" id="pmsubmit_btn" value="Đăng ký" class="submit" onclick="ajaxpost('pmapplyform_{$tagid}','',2000)" />
				<!--{else}-->
				<input type="submit" name="pmsubmit_btn" id="pmsubmit_btn" value="Đăng ký" class="submit" />
				<!--{/if}-->
				</td>
			</tr>
		</table>
	</form>
	</div>


<!--{else}-->
	
	<h2 class="title"><img src="image/app/mtag.gif" /> Nhóm</h2>
	<div class="tabs_header">
		<ul class="tabs">
			<li class="active"><a href="cp.php?ac=mtag"><span>Tạo nhóm mới</span></a></li>
			<li><a href="space.php?do=mtag&view=me"><span>Nhóm của tôi</span></a></li>
		</ul>
	</div>

	<!--{if $_GET[op]=='multiresult'}-->

	<div class="c_form">
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Bạn đã tham gia nhóm thành công</h2>
			<p>Bây giờ bạn có thể ghé thăm nhóm và gặp gỡ những người cùng sở thích, tạo chủ đề hoặc làm quen với các thành viên khác!</p>
		</caption>
		<!--{loop $mtags $value}-->
		<tr>
			<td><a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank">$value[tagname]</a></td>
			<td>{$value[title]}</td>
			<td>$value[membernum] Thành viên</td>
			<td><a href="space.php?do=mtag&tagid=$value[tagid]" class="submit">Truy cập ngay vào nhóm này</a></td>
		</tr>
		<!--{/loop}-->
	</table>
	</div>

	<!--{elseif $_GET[op]=='confirm'}-->

		<!--{if $findmtag}-->
	
		<div class="c_form">
		<table cellspacing="0" cellpadding="0" class="formtable">
			<tr><td width="90"><div class="threadimg60"><img src="$findmtag[pic]" width="60" height="60"></div></td><td>
				Groups <a href="space.php?do=mtag&tagid=$findmtag[tagid]" target="_blank">$findmtag[tagname]</a> Already exists
				<br>$findmtag[membernum] Peoples
				<br><br><a href="space.php?do=mtag&tagid=$findmtag[tagid]" class="submit">Visit group</a>
			</td></tr>
		</table>
		</div>
		
		<!--{else}-->
	
		<form method="post" action="cp.php?ac=mtag" class="c_form">
		<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
		<!--{if $likemtags}-->
		<table cellspacing="0" cellpadding="0" class="formtable">
			<caption>
				<h2>Popular Groups</h2>
				<p>The following popular groups and the group you want to create already exist, you can not create a new group, but You can join directly group, Already there are many members, you together discuss the topic and share the stuff.</p>
			</caption>
			<!--{loop $likemtags $value}-->
			<tr>
				<td><a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank">$value[tagname]</a></td>
				<td>$value[membernum] Members</td>
				<td>
					<a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank">Quick access to this group</a>
					<span class="pipe">|</span>
					<!--{if $value['joinperm'] < 2}-->
					<a href="cp.php?ac=mtag&op=join&tagid=$value[tagid]" id="mtag_like_$value[tagid]" onclick="ajaxmenu(event, this.id)">Select to join group</a>
					<!--{else}-->
					<strong>it require the invitition to join this group</strong>
					<!--{/if}-->
				</td>
			</tr>
			<!--{/loop}-->
		</table>
		<!--{/if}-->
		
		<table cellspacing="0" cellpadding="0" class="formtable">
			<caption>
				<h2>Are you sure do you want to create new group?</h2>
			</caption>
			<tr>
				<th width="120">Create Group Name</th>
				<td>$newtagname</td>
			</tr>
			<tr>
				<th width="120">Group Category</th>
				<td>$profield[title]</td>
			</tr>
			<tr>
				<td></td><td>
					<input type="hidden" name="tagname" value="$newtagname">
					<input type="hidden" name="fieldid" value="$fieldid">
					<input type="hidden" name="joinmode" value="1">
					<input type="submit" id="textsubmit" name="textsubmit" value="Create Group" class="submit"></td>
			</tr>
		</table>
		</form>
		<!--{/if}-->

	<!--{else}-->

	<!--{if $textarr}-->
	<form method="post" action="cp.php?ac=mtag" class="c_form">
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	<table cellspacing="6" cellpadding="6" class="formtable">
	<caption>
		<h2>Tạo nhóm mới của bạn!</h2>
		<p>Bạn có thể tự do tạo một nhóm của riêng mình và mời bạn bè tham gia để thảo luận và chia sẻ công việc.</p>
	</caption>
	<tr>
		<th width="120">Tên nhóm</th>
		<td><input type="text" name="tagname" value="" class="t_input"></td>
	</tr>
	<tr>
		<th>Loại nhóm</th>
		<td>
		<select name="fieldid">
		<!--{loop $textarr $value}-->
		<option value="$value[fieldid]">$value[title]</option>
		<!--{/loop}-->
		</select>
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td><input type="submit" name="textsubmit" value="Tạo nhóm" class="submit"></td>
	</tr>
	</table>
	</form>
	<!--{/if}-->
	
	<!--{if $choicearr}-->
	<form method="post" action="cp.php?ac=mtag" class="c_form">
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	<table cellspacing="6" cellpadding="6" class="formtable">
	<caption>
		<h2>Tham gia nhóm mặc định</h2>
		<p>Bạn có thể chọn tham gia nhóm sở thích được tạo trên trang web nếu bạn không muốn tạo nhóm riêng của mình, với nhiều bạn bè cùng chí hướng hơn để cùng thảo luận về các chủ đề liên quan.<br> Vui lòng truy cập trang chủ của Nhóm và chọn nhóm bạn muốn!</p>
	</caption>
	<!--{loop $choicearr $fid $value}-->
	<tr>
		<th width="120">$value[title]</th>
		<td>
		<!--{if $value['formtype']=='multi'}-->
			<table><tr>
			<!--{loop $value['choice'] $sk $sv}-->
			<td><input type="checkbox" name="tagname[$fid][]" value="$sv" <!--{if $existmtag[$fid] && in_array($sv, $existmtag[$fid])}-->checked disabled<!--{/if}-->> <a href="space.php?do=mtag&fieldid=$fid&tagname=<!--{eval echo urlencode($sv);}-->" target="_blank">$sv</a></td>
			<!--{if $sk%3==2}--></tr><tr><!--{/if}-->
			<!--{/loop}-->
			</tr></table>
		<!--{else}-->
			<table><tr>
			<!--{loop $value['choice'] $sk $sv}-->
			<td><input type="radio" name="tagname[$fid]" value="$sv" <!--{if $existmtag[$fid] && in_array($sv, $existmtag[$fid])}--> checked <!--{/if}--> <!--{if $existmtag[$fid]}-->disabled<!--{/if}-->> <a href="space.php?do=mtag&fieldid=$fid&tagname=<!--{eval echo urlencode($sv);}-->" target="_blank">$sv</a></td>
			<!--{if $sk%3==2}--></tr><tr><!--{/if}-->
			<!--{/loop}-->
			</tr></table>
		<!--{/if}-->
		</td>
	</tr>
	<!--{/loop}-->
	<tr>
		<th>&nbsp;</th>
		<td><input type="submit" name="choicesubmit" value="Tham gia nhóm" class="submit"></td>
	</tr>
	</table>
	</form>
	<!--{/if}-->
	
	<form method="get" action="space.php" class="c_form">
	<table cellspacing="6" cellpadding="6" class="formtable">
	<caption>
		<h2>Tìm kiếm nhóm hiện có</h2>
		<p>Bạn có thể thử tìm kiếm nhóm quan tâm của mình</p>
	</caption>
	<tr>
		<th width="120">Tìm kiếm thành viên nhóm</th>
		<td>
		<input name="searchkey" value="" class="t_input" type="text">
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td><input name="searchsubmit" value="Tìm kiếm nhóm" class="submit" type="submit"></td>
	</tr>
	</table>
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="mtag" />
	<input type="hidden" name="view" value="hot" />
	</form>

	<!--{/if}-->

<!--{/if}-->
<!--{template footer}-->