<!--{template header}-->

<!--{template cp_header}-->
<form action="cp.php?ac=sendmail&ref" method="post" class="c_form" >
<!--{if empty($space['emailcheck']) }-->
		<table cellspacing="0" cellpadding="0" class="formtable">
			<caption>
				<h2>Trước tiên, bạn cần kích hoạt email của mình</h2>
<p><b>Quan trọng nhất</b>: Vui lòng điền địa chỉ email bạn thường xuyên sử dụng, hệ thống sẽ gửi cho bạn một email kèm theo liên kết kích hoạt. Nhấp vào liên kết đó và làm theo các bước. Nếu liên kết không mở được, vui lòng sao chép và dán liên kết kích hoạt vào trình duyệt của bạn.
<br><br>
Email này sẽ nằm trong hộp thư đến của bạn, trường hợp không thấy vui lòng kiểm tra thư mục spam và thêm người gửi email vào danh bạ email của bạn để không bỏ lỡ email nào trong tương lai.</p>
			</caption>
			<tr>
				<td><a href="cp.php?ac=profile&op=contact">Xác minh email của bạn: $space[email]</a></td>
			</tr>
		</table>
<!--{else}-->
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>Cài đặt cảnh báo qua email</h2>
			<p>Hệ thống sẽ gửi email cho bạn nếu bạn không đăng nhập vào tài khoản trong $_SCONFIG[sendmailday] ngày.
<br><br>
Chọn các cảnh báo email dưới đây mà bạn muốn nhận trong hộp thư đến.</p>
		</caption>
		<tr>
			<td>
				<div><b>Bạn bè của tôi</b></div>
				<div ><input type="checkbox" name="sendmail[friend_pm]" value="1" $sendmail[friend_pm]<!--{if !$sendmail}-->checked<!--{/if}--> />Gửi tin nhắn riêng (PM) cho tôi</div>
				<div ><input type="checkbox" name="sendmail[comment_friend]" value="1" $sendmail[comment_friend]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận vào hồ sơ của tôi</div>
				<div ><input type="checkbox" name="sendmail[comment_friend_reply]" value="1" $sendmail[comment_friend_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Trả lời bình luận của tôi</div>
				<div ><input type="checkbox" name="sendmail[poke]" value="1" $sendmail[poke]<!--{if !$sendmail}-->checked<!--{/if}--> />Bạn bè trêu chọc tôi</div>
				<div ><input type="checkbox" name="sendmail[friend_add]" value="1" $sendmail[friend_add]<!--{if !$sendmail}-->checked<!--{/if}--> />Yêu cầu kết bạn</div>
				<br />
				<div><b>Blog</b></div>
				<div ><input type="checkbox" name="sendmail[blog_comment]"  value="1" $sendmail[blog_comment]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận về blog</div>
				<div ><input type="checkbox" name="sendmail[blog_comment_reply]"  value="1" $sendmail[blog_comment_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Trả lời bình luận blog của tôi</div>
				<br />
				<div><b>Album</b></div>
				<div ><input type="checkbox" name="sendmail[photo_comment]"  value="1" $sendmail[photo_comment]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận mới vào Album của tôi</div>
				<div ><input type="checkbox" name="sendmail[photo_comment_reply]"  value="1" $sendmail[photo_comment_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận về ảnh</div>
				<br />
				<div><b>Chia sẻ</b></div>
				<div ><input type="checkbox" name="sendmail[share_comment]"  value="1" $sendmail[share_comment]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận vào Chia sẻ của tôi</div>
				<div ><input type="checkbox" name="sendmail[share_comment_reply]"  value="1" $sendmail[share_comment_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Trả lời bình luận chia sẻ của tôi</div>
				<br />
				<div><b>Chủ đề</b></div>
				<div ><input type="checkbox" name="sendmail[mtag_reply]"  value="1" $sendmail[mtag_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Trả lời thảo luận của tôi</div>				<br />
				<div><b>Sự kiện</b></div>
				<div ><input type="checkbox" name="sendmail[event]"  value="1" $sendmail[event]<!--{if !$sendmail}-->checked<!--{/if}--> />Phê duyệt thành viên mới tham gia Sự kiện của tôi</div>						
				<br />
				<div><b>Thăm dò</b></div>
				<div ><input type="checkbox" name="sendmail[poll_comment]"  value="1" $sendmail[poll_comment]<!--{if !$sendmail}-->checked<!--{/if}--> />Bình luận mới vào Thăm dò của tôi</div>
				<div ><input type="checkbox" name="sendmail[poll_comment_reply]"  value="1" $sendmail[poll_comment_reply]<!--{if !$sendmail}-->checked<!--{/if}--> />Trả lời bình luận thăm dò</div>
				<br />
				<div>Tần suất nhận Email
				<select name="sendmail[frequency]">
				<option value="0">Gửi email theo thời gian thực</option>
				<option value="86400" $sendmail[frequency][86400]>Gửi bản tin tổng hợp hàng ngày</option>
				<option value="604800" $sendmail[frequency][604800] <!--{if !$sendmail}-->selected<!--{/if}-->>Gửi hàng tuần</option>
				</select>
				</div>
				<br />
			</td>
		</tr>
		<tr><td>
			<input type="submit" name="setsendemailsubmit" value="Lưu" class="submit" />
			<div class="gray">
				Nhắc nhở qua email sẽ được gửi đến hộp thư $space[email] của bạn.
				(<a href="cp.php?ac=profile&op=contact">Cập nhật E-mail</a>)
			</div>
		</td></tr>
	</table>
<!--{/if}-->
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>


<!--{template footer}-->