<!--{eval $_TPL['titles'] = array('Thăm dò');}-->
<!--{template header}-->

<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_poll">
		<h3 class="feed_header">
			<a href="cp.php?ac=poll" class="r_option" target="_blank">Tạo thăm dò</a>
			Thăm dò ($count)</h3>
		<!--{if $list}-->
		<ul class="line_list">
		<!--{loop $list $value}-->
			<li>
				<span class="gray r_option">{$value[voternum]} người bình chọn</span>
				<h4><a href="space.php?uid=$space[uid]&do=poll&pid=$value[pid]" target="_blank">$value[subject]</a></h4>
				<div class="detail">
				 <!--{loop $value['option'] $val}-->
					<p><input type="<!--{if $value[multiple]}-->checkbox<!--{else}-->radio<!--{/if}-->" disabled name="poll_$value[pid]"/> $val</p>
				 <!--{/loop}-->
				</div>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		
		<!--{else}-->
		<div class="c_form">Không tìm thấy cuộc thăm dò liên quan</div>
		<!--{/if}-->
	</div><br>
<!--{else}-->

<!--{if $space[self]}-->
<div class="searchbar floatright">
<form method="get" action="space.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="Tìm thăm dò" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="poll" />
	<input type="hidden" name="view" value="new" />
</form>
</div>
<h2 class="title"><img src="image/app/poll.gif" />Thăm dò</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[new]><a href="space.php?uid=$space[uid]&do=$do&view=new"><span>Mới nhất</span></a></li>
		<li$actives[hot]><a href="space.php?uid=$space[uid]&do=$do&view=hot"><span>Sôi nổi</span></a></li>
		<li$actives[reward]><a href="space.php?uid=$space[uid]&do=$do&view=reward"><span>Thăm dò điểm thưởng</span></a></li>
		<!--{if $space[friendnum]}--><li$actives[friend]><a href="space.php?uid=$space[uid]&do=$do&view=friend"><span>Thăm dò bạn bè</span></a></li><!--{/if}-->
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>Thăm dò của tôi</span></a></li>
		<li class="null"><a href="cp.php?ac=poll">Tạo thăm dò mới</a></li>
	</ul>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "Thăm dò";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=$do&view=me\">Tất cả thăm dò</a>";
}-->
<!--{template space_menu}-->
<div class="h_status">Thăm dò mới nhất</div>
<!--{/if}-->

<!--{if $space[self] && in_array($_GET['view'], array('me', 'hot'))}-->
<div class="h_status">
	<!--{if $_GET['view'] == 'hot'}-->
	Phạm vi: 
	<a href="space.php?uid=$space[uid]&do=$do&view=hot&filtrate=all"$filtrate[all]>Tất cả</a>
	<span class="pipe">|</span><a href="space.php?uid=$space[uid]&do=$do&view=hot&filtrate=week"$filtrate[week]>Sôi nổi trong tuần</a>
	<span class="pipe">|</span><a href="space.php?uid=$space[uid]&do=$do&view=hot&filtrate=month"$filtrate[month]>Sôi nổi trong tháng</a>
	<!--{else}-->
	Kiểu:
	<a href="space.php?uid=$space[uid]&do=$do&view=me"$filtrate[me]>Tôi tạo</a>
	<span class="pipe">|</span><a href="space.php?uid=$space[uid]&do=$do&view=me&filtrate=join"$filtrate[join]>Tôi tham gia</a>
	<span class="pipe">|</span><a href="space.php?uid=$space[uid]&do=$do&view=me&filtrate=expiration"$filtrate[expiration]>Đã kết thúc</a>
	<!--{/if}-->
</div>
<!--{/if}-->

<!--{if $searchkey}-->
<div class="h_status">Kết quả tìm kiếm cho <span style="color:red;font-weight:bold;">$searchkey</span></div>
<!--{/if}-->
	
<div id="content" style="width:100%;">
	<!--{if $count}-->
	<div class="poll_list">
		<ul>
		<!--{loop $list $value}-->
			<li>
				<div class="poll_user">
				<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
				<p><a href="space.php?uid=$value[uid]">{$_SN[$value[uid]]}</a></p>
				</div>
				<div class="poll_content">

					<h4>
						<!--{if $value[percredit]}--><span class="poll_reward">+$value[percredit]</span><!--{/if}--><a href="space.php?uid=$value[uid]&do=$do&pid=$value[pid]">$value[subject]</a>
					</h4>
					<div class="poll_options">
						<ol>
						 <!--{loop $value['option'] $val}-->
							<li><input type="<!--{if $value[multiple]}-->checkbox<!--{else}-->radio<!--{/if}-->" disabled name="poll_$value[pid]"/> $val</li>
						 <!--{/loop}-->
							<li>¡­¡­</li>
						 </ol>
						 <p>
						 	<span class="gray"><!--{date('Y-m-d H:i',$value[dateline],1)}--></span>
						 	<span class="pipe">|</span>
						 	<a href="space.php?uid=$value[uid]&do=$do&pid=$value[pid]#comment">Bình luận ($value[replynum])</a>
						 	<!--{if $_GET[view]=='me'&&$value[expiration]&&$value[expiration]<$_SGLOBAL[timestamp]}-->
						 	<span class="pipe">|</span>
						 	<span class="gray">Đã kết thúc</span><!--{if empty($value[summary])}-->&nbsp;<a class="green" href="space.php?uid=$value[uid]&do=$do&pid=$value[pid]">Kết quả:</a><!--{/if}-->
						 	<!--{/if}-->
						 </p>
					</div>
				</div>
				<div class="poll_status">
					<a href="space.php?uid=$value[uid]&do=$do&pid=$value[pid]" class="poll_joins pj_<!--{eval echo random(1, 1)}-->"><span>$value[voternum]</span>Người tham gia</a> <a href="space.php?uid=$value[uid]&do=$do&pid=$value[pid]" class="go2_poll">Bình chọn</a>
				</div>
			</li>
		<!--{/loop}-->
			
		</ul>
	</div>
	
	<div class="page">$multi</div>
	
	<!--{else}-->
	<div class="c_form">Không tìm thấy cuộc thăm dò liên quan</div>
	<!--{/if}-->

</div>
<!--{/if}-->

<!--{template footer}-->